<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, required: true %>
  </div>

  <div class="field">
    <%= form.label :asins %>
    <%= form.text_field :asins, required: true %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, name: "attachment[file][]" %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags, required: true %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.select :country, [
      ['Australia', 'au'],
      ['Belgium', 'be'],
      ['Brazil', 'br'],
      ['Canada', 'ca'],
      ['France', 'fr'],
      ['Germany', 'de'],
      ['Italy', 'it'],
      ['Japan', 'jp'],
      ['Mexico', 'mx'],
      ['Netherlands', 'nl'],
      ['Poland', 'pl'],
      ['Singapore', 'sg'],
      ['Spain', 'es'],
      ['Sweden', 'se'],
      ['United Arab Emirates', 'ae'],
      ['United Kingdom', 'gb'],
      ['United States', 'us']
    ], required: true, class: 'lp-pom-form-field', style: 'background-color: #1b6a62;' %>
  </div>

    <%= form.hidden_field :user_id, value: current_user&.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
