<div class="header-clear-medium">
<!--   <%= current_user&.checkMembership %> -->
  <% if current_user&.admin? || (current_user&.present? && current_user&.checkMembership[:membershipType] == 'business' && current_user.blogs.size <= 9 && current_user&.checkMembership[:membershipDetails][:active] == true) || (current_user&.present? && current_user&.checkMembership[:membershipType] == 'automation'&& current_user&.checkMembership[:membershipDetails][:active] == true) %>  
    <%= link_to 'New Post', "/blog/new?&referredBy=#{current_user&.present? ? current_user&.uuid : params['referredBy']}", class: 'btn btn-m btn-full mb-3 rounded-sm text-uppercase font-900 color-highlight bg-theme' %>
  <% end %>

  <div class="card card-style mt-2">
    <div class="content text-center">
        <h1 class="font-700 font-25 opacity-50 text-center mt-4">Welcome To The Hive</h1>
        <h1 class="font-700 font-18 opacity-50 text-center">Amazon Products With Buzz!</h1>
    </div>
  </div>
  
  <% if @featured.present? %>
    <div class="splide double-slider slider-no-arrows slider-no-dots splide--loop splide--ltr splide--draggable is-active" id="double-slider-1" style="visibility: visible;">
        <div class="splide__arrows"><button class="splide__arrow splide__arrow--prev" type="button" aria-controls="double-slider-1-track" aria-label="Previous slide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg></button><button class="splide__arrow splide__arrow--next" type="button" aria-controls="double-slider-1-track" aria-label="Next slide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg></button></div><div class="splide__track" id="double-slider-1-track">
            <div class="splide__list" id="double-slider-1-list" style="transform: translateX(-4536px);">
              <% @featured.each do |blog| %>
                <div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1" style="width: 1512px;">
                    <a href="/blog/<%= blog.title.parameterize(separator: '-') %>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style" style='background-image: url("<%=  blog.images.split(',').shuffle.first %>")' data-card-height="300" style="height: 300px;">
                        <div class="card-top">
                          <span class="p-2 m-1 float-end flag-icon flag-icon-<%= blog.country.downcase %> font-20"></span>
                            
                        </div>
                        <div class="card-bottom m-3">
                            <h1 class="color-white font-20"><%= blog.title %></h1>
                            <p class="mb-0 color-white font-12 opacity-40 pt-1"><%= time_ago_in_words(blog.created_at) %> ago</p>
                        </div>
                        <div class="card-overlay bg-gradient opacity-90"></div>
                    </a>
                </div>
              <% end %>
        </div>
    <ul class="splide__pagination"><li><button class="splide__pagination__page" type="button" aria-controls="double-slider-1-slide01" aria-label="Go to slide 1"></button></li><li><button class="splide__pagination__page is-active" type="button" aria-controls="double-slider-1-slide02" aria-label="Go to slide 2" aria-current="true"></button></li><li><button class="splide__pagination__page" type="button" aria-controls="double-slider-1-slide03" aria-label="Go to slide 3"></button></li></ul></div>
  <% end %>
    <%= render 'application/getpaidaffiliates', message: 'Oarlin members can get paid to share any posts or product!', title: ['You could earn commission'.titleize, 'explore, share, earn'.titleize].sample %>
    <div class="row mb-0">
        <div class="col-6 pe-0">
          <% if @blogs[0].present? %>
            <a href="/blog/<%= @blogs[0].title.parameterize(separator: '-') %>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style mb-2" style='background-image: url("<%=  @blogs[0].images.split(',').shuffle.first %>");height: 135px;' data-card-height="135">
                <div class="card-top text-center">
                  <span class="p-2 m-1 float-end flag-icon flag-icon-<%= @blogs[0].country.downcase %> font-20"></span>
                  <% @blogs[0]&.tags.present? && @blogs[0]&.tags&.split(',').shuffle.take(1).each do |tag| %>
                    <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                  <% end %>
                </div>


                <div class="card-bottom p-3">
                    <h5 class="color-white font-500 font-14 mb-n1">
                        <%= @blogs[0].title %>
                    </h5>
                    <span class="color-white opacity-50 font-10">
                      <%= time_ago_in_words(@blogs[0].created_at) %> ago</span>

                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
          <% end %>
          <% if @blogs[1].present? %>
            <a href="/blog/<%= @blogs[1].title.parameterize(separator: '-') %>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style mb-2" data-card-height="135" style='background-image: url("<%=  @blogs[1].images.split(',').shuffle.first %>");height: 135px;'>
                <div class="card-top text-center">
                  <span class="p-2 m-1 float-end flag-icon flag-icon-<%= @blogs[1].country.downcase %> font-20"></span>
                  <% @blogs[1]&.tags.present? && @blogs[1]&.tags&.split(',').shuffle.take(1).each do |tag| %>
                    <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                  <% end %>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500 font-14 mb-n1"><%= @blogs[1].title %></h5>
                    <span class="color-white opacity-50 font-10"><%= time_ago_in_words(@blogs[1].created_at) %> ago</span>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
          <% end %>
        </div>
        <div class="col-6 ps-0">
          <% if @blogs[2].present? %>
            <a href="/blog/<%= @blogs[2].title.parameterize(separator: '-') %>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style ms-0" style='background-image: url("<%=  @blogs[2].images.split(',').shuffle.first %>")' data-card-height="280" style="height: 280px;">
                <div class="card-top text-center">
                  <span class="p-2 m-1 float-end flag-icon flag-icon-<%= @blogs[2].country.downcase %> font-20"></span>
                  <% @blogs[2]&.tags.present? && @blogs[2]&.tags&.split(',').shuffle.take(1).each do |tag| %>
                    <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                  <% end %>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500"><%= @blogs[2].title %></h5>
                    <span class="color-white opacity-50 font-10"><%= time_ago_in_words(@blogs[2].created_at) %> ago</span>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
          <% end %>
        </div>
    </div>

    <div class="row mb-0 mt-n3">
        <div class="col-6 pe-0">
          <% if @blogs[3].present? %>
            <a href="/blog/<%= @blogs[3].title.parameterize(separator: '-') %>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style" style="background-image: url('<%=  @blogs[3].images.split(',').shuffle.first %>');height: 280px;" data-card-height="280" style="">
                <div class="card-top text-center">
                  <span class="p-2 m-1 float-end flag-icon flag-icon-<%= @blogs[3].country.downcase %> font-20"></span>
                  <% @blogs[3]&.tags.present? && @blogs[3]&.tags&.split(',').shuffle.take(1).each do |tag| %>
                    <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                  <% end %>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500"><%= @blogs[3].title %></h5>
                    <span class="color-white opacity-50 font-10"><%= time_ago_in_words(@blogs[3].created_at) %> ago</span>
                </div>
                <div class="card-overlay bg-black opacity-80"></div>
            </a>
          <% end %>
        </div>
        <div class="col-6 ps-0">
          <% if @blogs[4].present? %>
            <a href="/blog/<%= @blogs[4].title.parameterize(separator: '-') %>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card ms-0 card-style mb-2" data-card-height="135" style="background-image: url('<%=  @blogs[4].images.split(',').shuffle.first %>');height: 135px;">
                <div class="card-top text-center">
                  <span class="p-2 m-1 float-end flag-icon flag-icon-<%= @blogs[4].country.downcase %> font-20"></span>
                    <% @blogs[4]&.tags.present? && @blogs[4]&.tags&.split(',').shuffle.take(1).each do |tag| %>
                      <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                    <% end %>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500 font-14 mb-n1"><%= @blogs[4].title %></h5>
                    <span class="color-white opacity-50 font-10"><%= time_ago_in_words(@blogs[4].created_at) %> ago</span>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
          <% end %>
          <% if @blogs[5].present? %>
            <a href="/blog/<%= @blogs[5].title.parameterize(separator: '-') %>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card ms-0 card-style mb-2" data-card-height="135" style="background-image: url('<%=  @blogs[5].images.split(',').shuffle.first %>');height: 135px;">
                <div class="card-top text-center">
                  <span class="p-2 m-1 float-end flag-icon flag-icon-<%= @blogs[5].country.downcase %> font-20"></span>
                    <% @blogs[5]&.tags.present? && @blogs[5]&.tags&.split(',').shuffle.take(1).each do |tag| %>
                      <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                    <% end %>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500 font-14 mb-n1"><%= @blogs[5].title %></h5>
                    <span class="color-white opacity-50 font-10"><%= time_ago_in_words(@blogs[5].created_at) %> ago</span>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
          <% end %>
        </div>
    </div>
</div>
<br>
<nav aria-label="pagination-demo">
    <ul class="pagination justify-content-center">
        <% if params['page'].to_i > 1 %>
          <li class="page-item">
              <a class="page-link rounded-xs bg-highlight color-white py-2 border-0" href="/blog?page=<%= params['page'].to_i - 1 %>&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left"></i></a>
          </li>
        <% end %>
        <% @blogs.total_pages.times do |pageNum|%>

          <li class="page-item"><a class="page-link rounded-xs py-2 bg-highlight color-white border-0" disabled='true' href="/blog?page=<%= pageNum + 1 %>&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>"><%= pageNum + 1 %></a></li>
        <% end %>
        <% if params['page'].to_i < @blogs.total_pages %>
          <li class="page-item">
              <a class="page-link rounded-xs bg-highlight color-white py-2 border-0" href="/blog?page=<%= params['page'].to_i + 1 %>&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>"><i class="fa fa-angle-right"></i></a>
          </li>
        <% end %>
    </ul>
</nav>
