

<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
  <div class="card card-style over-card" style="margin-top:-120px; margin-bottom:10px">
          <% if @blog&.user == current_user || current_user&.manager? %>
            <p><%= link_to 'Edit', edit_blog_path(@blog) %> | <%= link_to 'Back', blogs_path %></p>
          <% end %>
        <% if @blog.images.present? %>
          <div class="splide single-slider slider-arrows slider-no-dots splide--loop splide--ltr splide--draggable is-active" id="single-slider-334" style="visibility: visible;">
            <div class="splide__arrows"><button class="splide__arrow splide__arrow--prev" type="button" aria-controls="single-slider-334-track" aria-label="Go to last slide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg></button><button class="splide__arrow splide__arrow--next" type="button" aria-controls="single-slider-334-track" aria-label="Next slide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg></button></div><div class="splide__track" id="single-slider-334-track">
                    <div class="splide__list" id="single-slider-334-list" style="transform: translateX(-3024px);">
                      
                        <% @blog.images.split(',').each do |img| %>
                          <div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1" style="width: 1512px;">
                              <div data-card-height="300" class="card mx-3 bg-14 rounded-m shadow-l" style='background-image: url("<%=  img %>");height: 300px;'>
                                  <!-- <div class="card-bottom text-center mb-3">
                                      <h2 class="color-white text-uppercase font-900 mb-0">Top Notch Quality</h2>
                                      <p class="under-heading color-white">Flexibility, Speed, Ease of Use.</p>
                                  </div> -->
                              </div>
                          </div>
                        <% end %>
                      
                    </div>

                </div>
            <ul class="splide__pagination"><li><button class="splide__pagination__page is-active" type="button" aria-controls="single-slider-334-slide01" aria-label="Go to slide 1" aria-current="true"></button></li><li><button class="splide__pagination__page" type="button" aria-controls="single-slider-334-slide02" aria-label="Go to slide 2"></button></li><li><button class="splide__pagination__page" type="button" aria-controls="single-slider-334-slide03" aria-label="Go to slide 3"></button></li></ul>
          </div>
        <% end %>
      <div class="content">

          
        

          
          <div class="d-flex">
              <% @blog.tags.split(',').shuffle.take(1).each do |tag| %>
                  <div class="me-auto"><span class="badge no-click bg-green-dark p-2 text-uppercase rounded-s mb-3"><%= tag %></span></div>
              <% end %>


              <a href="#" class="btn btn-s text-uppercase font-900 bg-highlight mb-4"><span class="flag-icon flag-icon-<%= @blog.country.downcase %> font-20"></span><i class="font-20 color-white px-1 fa fa-amazon"></i> Affiliate Eligible</a>

          </div>

          <h1 class="font-20 line-height-m pb-2">
            <%= @blog.title %><br>
            <i class="font-20 px-1 fa fa-eye"></i> <%= Ahoy::Event.where_event("Blog Page Visit").count %>
          </h1>
          

          <p class="pt-2"><%= simple_format(@blog.body) %></p>
          <div class="font-20 text-center">
            Share With The World <%= social_share_button_tag(@blog.title, :url => "https://#{request.env['HTTP_HOST']}", :image =>  @blog.images.split(',').shuffle.take(1)[0], desc: truncate(@blog.body, length: 50)) %>
          </div>
      </div>
  </div>


  <h1 class="content">Shop</h1>
  <div class="splide single-slider slider-arrows slider-no-dots splide--loop splide--ltr splide--draggable is-active" id="single-slider-34" style="visibility: visible;">
    <div class="splide__arrows"><button class="splide__arrow splide__arrow--prev" type="button" aria-controls="single-slider-34-track" aria-label="Go to last slide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg></button><button class="splide__arrow splide__arrow--next" type="button" aria-controls="single-slider-34-track" aria-label="Next slide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg></button></div><div class="splide__track" id="single-slider-34-track">
            <div class="splide__list" id="single-slider-34-list" style="transform: translateX(-3024px);">
              <% @blog.asins.split(',').each do |asin| %>
                <div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1" style="width: 1512px;">
                    <div data-card-height="300" class="card mx-3 bg-14 rounded-m shadow-l" style='background-image: url("<%=  asin %>");height: 300px;'>
                        <div class="card-bottom text-center mb-3 row">
                          <div class="col-6">
                            <a href="<%= amazon_path(asin: asin, country: @blog['country']) %>" target='_blank'>
                              <%= button_tag( :class => "btn btn-m font-900 text-uppercase rounded-sm bg-yellow-dark form-control") do %>
                                <i class="fa fa-amazon font-20 color-white"></i> Buy On Amazon
                              <% end %>
                            </a>
                          </div>
                          <div class="col-6">
                            <a href="<%= product_path(id: asin) %>" target='_blank'>
                              <%= button_tag( :class => "btn btn-m font-900 text-uppercase rounded-sm bg-highlight form-control") do %>
                                <i class="fa fa-eye font-20 color-white"></i> View On Oarlin
                              <% end %>
                            </a>
                          </div>  
                        </div>
                        <div class="card-overlay bg-gradient"></div>
                    </div>
                </div>
              <% end %>
            </div>

        </div>
    <ul class="splide__pagination"><li><button class="splide__pagination__page is-active" type="button" aria-controls="single-slider-34-slide01" aria-label="Go to slide 1" aria-current="true"></button></li><li><button class="splide__pagination__page" type="button" aria-controls="single-slider-34-slide02" aria-label="Go to slide 2"></button></li><li><button class="splide__pagination__page" type="button" aria-controls="single-slider-34-slide03" aria-label="Go to slide 3"></button></li></ul>
  </div>
  

  <div class="card bg-17 under-card" data-card-height="300">
    <% if @blog.images.present? %>
      <%= image_tag @blog.images.split(",").shuffle[0], style:"height: 100%;width: 100%;" %>
    <% end %>
      <div class="card-center text-center">
        <div class="rounded-xl text-center pb-3">
            <i class="font-20 color-yellow-dark px-1 fa fa-star"></i>
            <i class="font-20 color-yellow-dark px-1 fa fa-star"></i>
            <i class="font-20 color-yellow-dark px-1 fa fa-star"></i>
            <i class="font-20 color-yellow-dark px-1 fa fa-star"></i>
            <i class="font-20 color-gray-dark px-1 fa fa-star"></i>
        </div>
          <h1 class="color-white p-2">"Versatile and Easy to Use"</h1>
          <a href="#" class="btn btn-m mb-3 rounded-xs text-uppercase font-900 shadow-s bg-blue-dark"><i class="fa fa-gift font-20 color-white"></i> Secret Item</a>
      </div>
      <div class="card-overlay bg-black opacity-80"></div>
  </div>

  
<%= render 'application/getpaidaffiliates', message: 'Get paid to share blog posts like this one!' %>