<div class="row text-center mt-5 mb-n5">
  <% if (!User.find_by(uuid: @blog&.user&.uuid).admin?) %>
    <% if (current_user&.present? && current_user != @blog&.user) %>
      <small class="opacity-50 text-center mb-3">
        <%= button_tag( :class => "", 'data-toast'=>"split-sessions") do %>
          <span class="fa fa-info-circle color-yellow-dark p-2" ></span><u><em> Affiliate: "<%= Stripe::Customer.retrieve(User.find_by(uuid: @blog&.user&.uuid)&.stripeCustomerID)['name'].titleize %>" Posted This</em></u>
        <% end %>
        
      </small>
    <% end %>
  <% else %>
    <small class="opacity-50 text-center">
      <%= button_tag( :class => "") do %>
        </span> <u><em></em></u>
      <% end %>
      An Oarlin Original
    </small>

  <% end %>
</div>
<div class="header-clear-medium">

  <div class="card card-style over-card mb-4">
          
        <% if @blog.images.present? %>
          <div class="splide double-slider slider-no-dots slider-no-arrows splide--loop splide--ltr splide--draggable is-active" id="double-slider-334" style="visibility: visible;">
            <div class="splide__arrows"><button class="splide__arrow splide__arrow--prev" type="button" aria-controls="double-slider-334-track" aria-label="Go to last slide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg></button><button class="splide__arrow splide__arrow--next" type="button" aria-controls="double-slider-334-track" aria-label="Next slide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg></button></div><div class="splide__track" id="double-slider-334-track">
                    <div class="splide__list" id="double-slider-334-list" style="transform: translateX(-3024px);">
                      
                        <% @blog.images.split(',').each_with_index do |img, indx| %>
                          <div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1" style="width: 1512px;">
                              <div data-card-height="300" class="card mx-3 bg-14 rounded-m shadow-l" style='background-image: url("<%=  "https://res.cloudinary.com/dulizdfij/image/upload/c_fill,g_auto/blog/#{current_user.uuid}/#{@blog.title.parameterize(separator: "-")}-#{indx}.jpg" %>");height: 300px;'>
                                  <!-- <div class="card-bottom text-center mb-3">
                                      <h2 class="color-white text-uppercase font-900 mb-0">Top Notch Quality</h2>
                                      <p class="under-heading color-white">Flexibility, Speed, Ease of Use.</p>
                                  </div> -->
                              </div>
                          </div>
                        <% end %>
                      
                    </div>

                </div>
            <ul class="splide__pagination"><li><button class="splide__pagination__page is-active" type="button" aria-controls="double-slider-334-slide01" aria-label="Go to slide 1" aria-current="true"></button></li><li><button class="splide__pagination__page" type="button" aria-controls="double-slider-334-slide02" aria-label="Go to slide 2"></button></li><li><button class="splide__pagination__page" type="button" aria-controls="double-slider-334-slide03" aria-label="Go to slide 3"></button></li></ul>
          </div>
        <% end %>
      <div class="content">

          
        

          
          <% if @blog&.user == current_user || current_user&.manager? %>
            <a href="<%= edit_blog_path(@blog) %>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class='mb-4'>
              <%= button_tag( :class => "btn btn-m font-900 text-uppercase rounded-sm bg-yellow-dark form-control") do %>
                <i class="fa fa-pencil font-20 color-white"></i>
              <% end %>
            </a>
            <br><br><br>
          <% end %>
          
          <div class="d-flex">
            <div class="flex-grow-1 p-1">
              <h1 class="font-20">
                <%= @blog.title %><br>
                <i class="font-20 px-1 fa fa-eye"></i> <%= Ahoy::Event.where_event("Blog Page Visit", title: @blog.title).count %>
              </h1>
              <% @blog&.tags.present? && @blog&.tags.split(',').shuffle.each do |tag| %>
                <%if tag.present? %>
                  <span class="badge no-click bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s mb-3"><%=  tag %></span>
                <% end %>
              <% end %>
            </div>
            <div class="flex-shrink-1 p-1">
              <a href="#" data-menu="flag-country-explained" class="btn btn-sm text-uppercase font-900 bg-highlight mb-4 rounded-sm"><i class="font-20 color-white px-1 fa fa-amazon"></i><span class="flag-icon flag-icon-<%= @blog.country.downcase %> font-20"></span></a></a>
            </div>
          </div>
          
          <div class="divider mt-2 mb-3"></div>
          <p class="pt-2"><%= simple_format(@blog.body) %></p>
          <div class="font-20 text-center">
            Share With The World <%= social_share_button_tag(@blog.title, :url => "https://#{request.env['HTTP_HOST']}", :image =>  @blog.images.split(',').shuffle.take(1)[0], desc: truncate(@blog.body, length: 50)) %>
          </div>
      </div>
      <div class="row row-cols-3">
        <% @blog.images.split(',').each_with_index do |img,indx| %>
          <a data-gallery="gallery-1" href="<%= "https://res.cloudinary.com/dulizdfij/image/upload/c_fill,g_auto/blog/#{current_user.uuid}/#{@blog.title.parameterize(separator: "-")}-#{indx}.jpg" %>" title="<%= @blog.title %>">
              <img src="<%=  "https://res.cloudinary.com/dulizdfij/image/upload/c_fill,g_auto/blog/#{current_user.uuid}/#{@blog.title.parameterize(separator: "-")}-#{indx}.jpg" %>" data-src="<%= "https://res.cloudinary.com/dulizdfij/image/upload/c_fill,g_auto/blog/#{current_user.uuid}/#{@blog.title.parameterize(separator: "-")}-#{indx}.jpg"%>" class="img-fluid rounded-m preload-img entered loaded" alt="img" data-ll-status="loaded" style="height: 200;">
          </a>
        <% end %>
      </div>
  </div>
    
  <%= render 'application/getpaidaffiliates', message: ['Get paid to share blog posts like this one!'.titleize, 'Earn a commission when you share!'.titleize].sample, title: ['Getting Paid is as easy as sharing'.titleize, 'explore, share, earn'.titleize].sample %>


  <div class="card card-style">
    <div class="content mb-4">
        <h2>Mentioned Products</h2>
        <p>Products you may also like based on what you're currently looking at.
    </div>
    <div class="splide double-slider slider-no-arrows slider-no-dots" id="double-slider-1">
        <div class="splide__track">
            <div class="splide__list">
              <% @blog&.asins.present? && @blog&.asins.split(',').each do |asin| %>
                <div class="splide__slide">
                    <div data-card-height="230" class="card mx-3 rounded-m shadow-l bg-13">
                        <div class="card-bottom text-center">
                            <h2 class="color-white font-900 mb-0">EazyMobile</h2>
                            <p class="text-center mb-3">
                                <i class="fa fa-star color-yellow-dark"></i>
                                <i class="fa fa-star color-yellow-dark"></i>
                                <i class="fa fa-star color-yellow-dark"></i>
                                <i class="fa fa-star color-yellow-dark"></i>
                                <i class="fa fa-star color-yellow-dark"></i>
                            </p>
                            <a href="<%= product_path(id: asin) %>?&referredBy=<%= @blog&.user&.uuid  %>" class='btn btn-m font-900 text-uppercase rounded-sm bg-highlight btn-full me-2 ms-2 mb-2'>
                              <%= button_tag( :class => "") do %>
                                <i class="fa fa-info-circle font-20 color-white text-center"></i>
                              <% end %>
                            </a>
                        </div>
                        <div class="card-overlay bg-gradient"></div>
                    </div>
                </div>
              <% end %>
            </div>
        </div>
    </div>
  </div>
  

  <div class="card bg-17 under-card" data-card-height="300">
    <% if @blog.images.present? %>
      <%= image_tag @blog.images.split(",").shuffle[0], style:"height: 100%;width: 100%;" %>
    <% end %>
      <div class="card-center text-center">
        <div class="rounded-xl text-center pb-3">
            <i class="font-20 color-yellow-dark px-1 fa fa-star"></i>
            <i class="font-20 color-yellow-dark px-1 fa fa-star"></i>
            <i class="font-20 color-yellow-dark px-1 fa fa-star"></i>
            <i class="font-20 color-yellow-dark px-1 fa fa-star"></i>
            <i class="font-20 color-gray-dark px-1 fa fa-star"></i>
        </div>
          <h1 class="color-white p-2">"Versatile and Easy to Use"</h1>
          <a href="/view-on-amazon/<%= @blog&.asins.split(',').shuffle[0] %>/<%= @blog.country.downcase %>/?&referredBy=<%=  @blog&.user&.uuid %>" class="btn btn-m mb-3 rounded-xs text-uppercase font-900 shadow-s bg-yellow-dark" target='_blank'><i class="fa fa-amazon font-20 color-white"></i> Secret Item</a>
      </div>
      <div class="card-overlay bg-black opacity-80"></div>
  </div>
</div>
  

<div id="flag-country-explained" class="menu menu-box-modal rounded-m" data-menu-width="330" style="display: block; width: 330px;">
  <div class="content">
    <div class="text-center">
      <span class="font-40 icon icon-xxl fa fa-amazon"></span>
    </div>
    <h5 class="text-center">This Icon Means There Are Amazon Affiliate Links Present</a>
    </h5>
    <small>This Page Contains Amazon Affiliate Links That Will Earn That Affiliate Commission If Purchased. We Automate This Process For All Amazon Associates &amp; Pay Commission On Our Memberships As Well (Available In USA)</small>
    <a data-menu="modal-wizard-step-2">
      <%= button_tag( :class => "btn btn-full btn-m font-900 text-uppercase rounded-sm bg-highlight form-control mt-4 mb-4") do %>
        <span class="flag-icon flag-icon-<%= @blog.country.downcase %> font-20"></span> What Does This Icon Mean?
      <% end %>
    </a>  
  </div>
</div>

<div id="modal-wizard-step-2" class="menu menu-box-modal rounded-m" data-menu-width="330" style="display: block; width: 330px;">
  <div class="content mb-2">
    <div class="text-center">
      <span class="flag-icon flag-icon-<%= @blog.country.downcase %> font-40"></span>
    </div>
    <h5 class="text-center">This Icon Means The Amazon Affiliate Links Originate From <%= User::ACCEPTEDcountries[@blog.country.downcase][:country] %>. </a>
    </h5>
    <small>Affiliates From Other Countries May Be Eligible. Check With Amazon Or Contact Us To Help. These Products May Not Be Available For Purchase In All Countries.</small>
 
  </div>
</div>
<div id="split-sessions" class="snackbar-toast rounded-m bg-highlight-dark fade hide" data-bs-delay="10000" data-bs-autohide="true"><i class="fa fa-info-circle color-yellow-dark "></i> Give credit where it's due! Before you purchase something recommended from The Hive we make sure to fill the links with their Amazon associates ID</div>