<div class="page-content header-clear-medium">
  <div class="content mt-n1">
    <div class="search-box bg-theme color-theme rounded-m shadow-l">
      <i class="fa fa-search"></i>
      <%= form_for :newSearch, url: search_path do |f| %>
        <%= f.text_field :for, class: 'border-0' %>
      <% end %>

      <!-- <input type="text" class="border-0" placeholder="Search.. - try Milk " data-search=""> -->
      <!-- <a href="#" class="clear-search disabled mt-0"><i class="fa fa-times color-red-dark"></i></a> -->
    </div>

    <div class="search-results disabled-search-list mt-3">
        <div class="card card-style mx-0 px-2 p-0 mb-0">
            <a href="#" class="d-flex py-2" data-filter-item="" data-filter-name="all coffee milk fresh dairy taste">
                <div>
                    <img src="images/grocery/6s.jpg" class="rounded-sm me-3" width="50" alt="img">
                </div>
                <div>
                    <span class="color-highlight font-400 d-block pt-0 text-uppercase font-10">Local Farm</span>
                    <strong class="color-theme font-16 d-block mt-n2">Fresh Milk</strong>
                </div>
                <div class="ms-auto text-center align-self-center pe-2">
                    <h5 class="line-height-xs font-18 pt-3">$4.<sup class="font-14">50</sup></h5>
                    <span class="font-9 d-block mt-n2">Price per Gallon</span>
                </div>
            </a>
            <a href="#" class="d-flex py-2" data-filter-item="" data-filter-name="all fruit orange europe">
                <div>
                    <img src="images/grocery/7s.jpg" class="rounded-sm me-3" width="50" alt="img">
                </div>
                <div>
                    <span class="color-highlight font-400 d-block pt-0 text-uppercase font-10">European Import</span>
                    <strong class="color-theme font-16 d-block mt-n2">Oranges</strong>
                </div>
                <div class="ms-auto text-center align-self-center pe-2">
                    <h5 class="line-height-xs font-18 pt-3">$6.<sup class="font-14">50</sup></h5>
                    <span class="font-9 d-block mt-n2">Price per 12 Pcs</span>
                </div>
            </a>
            <a href="#" class="d-flex py-2" data-filter-item="" data-filter-name="all fruit peach carolina usa">
                <div>
                    <img src="images/grocery/5s.jpg" class="rounded-sm me-3" width="50" alt="img">
                </div>
                <div>
                    <span class="color-highlight font-400 d-block pt-0 text-uppercase font-10">From Carolina</span>
                    <strong class="color-theme font-16 d-block mt-n2">Peaches</strong>
                </div>
                <div class="ms-auto text-center align-self-center pe-2">
                    <h5 class="line-height-xs font-18 pt-3">$8.<sup class="font-14">50</sup></h5>
                    <span class="font-9 d-block mt-n2">Price per 6 Pcs</span>
                </div>
            </a>
            <a href="#" class="d-flex py-2" data-filter-item="" data-filter-name="all fruit tomato legume europe">
                <div>
                    <img src="images/grocery/12s.jpg" class="rounded-sm me-3" width="50" alt="img">
                </div>
                <div>
                    <span class="color-highlight font-400 d-block pt-0 text-uppercase font-10">Asian Import</span>
                    <strong class="color-theme font-16 d-block mt-n2">Tomatos</strong>
                </div>
                <div class="ms-auto text-center align-self-center pe-2">
                    <h5 class="line-height-xs font-18 pt-3">$4.<sup class="font-14">50</sup></h5>
                    <span class="font-9 d-block mt-n2">Price per 8 Pcs</span>
                </div>
            </a>
            <a href="#" class="d-flex py-2" data-filter-item="" data-filter-name="all cucumber pickle legume europe">
                <div>
                    <img src="images/grocery/4s.jpg" class="rounded-sm me-3" width="50" alt="img">
                </div>
                <div>
                    <span class="color-highlight font-400 d-block pt-0 text-uppercase font-10">Australian Import</span>
                    <strong class="color-theme font-16 d-block mt-n2">Cucumber</strong>
                </div>
                <div class="ms-auto text-center align-self-center pe-2">
                    <h5 class="line-height-xs font-18 pt-3">$4.<sup class="font-14">50</sup></h5>
                    <span class="font-9 d-block mt-n2">Price per 12 Pcs</span>
                </div>
            </a>
            <a href="#" class="d-flex py-2" data-filter-item="" data-filter-name="all salad cabbage legume europe">
                <div>
                    <img src="images/grocery/11s.jpg" class="rounded-sm me-3" width="50" alt="img">
                </div>
                <div>
                    <span class="color-highlight font-400 d-block pt-0 text-uppercase font-10">Local Farm</span>
                    <strong class="color-theme font-16 d-block mt-n2">Cabbage</strong>
                </div>
                <div class="ms-auto text-center align-self-center pe-2">
                    <h5 class="line-height-xs font-18 pt-3">$1.<sup class="font-14">50</sup></h5>
                    <span class="font-9 d-block mt-n2">Price per 10 Pcs</span>
                </div>
            </a>
        </div>
    </div>
    <div class="d-flex px-3 mb-n3 mt-5">
        <div class="align-self-center">
            <h4 class="mb-0 color-highlight text-uppercase">Recommended Categories</h4>
        </div>
        <div class="align-self-center ms-auto">
            <a href="#" class="font-12 btn btn-m btn-full mb-3 rounded-sm text-uppercase font-900 color-highlight bg-theme">View All</a>
        </div>
    </div>
    <div class="splide double-slider slider-no-dots text-center visible-slider splide--loop splide--ltr splide--draggable is-active" id="double-slider-1a" style="visibility: visible;">
          <div class="splide__track" id="double-slider-1a-track">
              <div class="splide__list" id="double-slider-1a-list" style="transform: translateX(-1540px);">
                  <div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1" style="width: 220px;">
                      <a href="#" class="mx-3">
                          <div class="card card-style me-0 mb-0" style="background-image: url(&quot;images/grocery/7m.jpg&quot;); height: 150px;" data-card-height="150">
                              <div class="card-bottom p-2 px-3">
                                  <h4 class="color-white">Fruit</h4>
                              </div>
                              <div class="card-overlay bg-gradient opacity-80"></div>
                          </div>
                      </a>
                  </div><div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1" style="width: 220px;">
                      <a href="#" class="mx-3">
                          <div class="card card-style me-0 mb-0" style="background-image: url(&quot;images/grocery/9m.jpg&quot;); height: 150px;" data-card-height="150">
                              <div class="card-bottom p-2 px-3">
                                  <h4 class="color-white">Veggies</h4>
                              </div>
                              <div class="card-overlay bg-gradient opacity-80"></div>
                          </div>
                      </a>
                  </div><div class="splide__slide splide__slide--clone" style="width: 220px;">
                      <a href="#" class="mx-3">
                          <div class="card card-style me-0 mb-0" style="background-image: url(&quot;images/grocery/2m.jpg&quot;); height: 150px;" data-card-height="150">
                              <div class="card-bottom p-2 px-3">
                                  <h4 class="color-white">Grains</h4>
                              </div>
                              <div class="card-overlay bg-gradient opacity-80"></div>
                          </div>
                      </a>
                  </div><div class="splide__slide splide__slide--clone" style="width: 220px;">
                      <a href="#" class="mx-3">
                          <div class="card card-style me-0 mb-0" style="background-image: url(&quot;images/grocery/6m.jpg&quot;); height: 150px;" data-card-height="150">
                              <div class="card-bottom p-2 px-3">
                                  <h4 class="color-white">Dariy</h4>
                              </div>
                              <div class="card-overlay bg-gradient opacity-80"></div>
                          </div>
                      </a>
                  </div><div class="splide__slide" id="double-slider-1a-slide01" aria-hidden="true" tabindex="-1" style="width: 220px;">
                      <a href="#" class="mx-3">
                          <div class="card card-style me-0 mb-0" style="background-image: url(&quot;images/grocery/10m.jpg&quot;); height: 150px;" data-card-height="150">
                              <div class="card-bottom p-2 px-3">
                                  <h4 class="color-white">Specials</h4>
                              </div>
                              <div class="card-overlay bg-gradient opacity-80"></div>
                          </div>
                      </a>
                  </div>
                  <div class="splide__slide" id="double-slider-1a-slide02" aria-hidden="true" tabindex="-1" style="width: 220px;">
                      <a href="#" class="mx-3">
                          <div class="card card-style me-0 mb-0" style="background-image: url(&quot;images/grocery/7m.jpg&quot;); height: 150px;" data-card-height="150">
                              <div class="card-bottom p-2 px-3">
                                  <h4 class="color-white">Fruit</h4>
                              </div>
                              <div class="card-overlay bg-gradient opacity-80"></div>
                          </div>
                      </a>
                  </div>
                  <div class="splide__slide" id="double-slider-1a-slide03" style="width: 220px;" aria-hidden="true" tabindex="-1">
                      <a href="#" class="mx-3">
                          <div class="card card-style me-0 mb-0" style="background-image: url(&quot;images/grocery/9m.jpg&quot;); height: 150px;" data-card-height="150">
                              <div class="card-bottom p-2 px-3">
                                  <h4 class="color-white">Veggies</h4>
                              </div>
                              <div class="card-overlay bg-gradient opacity-80"></div>
                          </div>
                      </a>
                  </div>
                  <div class="splide__slide is-visible is-active" id="double-slider-1a-slide04" style="width: 220px;" aria-hidden="false" tabindex="0">
                      <a href="#" class="mx-3">
                          <div class="card card-style me-0 mb-0" style="background-image: url(&quot;images/grocery/2m.jpg&quot;); height: 150px;" data-card-height="150">
                              <div class="card-bottom p-2 px-3">
                                  <h4 class="color-white">Grains</h4>
                              </div>
                              <div class="card-overlay bg-gradient opacity-80"></div>
                          </div>
                      </a>
                  </div>
                  <div class="splide__slide is-visible" id="double-slider-1a-slide05" style="width: 220px;" aria-hidden="false" tabindex="0">
                      <a href="#" class="mx-3">
                          <div class="card card-style me-0 mb-0" style="background-image: url(&quot;images/grocery/6m.jpg&quot;); height: 150px;" data-card-height="150">
                              <div class="card-bottom p-2 px-3">
                                  <h4 class="color-white">Dariy</h4>
                              </div>
                              <div class="card-overlay bg-gradient opacity-80"></div>
                          </div>
                      </a>
                  </div>
              <div class="splide__slide splide__slide--clone" style="width: 220px;">
                      <a href="#" class="mx-3">
                          <div class="card card-style me-0 mb-0" style="background-image: url(&quot;images/grocery/10m.jpg&quot;); height: 150px;" data-card-height="150">
                              <div class="card-bottom p-2 px-3">
                                  <h4 class="color-white">Specials</h4>
                              </div>
                              <div class="card-overlay bg-gradient opacity-80"></div>
                          </div>
                      </a>
                  </div><div class="splide__slide splide__slide--clone" style="width: 220px;">
                      <a href="#" class="mx-3">
                          <div class="card card-style me-0 mb-0" style="background-image: url(&quot;images/grocery/7m.jpg&quot;); height: 150px;" data-card-height="150">
                              <div class="card-bottom p-2 px-3">
                                  <h4 class="color-white">Fruit</h4>
                              </div>
                              <div class="card-overlay bg-gradient opacity-80"></div>
                          </div>
                      </a>
                  </div><div class="splide__slide splide__slide--clone" style="width: 220px;">
                      <a href="#" class="mx-3">
                          <div class="card card-style me-0 mb-0" style="background-image: url(&quot;images/grocery/9m.jpg&quot;); height: 150px;" data-card-height="150">
                              <div class="card-bottom p-2 px-3">
                                  <h4 class="color-white">Veggies</h4>
                              </div>
                              <div class="card-overlay bg-gradient opacity-80"></div>
                          </div>
                      </a>
                  </div><div class="splide__slide splide__slide--clone" style="width: 220px;">
                      <a href="#" class="mx-3">
                          <div class="card card-style me-0 mb-0" style="background-image: url(&quot;images/grocery/2m.jpg&quot;); height: 150px;" data-card-height="150">
                              <div class="card-bottom p-2 px-3">
                                  <h4 class="color-white">Grains</h4>
                              </div>
                              <div class="card-overlay bg-gradient opacity-80"></div>
                          </div>
                      </a>
                  </div></div>
          </div>
      <ul class="splide__pagination"><li><button class="splide__pagination__page" type="button" aria-controls="double-slider-1a-slide01 double-slider-1a-slide02" aria-label="Go to page 1"></button></li><li><button class="splide__pagination__page" type="button" aria-controls="double-slider-1a-slide03 double-slider-1a-slide04" aria-label="Go to page 2"></button></li><li><button class="splide__pagination__page is-active" type="button" aria-controls="double-slider-1a-slide04 double-slider-1a-slide05" aria-label="Go to page 3" aria-current="true"></button></li></ul>
    </div>

    <!-- #partial -->
    
    <div class="card card-style" style="background-image: url(&quot;images/grocery/5.jpg&quot;); height: 170px;" data-card-height="170">
        <div class="card-top p-3">
            <a href="<%= display_discount_path %>" data-menu="menu-offer" class="btn rounded-s scale-box font-700 text-uppercase float-end font-12 btn btn-m mb-3 rounded-sm text-uppercase font-900 color-highlight bg-theme">SEE CODE</a>
        </div>
        <div class="card-center">
            <div class="bg-white d-inline-block px-4 py-3 ms-n3 rounded-m">
                <h1 class="ps-2 color-highlight font-24 font-800 mb-n1">Up To 10% Off</h1>
                <p class="ps-2 color-highlight font-12 mb-0">Paid Membership Plans</p>
            </div>
        </div>
        <div class="card-overlay bg-black opacity-40"></div>
    </div>
  </div>
    <p>
        <% @searchCategories[0] %>
        <%= image_tag "icons8-game-50" %>
        <%= image_tag @searchCategories[0][:image].sample %>
    </p>
    <p>
        <% @searchCategories[1] %>
        <%= image_tag "icons8-lipstick-50.png" %>
        <%= image_tag @searchCategories[1][:image].sample %>
    </p>







    <div class="splide double-slider slider-no-dots visible-slider splide--loop splide--ltr splide--draggable is-active" id="double-slider-1a" style="visibility: visible;">
            <div class="splide__track" id="double-slider-1a-track">
                <div class="splide__list" id="double-slider-1a-list" style="transform: translateX(-630px);">
                    <%= @searchResults.each do |result| %>
                        <div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1" style="width: 157.5px;">
                            <a href="#" class="mx-3">
                                <div class="card card-style me-0 mb-0" style="background-image: url(&quot;images/fitness/3m.jpg&quot;); height: 250px;" data-card-height="250">
                                    <div class="card-bottom p-2 px-3">
                                        <h3 class="color-white line-height-s"><%= result %></h3>
                                    </div>
                                    <div class="card-overlay bg-gradient"></div>
                                </div>
                            </a>
                        </div>
                    <% end %>
                </div>
            </div>
        <ul class="splide__pagination"><li><button class="splide__pagination__page is-active" type="button" aria-controls="double-slider-1a-slide01 double-slider-1a-slide02" aria-label="Go to page 1" aria-current="true"></button></li><li><button class="splide__pagination__page" type="button" aria-controls="double-slider-1a-slide02 double-slider-1a-slide03" aria-label="Go to page 2"></button></li></ul>
    </div>

    <div class="splide single-slider slider-no-arrows slider-no-dots splide--loop splide--ltr splide--draggable is-active" id="single-slider-1" style="visibility: visible;">
        <div class="splide__arrows"><button class="splide__arrow splide__arrow--prev" type="button" aria-controls="single-slider-1-track" aria-label="Previous slide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg></button><button class="splide__arrow splide__arrow--next" type="button" aria-controls="single-slider-1-track" aria-label="Next slide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg></button></div><div class="splide__track" id="single-slider-1-track">
            <div class="splide__list" id="single-slider-1-list" style="transform: translateX(-4536px);">
                <div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1" style="width: 1512px;">
                    <a href="#" class="card card-style" style="background-image: url('https://i.ytimg.com/vi/dec7nO0SO34/maxresdefault.jpg')" data-card-height="300" style="height: 300px;">
                        <div class="card-top">
                            <span class="badge float-end bg-red-dark p-2 text-uppercase rounded-s m-2">SPORTS</span>
                        </div>
                        <div class="card-bottom m-3">
                            <h1 class="color-white font-20">
                                The Apple Watch is keeps you on track with your workouts.
                            </h1>
                            <p class="mb-0 color-white font-12 opacity-40 pt-1">Posted by Enabled - 2 Hours, 21 Minutes Ago</p>
                        </div>
                        <div class="card-overlay bg-gradient opacity-90"></div>
                    </a>
                </div><div class="splide__slide splide__slide--clone" style="width: 1512px;">
                    <a href="#" class="card card-style" style="background-image: url('https://i.ytimg.com/vi/dec7nO0SO34/maxresdefault.jpg')" data-card-height="300" style="height: 300px;">
                        <div class="card-top">
                            <span class="badge float-end bg-green-dark p-2 text-uppercase rounded-s m-2">BUSINESS</span>
                        </div>
                        <div class="card-bottom m-3">
                            <h1 class="color-white font-20">
                                Keep your schedule organized. Here are the best tricks.
                            </h1>
                            <p class="mb-0 color-white font-12 opacity-40 pt-1">Posted by Enabled - 3 Hours, 37 Minutes Ago</p>
                        </div>
                        <div class="card-overlay bg-gradient opacity-90"></div>
                    </a>
                </div><div class="splide__slide" id="single-slider-1-slide01" aria-hidden="true" tabindex="-1" style="width: 1512px;">
                    <a href="#" class="card card-style" style="background-image: url('https://i.ytimg.com/vi/dec7nO0SO34/maxresdefault.jpg')" data-card-height="300" style="height: 300px;">
                        <div class="card-top">
                            <span class="badge float-end bg-blue-dark p-2 text-uppercase rounded-s m-2">Technology</span>
                        </div>
                        <div class="card-bottom m-3">
                            <h1 class="color-white font-20">
                                Apple's new Macbook M1 is perfect. Here are our thoughts.
                            </h1>
                            <p class="mb-0 color-white font-12 opacity-40 pt-1">Posted by Enabled - 25 Minutes Ago</p>
                        </div>
                        <div class="card-overlay bg-gradient opacity-90"></div>
                    </a>
                </div>
                <div class="splide__slide is-active is-visible" id="single-slider-1-slide02" style="width: 1512px;" aria-hidden="false" tabindex="0">
                    <a href="#" class="card card-style" style="background-image: url('https://i.ytimg.com/vi/dec7nO0SO34/maxresdefault.jpg')" data-card-height="300" style="height: 300px;">
                        <div class="card-top">
                            <span class="badge float-end bg-red-dark p-2 text-uppercase rounded-s m-2">SPORTS</span>
                        </div>
                        <div class="card-bottom m-3">
                            <h1 class="color-white font-20">
                                The Apple Watch is keeps you on track with your workouts.
                            </h1>
                            <p class="mb-0 color-white font-12 opacity-40 pt-1">Posted by Enabled - 2 Hours, 21 Minutes Ago</p>
                        </div>
                        <div class="card-overlay bg-gradient opacity-90"></div>
                    </a>
                </div>
                <div class="splide__slide" id="single-slider-1-slide03" style="width: 1512px;" aria-hidden="true" tabindex="-1">
                    <a href="#" class="card card-style" style="background-image: url('https://i.ytimg.com/vi/dec7nO0SO34/maxresdefault.jpg')" data-card-height="300" style="height: 300px;">
                        <div class="card-top">
                            <span class="badge float-end bg-green-dark p-2 text-uppercase rounded-s m-2">BUSINESS</span>
                        </div>
                        <div class="card-bottom m-3">
                            <h1 class="color-white font-20">
                                Keep your schedule organized. Here are the best tricks.
                            </h1>
                            <p class="mb-0 color-white font-12 opacity-40 pt-1">Posted by Enabled - 3 Hours, 37 Minutes Ago</p>
                        </div>
                        <div class="card-overlay bg-gradient opacity-90"></div>
                    </a>
                </div>
            <div class="splide__slide splide__slide--clone" style="width: 1512px;">
                    <a href="#" class="card card-style" style="background-image: url('https://m.media-amazon.com/images/I/81M864YqZbL._AC_SX679_.jpg')" data-card-height="300" style="height: 300px;">
                        <div class="card-top">
                            <span class="badge float-end bg-blue-dark p-2 text-uppercase rounded-s m-2">Technology</span>
                        </div>
                        <div class="card-bottom m-3">
                            <h1 class="color-white font-20">
                                Apple's new Macbook M1 is perfect. Here are our thoughts.
                            </h1>
                            <p class="mb-0 color-white font-12 opacity-40 pt-1">Posted by Enabled - 25 Minutes Ago</p>
                        </div>
                        <div class="card-overlay bg-gradient opacity-90"></div>
                    </a>
                </div><div class="splide__slide splide__slide--clone" style="width: 1512px;">
                    <a href="#" class="card card-style" style="background-image: url('https://m.media-amazon.com/images/I/81M864YqZbL._AC_SX679_.jpg')" data-card-height="300" style="height: 300px;">
                        <div class="card-top">
                            <span class="badge float-end bg-red-dark p-2 text-uppercase rounded-s m-2">SPORTS</span>
                        </div>
                        <div class="card-bottom m-3">
                            <h1 class="color-white font-20">
                                The Apple Watch is keeps you on track with your workouts.
                            </h1>
                            <p class="mb-0 color-white font-12 opacity-40 pt-1">Posted by Enabled - 2 Hours, 21 Minutes Ago</p>
                        </div>
                        <div class="card-overlay bg-gradient opacity-90"></div>
                    </a>
                </div></div>
        </div>
        <ul class="splide__pagination"><li><button class="splide__pagination__page" type="button" aria-controls="single-slider-1-slide01" aria-label="Go to slide 1"></button></li><li><button class="splide__pagination__page is-active" type="button" aria-controls="single-slider-1-slide02" aria-label="Go to slide 2" aria-current="true"></button></li><li><button class="splide__pagination__page" type="button" aria-controls="single-slider-1-slide03" aria-label="Go to slide 3"></button></li></ul>
    </div>
    
    <div class="row mb-0">
        <div class="col-6 pe-0">
            <a href="#" class="card card-style mb-2" style="background-image: url('https://i.ytimg.com/vi/dec7nO0SO34/maxresdefault.jpg')" data-card-height="135" style="height: 135px;">
                <div class="card-top text-center">
                    <span class="badge bg-red-dark px-2 py-1 color-white m-3">FRESH NOW</span>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500 font-14 mb-n1">
                        Appkit Outselling all new Products.
                    </h5>
                    <span class="color-white opacity-50 font-10">2 hours ago</span>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
            <a href="#" class="card card-style mb-2" style="background-image: url('https://m.media-amazon.com/images/I/81M864YqZbL._AC_SX679_.jpg')" data-card-height="135" style="height: 135px;">
                <div class="card-top text-center">
                    <span class="badge bg-blue-dark px-2 py-1 color-white m-3">LATEST NEWS</span>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500 font-14 mb-n1">
                        Azures loved by all our customers.
                    </h5>
                    <span class="color-white opacity-50 font-10">2 hours ago</span>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
        </div>
        <div class="col-6 ps-0">
            <a href="#" class="card card-style ms-0" style="background-image: url('https://m.media-amazon.com/images/I/81M864YqZbL._AC_SX679_.jpg')" data-card-height="280" style="height: 280px;">
                <div class="card-top text-center">
                    <span class="badge bg-green-dark px-2 py-1 color-white m-3">TRENDING NOW</span>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500">
                        Sticky is now the absolute best PWA selling on Envato
                    </h5>
                    <span class="color-white opacity-50 font-10">2 hours ago</span>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
        </div>
    </div>

    <div class="card card-style mt-n3" data-card-height="200" style="height: 200px;">
        <div class="card-top">
            <a href="#" class="btn btn-s m-3 rounded-sm text-uppercase font-700 bg-red-dark float-end">WATCH LIVE <i class="fa fa-play-circle ps-2"></i></a>
        </div>
        <div class="card-bottom p-3">
            <h1 class="font-24 font-700 mb-n1 color-white">Live Feed</h1>
            <p class="color-white mb-0 opacity-50">
                Join the live coverage now!
            </p>
        </div>
        <div class="card-overlay bg-gradient"></div>
        <div class="card-overlay-infinite preload-img entered loaded" data-src="images/pictures/_bg-infinite.jpg" data-ll-status="loaded" style="background-image: url(&quot;images/pictures/_bg-infinite.jpg&quot;);"></div>
    </div>


    <div class="row mb-0 mt-n3">
        <div class="col-6 pe-0">
            <a href="#" class="card card-style" style="background-image: url('https://m.media-amazon.com/images/I/81M864YqZbL._AC_SX679_.jpg')" data-card-height="280" style="height: 280px;">
                <div class="card-top text-center">
                    <span class="badge bg-orange-dark px-2 py-1 color-white m-3"><i class="fa fa-fire me-2"></i>HOT</span>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500">
                        React and Vue Integrations arriving in 2021.
                    </h5>
                    <span class="color-white opacity-50 font-10">2 hours ago</span>
                </div>
                <div class="card-overlay bg-black opacity-80"></div>
            </a>
        </div>
        <div class="col-6 ps-0">
            <a href="#" class="card ms-0 card-style mb-2" data-card-height="135" style="height: 135px;">
                <div class="card-top text-center">
                    <span class="badge bg-brown-dark px-2 py-1 color-white m-3"><i class="fa fa-code me-2"></i>STANDARDS</span>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500 font-14 mb-n1">
                        jQuery will be replaced by Vanilla JS
                    </h5>
                    <span class="color-white opacity-50 font-10">2 hours ago</span>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
            <a href="#" class="card ms-0 card-style mb-2" data-card-height="135" style="height: 135px;">
                <div class="card-top text-center">
                    <span class="badge bg-green-dark px-2 py-1 color-white m-3"><i class="fa fa-user me-2"></i>OPINIONS</span>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500 font-14 mb-n1">
                        React or Vue? You decide, we will add it.
                    </h5>
                    <span class="color-white opacity-50 font-10">2 hours ago</span>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
        </div>
    </div>
    <a href="#" class="card card-style mt-n2" data-card-height="200" style="height: 200px;">
        <div class="card-top text-end">
            <span class="badge bg-pink2-dark px-2 py-1 color-white m-3">FOR YOU NOW!</span>
        </div>
        <div class="card-bottom p-3">
            <h4 class="color-white font-500">
                Sticky Mobile gets another absolutely awesome update for customers.
            </h4>
        </div>
        <div class="card-overlay bg-gradient"></div>
    </a>
</div>