<div class="page-content header-clear-medium">
  <div class="content mt-n1">
    <div class="search-box bg-theme color-theme rounded-m shadow-l mb-2">
      <i class="fa fa-search"></i>
      <%= form_for :newSearch, url: search_path do |f| %>
        <%= f.text_field :for, class: 'border-0', value: params[:for] %>
        <div class="input-style has-borders no-icon mb-4">
            <label for="form5" class="color-highlight">Country</label>
            <%= f.select :country, [
              ['Australia', 'au'],
              ['Belgium', 'be'],
              ['Brazil', 'br'],
              ['Canada', 'ca'],
              ['France', 'fr'],
              ['Germany', 'de'],
              ['Italy', 'it'],
              ['Japan', 'jp'],
              ['Mexico', 'mx'],
              ['Netherlands', 'nl'],
              ['Poland', 'pl'],
              ['Singapore', 'sg'],
              ['Spain', 'es'],
              ['Sweden', 'se'],
              ['United Arab Emirates', 'ae'],
              ['United Kingdom', 'gb'],
              ['United States', 'us']
              ].reverse, required: true, class: 'border-0 lp-pom-form-field', value: 'us' %>
            <span><i class="fa fa-chevron-down"></i></span>
        </div>
      <% end %>

      <!-- <input type="text" class="border-0" placeholder="Search.. - try Milk " data-search=""> -->
      <!-- <a href="#" class="clear-search disabled mt-0"><i class="fa fa-times color-red-dark"></i></a> -->
    </div>

    
  </div>
  <%= render 'search/dailydiscount' %>
  <% if @searchResults.present? %>
    <% if @searchResults.present? %>
      <div class="row mb-0">
          <div class="col-6 pe-0">
            <% if @searchResults[0].present? %>
              <a href="/searchResults/<%= @searchResults[0].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style mb-2" style='background-image: url("<%=  @searchResults[0].images.split(',').shuffle.first %>");height: 135px;' data-card-height="135">
                  <div class="card-top text-center">
                    <% Brand.where("searchResults like ?", @searchResults[0].title).present? && Brand.where("searchResults like ?", @searchResults[0].title).map(&:tags)[0].split(',').shuffle.take(1).each do |tag| %>
                      <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                    <% end %>
                  </div>


                  <div class="card-bottom p-3">
                      <h5 class="color-white font-500 font-14 mb-n1">
                          <%= @searchResults[0].title %>
                      </h5>
                  </div>
                  <div class="card-overlay bg-black opacity-70"></div>
              </a>
            <% end %>
            <% if @searchResults[1].present? %>
              <a href="/searchResults/<%= @searchResults[1].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style mb-2" data-card-height="135" style='background-image: url("<%=  @searchResults[1].images.split(',').shuffle.first %>");height: 135px;'>
                  <div class="card-top text-center">
                    <% Brand.where("searchResults like ?", @searchResults[1].title).present? && Brand.where("searchResults like ?", @searchResults[1].title).map(&:tags)[0].split(',').shuffle.take(1).each do |tag| %>
                      <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                    <% end %>
                  </div>
                  <div class="card-bottom p-3">
                      <h5 class="color-white font-500 font-14 mb-n1"><%= @searchResults[1].title %></h5>
                  </div>
                  <div class="card-overlay bg-black opacity-70"></div>
              </a>
            <% end %>
          </div>
          <div class="col-6 ps-0">
            <% if @searchResults[2].present? %>
              <a href="/searchResults/<%= @searchResults[2].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style ms-0" style='background-image: url("<%=  @searchResults[2].images.split(',').shuffle.first %>")' data-card-height="280" style="height: 280px;">
                  <div class="card-top text-center">
                    <% Brand.where("searchResults like ?", @searchResults[2].title).present? && Brand.where("searchResults like ?", @searchResults[2].title).map(&:tags)[0].split(',').shuffle.take(1).each do |tag| %>
                      <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                    <% end %>
                  </div>
                  <div class="card-bottom p-3">
                      <h5 class="color-white font-500"><%= @searchResults[2].title %></h5>
                  </div>
                  <div class="card-overlay bg-black opacity-70"></div>
              </a>
            <% end %>
          </div>
      </div>

      <div class="row mb-0 mt-n3">
          <div class="col-6 pe-0">
            <% if @searchResults[3].present? %>
              <a href="/searchResults/<%= @searchResults[3].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style" style="background-image: url('<%=  @searchResults[3].images.split(',').shuffle.first %>');height: 280px;" data-card-height="280" style="">
                  <div class="card-top text-center">
                    <% Brand.where("searchResults like ?", @searchResults[3].title).present? && Brand.where("searchResults like ?", @searchResults[3].title).map(&:tags)[0].split(',').shuffle.take(1).each do |tag| %>
                      <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                    <% end %>
                  </div>
                  <div class="card-bottom p-3">
                      <h5 class="color-white font-500"><%= @searchResults[3].title %></h5>
                  </div>
                  <div class="card-overlay bg-black opacity-80"></div>
              </a>
            <% end %>
          </div>
          <div class="col-6 ps-0">
            <% if @searchResults[4].present? %>
              <a href="/searchResults/<%= @searchResults[4].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card ms-0 card-style mb-2" data-card-height="135" style="background-image: url('<%=  @searchResults[4].images.split(',').shuffle.first %>');height: 135px;">
                  <div class="card-top text-center">
                      <% Brand.where("searchResults like ?", @searchResults[4].title).present? && Brand.where("searchResults like ?", @searchResults[4].title).map(&:tags)[0].split(',').shuffle.take(1).each do |tag| %>
                        <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                      <% end %>
                  </div>
                  <div class="card-bottom p-3">
                      <h5 class="color-white font-500 font-14 mb-n1"><%= @searchResults[4].title %></h5>
                  </div>
                  <div class="card-overlay bg-black opacity-70"></div>
              </a>
            <% end %>
            <% if @searchResults[5].present? %>
              <a href="/searchResults/<%= @searchResults[5].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card ms-0 card-style mb-2" data-card-height="135" style="background-image: url('<%=  @searchResults[5].images.split(',').shuffle.first %>');height: 135px;">
                  <div class="card-top text-center">
                      <% Brand.where("searchResults like ?", @searchResults[5].title).present? && Brand.where("searchResults like ?", @searchResults[5].title).map(&:tags)[0].split(',').shuffle.take(1).each do |tag| %>
                        <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                      <% end %>
                  </div>
                  <div class="card-bottom p-3">
                      <h5 class="color-white font-500 font-14 mb-n1"><%= @searchResults[5].title %></h5>
                  </div>
                  <div class="card-overlay bg-black opacity-70"></div>
              </a>
            <% end %>
          </div>
      </div>
    <% end %>
  <% else %>
    <% if @limitedPublished.present? && @limitedPublished.size > 0 %>
      <div class="d-flex px-3 mb-n3 mt-5">
          <div class="align-self-center">
              <h4 class="mb-0 color-highlight text-uppercase">Recommended Categories</h4>
          </div>
      </div>
      <div class="splide double-slider slider-no-dots text-center visible-slider splide--loop splide--ltr splide--draggable is-active" id="double-slider-1a" style="visibility: visible;">
            <div class="splide__track" id="double-slider-1a-track">
                <div class="splide__list" id="double-slider-1a-list" style="transform: translateX(-1540px);">
                    <% @limitedPublished.each do |cat| %>
                      <div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1" style="width: 220px;">
                          <a href="/categories/<%=cat.title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="mx-3">
                              <div class="card card-style me-0 mb-0" style="background-image: url(<%= cat.images.split(',').sample %>); height: 150px;" data-card-height="150">
                                  <div class="card-top">

                                    <% Brand.where("categories like ?", cat.title).present? && Brand.where("categories like ?", cat.title).map(&:tags)[0].split(',').shuffle.take(1).each do |tag| %>
                                      <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                                    <% end %>
                                  </div>
                                  
                                  <div class="card-bottom p-2 px-3">
                                      <h4 class="color-white"><%= cat.title %></h4>
                                  </div>
                                  <div class="card-overlay bg-gradient opacity-80"></div>
                              </div>
                          </a>
                      </div>
                    <% end %>
                  </div>
            </div>
        <ul class="splide__pagination"><li><button class="splide__pagination__page" type="button" aria-controls="double-slider-1a-slide01 double-slider-1a-slide02" aria-label="Go to page 1"></button></li><li><button class="splide__pagination__page" type="button" aria-controls="double-slider-1a-slide03 double-slider-1a-slide04" aria-label="Go to page 2"></button></li><li><button class="splide__pagination__page is-active" type="button" aria-controls="double-slider-1a-slide04 double-slider-1a-slide05" aria-label="Go to page 3" aria-current="true"></button></li></ul>
      </div>
    <% end %>
    <!-- #partial -->
    
    <% if @categories.present? %>
      <div class="row mb-0">
          <div class="col-6 pe-0">
            <% if @categories[0].present? %>
              <a href="/categories/<%= @categories[0].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style mb-2" style='background-image: url("<%=  @categories[0].images.split(',').shuffle.first %>");height: 135px;' data-card-height="135">
                  <div class="card-top text-center">
                    <% Brand.where("categories like ?", @categories[0].title).present? && Brand.where("categories like ?", @categories[0].title).map(&:tags)[0].split(',').shuffle.take(1).each do |tag| %>
                      <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                    <% end %>
                  </div>


                  <div class="card-bottom p-3">
                      <h5 class="color-white font-500 font-14 mb-n1">
                          <%= @categories[0].title %>
                      </h5>
                  </div>
                  <div class="card-overlay bg-black opacity-70"></div>
              </a>
            <% end %>
            <% if @categories[1].present? %>
              <a href="/categories/<%= @categories[1].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style mb-2" data-card-height="135" style='background-image: url("<%=  @categories[1].images.split(',').shuffle.first %>");height: 135px;'>
                  <div class="card-top text-center">
                    <% Brand.where("categories like ?", @categories[1].title).present? && Brand.where("categories like ?", @categories[1].title).map(&:tags)[0].split(',').shuffle.take(1).each do |tag| %>
                      <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                    <% end %>
                  </div>
                  <div class="card-bottom p-3">
                      <h5 class="color-white font-500 font-14 mb-n1"><%= @categories[1].title %></h5>
                  </div>
                  <div class="card-overlay bg-black opacity-70"></div>
              </a>
            <% end %>
          </div>
          <div class="col-6 ps-0">
            <% if @categories[2].present? %>
              <a href="/categories/<%= @categories[2].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style ms-0" style='background-image: url("<%=  @categories[2].images.split(',').shuffle.first %>")' data-card-height="280" style="height: 280px;">
                  <div class="card-top text-center">
                    <% Brand.where("categories like ?", @categories[2].title).present? && Brand.where("categories like ?", @categories[2].title).map(&:tags)[0].split(',').shuffle.take(1).each do |tag| %>
                      <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                    <% end %>
                  </div>
                  <div class="card-bottom p-3">
                      <h5 class="color-white font-500"><%= @categories[2].title %></h5>
                  </div>
                  <div class="card-overlay bg-black opacity-70"></div>
              </a>
            <% end %>
          </div>
      </div>

      <div class="row mb-0 mt-n3">
          <div class="col-6 pe-0">
            <% if @categories[3].present? %>
              <a href="/categories/<%= @categories[3].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style" style="background-image: url('<%=  @categories[3].images.split(',').shuffle.first %>');height: 280px;" data-card-height="280" style="">
                  <div class="card-top text-center">
                    <% Brand.where("categories like ?", @categories[3].title).present? && Brand.where("categories like ?", @categories[3].title).map(&:tags)[0].split(',').shuffle.take(1).each do |tag| %>
                      <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                    <% end %>
                  </div>
                  <div class="card-bottom p-3">
                      <h5 class="color-white font-500"><%= @categories[3].title %></h5>
                  </div>
                  <div class="card-overlay bg-black opacity-80"></div>
              </a>
            <% end %>
          </div>
          <div class="col-6 ps-0">
            <% if @categories[4].present? %>
              <a href="/categories/<%= @categories[4].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card ms-0 card-style mb-2" data-card-height="135" style="background-image: url('<%=  @categories[4].images.split(',').shuffle.first %>');height: 135px;">
                  <div class="card-top text-center">
                      <% Brand.where("categories like ?", @categories[4].title).present? && Brand.where("categories like ?", @categories[4].title).map(&:tags)[0].split(',').shuffle.take(1).each do |tag| %>
                        <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                      <% end %>
                  </div>
                  <div class="card-bottom p-3">
                      <h5 class="color-white font-500 font-14 mb-n1"><%= @categories[4].title %></h5>
                  </div>
                  <div class="card-overlay bg-black opacity-70"></div>
              </a>
            <% end %>
            <% if @categories[5].present? %>
              <a href="/categories/<%= @categories[5].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card ms-0 card-style mb-2" data-card-height="135" style="background-image: url('<%=  @categories[5].images.split(',').shuffle.first %>');height: 135px;">
                  <div class="card-top text-center">
                      <% Brand.where("categories like ?", @categories[5].title).present? && Brand.where("categories like ?", @categories[5].title).map(&:tags)[0].split(',').shuffle.take(1).each do |tag| %>
                        <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                      <% end %>
                  </div>
                  <div class="card-bottom p-3">
                      <h5 class="color-white font-500 font-14 mb-n1"><%= @categories[5].title %></h5>
                  </div>
                  <div class="card-overlay bg-black opacity-70"></div>
              </a>
            <% end %>
          </div>
      </div>
    <% end %>
  <% end %>

</div>
<br>

<% if params['for'] %>
<% else %>
  <% if @categories.total_pages > 1 %>
    <nav aria-label="pagination-demo">
        <ul class="pagination justify-content-center">
            <% if params['page'].to_i > 1 %>
              <li class="page-item">
                  <a class="page-link rounded-xs bg-highlight color-white py-2 border-0" href="/search?page=<%= params['page'].to_i - 1 %>&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left"></i></a>
              </li>
            <% end %>
            <% @categories.total_pages.times do |pageNum|%>

              <li class="page-item"><a class="page-link rounded-xs py-2 bg-highlight color-white border-0" disabled='true' href="/search?page=<%= pageNum + 1 %>&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>"><%= pageNum + 1 %></a></li>
            <% end %>
            <% if params['page'].to_i < @categories.total_pages %>
              <li class="page-item">
                  <a class="page-link rounded-xs bg-highlight color-white py-2 border-0" href="/search?page=<%= params['page'].present? ? params['page'].to_i + 1 : 2 %>&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>"><i class="fa fa-angle-right"></i></a>
              </li>
            <% end %>
        </ul>
    </nav>
  <% end %>
<% end %>