<div class="page-content header-clear-medium">
    <p>
        <% @searchCategories[0] %>
        <%= image_tag "icons8-game-50" %>
        <%= image_tag @searchCategories[0][:image].sample %>
    </p>
    <p>
        <% @searchCategories[1] %>
        <%= image_tag "icons8-lipstick-50.png" %>
        <%= image_tag @searchCategories[1][:image].sample %>
    </p>







    <div class="splide double-slider slider-no-dots visible-slider splide--loop splide--ltr splide--draggable is-active" id="double-slider-1a" style="visibility: visible;">
            <div class="splide__track" id="double-slider-1a-track">
                <div class="splide__list" id="double-slider-1a-list" style="transform: translateX(-630px);">
                    <%= @searchResults.each do |result| %>
                        <div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1" style="width: 157.5px;">
                            <a href="#" class="mx-3">
                                <div class="card card-style me-0 mb-0" style="background-image: url(&quot;images/fitness/3m.jpg&quot;); height: 250px;" data-card-height="250">
                                    <div class="card-bottom p-2 px-3">
                                        <h3 class="color-white line-height-s"><%= result %></h3>
                                    </div>
                                    <div class="card-overlay bg-gradient"></div>
                                </div>
                            </a>
                        </div>
                    <% end %>
                </div>
            </div>
        <ul class="splide__pagination"><li><button class="splide__pagination__page is-active" type="button" aria-controls="double-slider-1a-slide01 double-slider-1a-slide02" aria-label="Go to page 1" aria-current="true"></button></li><li><button class="splide__pagination__page" type="button" aria-controls="double-slider-1a-slide02 double-slider-1a-slide03" aria-label="Go to page 2"></button></li></ul>
    </div>

    <div class="splide single-slider slider-no-arrows slider-no-dots splide--loop splide--ltr splide--draggable is-active" id="single-slider-1" style="visibility: visible;">
        <div class="splide__arrows"><button class="splide__arrow splide__arrow--prev" type="button" aria-controls="single-slider-1-track" aria-label="Previous slide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg></button><button class="splide__arrow splide__arrow--next" type="button" aria-controls="single-slider-1-track" aria-label="Next slide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg></button></div><div class="splide__track" id="single-slider-1-track">
            <div class="splide__list" id="single-slider-1-list" style="transform: translateX(-4536px);">
                <div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1" style="width: 1512px;">
                    <a href="#" class="card card-style" style="background-image: url('https://i.ytimg.com/vi/dec7nO0SO34/maxresdefault.jpg')" data-card-height="300" style="height: 300px;">
                        <div class="card-top">
                            <span class="badge float-end bg-red-dark p-2 text-uppercase rounded-s m-2">SPORTS</span>
                        </div>
                        <div class="card-bottom m-3">
                            <h1 class="color-white font-20">
                                The Apple Watch is keeps you on track with your workouts.
                            </h1>
                            <p class="mb-0 color-white font-12 opacity-40 pt-1">Posted by Enabled - 2 Hours, 21 Minutes Ago</p>
                        </div>
                        <div class="card-overlay bg-gradient opacity-90"></div>
                    </a>
                </div><div class="splide__slide splide__slide--clone" style="width: 1512px;">
                    <a href="#" class="card card-style" style="background-image: url('https://i.ytimg.com/vi/dec7nO0SO34/maxresdefault.jpg')" data-card-height="300" style="height: 300px;">
                        <div class="card-top">
                            <span class="badge float-end bg-green-dark p-2 text-uppercase rounded-s m-2">BUSINESS</span>
                        </div>
                        <div class="card-bottom m-3">
                            <h1 class="color-white font-20">
                                Keep your schedule organized. Here are the best tricks.
                            </h1>
                            <p class="mb-0 color-white font-12 opacity-40 pt-1">Posted by Enabled - 3 Hours, 37 Minutes Ago</p>
                        </div>
                        <div class="card-overlay bg-gradient opacity-90"></div>
                    </a>
                </div><div class="splide__slide" id="single-slider-1-slide01" aria-hidden="true" tabindex="-1" style="width: 1512px;">
                    <a href="#" class="card card-style" style="background-image: url('https://i.ytimg.com/vi/dec7nO0SO34/maxresdefault.jpg')" data-card-height="300" style="height: 300px;">
                        <div class="card-top">
                            <span class="badge float-end bg-blue-dark p-2 text-uppercase rounded-s m-2">Technology</span>
                        </div>
                        <div class="card-bottom m-3">
                            <h1 class="color-white font-20">
                                Apple's new Macbook M1 is perfect. Here are our thoughts.
                            </h1>
                            <p class="mb-0 color-white font-12 opacity-40 pt-1">Posted by Enabled - 25 Minutes Ago</p>
                        </div>
                        <div class="card-overlay bg-gradient opacity-90"></div>
                    </a>
                </div>
                <div class="splide__slide is-active is-visible" id="single-slider-1-slide02" style="width: 1512px;" aria-hidden="false" tabindex="0">
                    <a href="#" class="card card-style" style="background-image: url('https://i.ytimg.com/vi/dec7nO0SO34/maxresdefault.jpg')" data-card-height="300" style="height: 300px;">
                        <div class="card-top">
                            <span class="badge float-end bg-red-dark p-2 text-uppercase rounded-s m-2">SPORTS</span>
                        </div>
                        <div class="card-bottom m-3">
                            <h1 class="color-white font-20">
                                The Apple Watch is keeps you on track with your workouts.
                            </h1>
                            <p class="mb-0 color-white font-12 opacity-40 pt-1">Posted by Enabled - 2 Hours, 21 Minutes Ago</p>
                        </div>
                        <div class="card-overlay bg-gradient opacity-90"></div>
                    </a>
                </div>
                <div class="splide__slide" id="single-slider-1-slide03" style="width: 1512px;" aria-hidden="true" tabindex="-1">
                    <a href="#" class="card card-style" style="background-image: url('https://i.ytimg.com/vi/dec7nO0SO34/maxresdefault.jpg')" data-card-height="300" style="height: 300px;">
                        <div class="card-top">
                            <span class="badge float-end bg-green-dark p-2 text-uppercase rounded-s m-2">BUSINESS</span>
                        </div>
                        <div class="card-bottom m-3">
                            <h1 class="color-white font-20">
                                Keep your schedule organized. Here are the best tricks.
                            </h1>
                            <p class="mb-0 color-white font-12 opacity-40 pt-1">Posted by Enabled - 3 Hours, 37 Minutes Ago</p>
                        </div>
                        <div class="card-overlay bg-gradient opacity-90"></div>
                    </a>
                </div>
            <div class="splide__slide splide__slide--clone" style="width: 1512px;">
                    <a href="#" class="card card-style" style="background-image: url('https://m.media-amazon.com/images/I/81M864YqZbL._AC_SX679_.jpg')" data-card-height="300" style="height: 300px;">
                        <div class="card-top">
                            <span class="badge float-end bg-blue-dark p-2 text-uppercase rounded-s m-2">Technology</span>
                        </div>
                        <div class="card-bottom m-3">
                            <h1 class="color-white font-20">
                                Apple's new Macbook M1 is perfect. Here are our thoughts.
                            </h1>
                            <p class="mb-0 color-white font-12 opacity-40 pt-1">Posted by Enabled - 25 Minutes Ago</p>
                        </div>
                        <div class="card-overlay bg-gradient opacity-90"></div>
                    </a>
                </div><div class="splide__slide splide__slide--clone" style="width: 1512px;">
                    <a href="#" class="card card-style" style="background-image: url('https://m.media-amazon.com/images/I/81M864YqZbL._AC_SX679_.jpg')" data-card-height="300" style="height: 300px;">
                        <div class="card-top">
                            <span class="badge float-end bg-red-dark p-2 text-uppercase rounded-s m-2">SPORTS</span>
                        </div>
                        <div class="card-bottom m-3">
                            <h1 class="color-white font-20">
                                The Apple Watch is keeps you on track with your workouts.
                            </h1>
                            <p class="mb-0 color-white font-12 opacity-40 pt-1">Posted by Enabled - 2 Hours, 21 Minutes Ago</p>
                        </div>
                        <div class="card-overlay bg-gradient opacity-90"></div>
                    </a>
                </div></div>
        </div>
        <ul class="splide__pagination"><li><button class="splide__pagination__page" type="button" aria-controls="single-slider-1-slide01" aria-label="Go to slide 1"></button></li><li><button class="splide__pagination__page is-active" type="button" aria-controls="single-slider-1-slide02" aria-label="Go to slide 2" aria-current="true"></button></li><li><button class="splide__pagination__page" type="button" aria-controls="single-slider-1-slide03" aria-label="Go to slide 3"></button></li></ul>
    </div>
    
    <div class="row mb-0">
        <div class="col-6 pe-0">
            <a href="#" class="card card-style mb-2" style="background-image: url('https://i.ytimg.com/vi/dec7nO0SO34/maxresdefault.jpg')" data-card-height="135" style="height: 135px;">
                <div class="card-top text-center">
                    <span class="badge bg-red-dark px-2 py-1 color-white m-3">FRESH NOW</span>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500 font-14 mb-n1">
                        Appkit Outselling all new Products.
                    </h5>
                    <span class="color-white opacity-50 font-10">2 hours ago</span>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
            <a href="#" class="card card-style mb-2" style="background-image: url('https://m.media-amazon.com/images/I/81M864YqZbL._AC_SX679_.jpg')" data-card-height="135" style="height: 135px;">
                <div class="card-top text-center">
                    <span class="badge bg-blue-dark px-2 py-1 color-white m-3">LATEST NEWS</span>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500 font-14 mb-n1">
                        Azures loved by all our customers.
                    </h5>
                    <span class="color-white opacity-50 font-10">2 hours ago</span>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
        </div>
        <div class="col-6 ps-0">
            <a href="#" class="card card-style ms-0" style="background-image: url('https://m.media-amazon.com/images/I/81M864YqZbL._AC_SX679_.jpg')" data-card-height="280" style="height: 280px;">
                <div class="card-top text-center">
                    <span class="badge bg-green-dark px-2 py-1 color-white m-3">TRENDING NOW</span>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500">
                        Sticky is now the absolute best PWA selling on Envato
                    </h5>
                    <span class="color-white opacity-50 font-10">2 hours ago</span>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
        </div>
    </div>

    <div class="card card-style mt-n3" data-card-height="200" style="height: 200px;">
        <div class="card-top">
            <a href="#" class="btn btn-s m-3 rounded-sm text-uppercase font-700 bg-red-dark float-end">WATCH LIVE <i class="fa fa-play-circle ps-2"></i></a>
        </div>
        <div class="card-bottom p-3">
            <h1 class="font-24 font-700 mb-n1 color-white">Live Feed</h1>
            <p class="color-white mb-0 opacity-50">
                Join the live coverage now!
            </p>
        </div>
        <div class="card-overlay bg-gradient"></div>
        <div class="card-overlay-infinite preload-img entered loaded" data-src="images/pictures/_bg-infinite.jpg" data-ll-status="loaded" style="background-image: url(&quot;images/pictures/_bg-infinite.jpg&quot;);"></div>
    </div>


    <div class="row mb-0 mt-n3">
        <div class="col-6 pe-0">
            <a href="#" class="card card-style" style="background-image: url('https://m.media-amazon.com/images/I/81M864YqZbL._AC_SX679_.jpg')" data-card-height="280" style="height: 280px;">
                <div class="card-top text-center">
                    <span class="badge bg-orange-dark px-2 py-1 color-white m-3"><i class="fa fa-fire me-2"></i>HOT</span>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500">
                        React and Vue Integrations arriving in 2021.
                    </h5>
                    <span class="color-white opacity-50 font-10">2 hours ago</span>
                </div>
                <div class="card-overlay bg-black opacity-80"></div>
            </a>
        </div>
        <div class="col-6 ps-0">
            <a href="#" class="card ms-0 card-style mb-2" data-card-height="135" style="height: 135px;">
                <div class="card-top text-center">
                    <span class="badge bg-brown-dark px-2 py-1 color-white m-3"><i class="fa fa-code me-2"></i>STANDARDS</span>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500 font-14 mb-n1">
                        jQuery will be replaced by Vanilla JS
                    </h5>
                    <span class="color-white opacity-50 font-10">2 hours ago</span>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
            <a href="#" class="card ms-0 card-style mb-2" data-card-height="135" style="height: 135px;">
                <div class="card-top text-center">
                    <span class="badge bg-green-dark px-2 py-1 color-white m-3"><i class="fa fa-user me-2"></i>OPINIONS</span>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500 font-14 mb-n1">
                        React or Vue? You decide, we will add it.
                    </h5>
                    <span class="color-white opacity-50 font-10">2 hours ago</span>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
        </div>
    </div>
    <a href="#" class="card card-style mt-n2" data-card-height="200" style="height: 200px;">
        <div class="card-top text-end">
            <span class="badge bg-pink2-dark px-2 py-1 color-white m-3">FOR YOU NOW!</span>
        </div>
        <div class="card-bottom p-3">
            <h4 class="color-white font-500">
                Sticky Mobile gets another absolutely awesome update for customers.
            </h4>
        </div>
        <div class="card-overlay bg-gradient"></div>
    </a>
</div>