<div class="header-clear-medium">    
    <div class="card card-style">
        <div class="content">
            <% if User.find_by(email: @stripeSession['customer_details']['email']) %>
              <h4 class="p-3 text-center">Your Account Has Been Created.<br>Please <%= link_to "Login", new_user_session_path %></h4>
            <% end %>
            <div class="d-flex">
                <div class="align-self-center pe-3 d-none d-sm-table-cell">
                    <i class="fa fa-check-circle  color-green-dark fa-5x"></i>
                </div>
                <div class="align-self-center">
                    <h4>Thanks For Becoming A Member</h4>
                    <p class="line-height-s text-justify">Create a password to complete your sign up.
                    </p>
                </div>
            </div>
            <div class="row g-0 justify-content-center">
              <% if !User.find_by(email: @stripeSession['customer_details']['email']) %>
                <%= form_for(:setSessionVar, url: set_password_path) do |f| %>
                  <div class="col-xl-12 p-3">
                    <div class="field">
                      <%= f.label :password %><br />
                      <%= f.password_field :password, class: "form-control form-control-lg form-control-alt py-3", placeholder: '6 characters or more', required: true %>
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, class: "form-control form-control-lg form-control-alt py-3", placeholder: '6 characters or more', required: true %>
                      <%= f.hidden_field :stripeSession, value:  @stripeSession['id'] %>
                    </div>
                    <% if @stripeSession['custom_fields'][0]['dropdown']['value'] == 'individual' %>
                        <div class="field">
                          <%= f.label :first_name %><br />
                          <%= f.text_field :first_name %><br />

                        </div>
                        <div class="field">
                          <%= f.label :last_name %><br />
                          <%= f.text_field :last_name %><br />

                        </div>
                        <div class="field">
                          <%= f.label :dob %><br />
                          <%= f.date_field :dob %><br />

                        </div>
                    <% else %>
                    <% end %>
                    <br>
                    <%= f.submit "Finish Account Setup", class: "btn btn-full rounded-sm text-uppercase font-700 mt-3 bg-green-dark col-md-12" %>
                  </div>
                <% end %>
              <% end %>
            </div>
        </div>
    </div>
</div>