<div class="header-clear-medium">    
    <div class="card card-style">
        <div class="content">
            <% if User.find_by(email: @stripeSession['customer_details']['email']) %>
              <h4 class="p-3 text-center">Your Account Has Been Created.<br>Please <%= link_to "Login", new_user_session_path %></h4>
            <% end %>
            <div class="d-flex">
                <div class="align-self-center pe-3 d-none d-sm-table-cell">
                    <i class="fa fa-check-circle  color-green-dark fa-5x"></i>
                </div>
                <div class="align-self-center">
                    <h4>Thanks For Becoming A Member</h4>
                    <p class="line-height-s text-justify">Create a password to complete your sign up.
                    </p>
                </div>
            </div>
            <div class="row g-0 justify-content-center">
              <% if !User.find_by(email: @stripeSession['customer_details']['email']) %>
                <%= form_for(:setSessionVar, url: set_password_path) do |f| %>
                  <div class="col-xl-12 p-3">
                    <div class="field">
                      <%= @stripeSession['custom_fields'][0]['dropdown']['value'] %>
                      <%= f.label :password %><br />
                      <%= f.password_field :password, class: "form-control form-control-lg form-control-alt py-3", placeholder: '6 characters or more', required: true %>
                      <%= f.label :password_confirmation %>
                      <%= f.password_field :password_confirmation, class: "form-control form-control-lg form-control-alt py-3", placeholder: '6 characters or more', required: true %>
                      <%= f.hidden_field :stripeSession, value:  @stripeSession['id'] %>
                    </div>
                    <label class="form-check-label" for="company">Company Card</label>
                    <%= f.radio_button :cardType, 'company', checked: false, id: 'company', class: 'form-check-input', required: true,onclick: "show1();"   %>
                    <br />
                    <label class="form-check-label" for="individual">Individual Card</label>
                    <%= f.radio_button :cardType, 'individual', checked: false, id: 'individual', class: 'form-check-input', required: true, onclick: "show2();"   %>
                    <% if @stripeSession['custom_fields'][0]['dropdown']['value'] == 'individual' %>
                        <div class="field">
                          <%= f.label :first_name %><br />
                          <%= f.text_field :first_name %><br />

                        </div>
                        <div class="field">
                          <%= f.label :last_name %><br />
                          <%= f.text_field :last_name %><br />

                        </div>
                        <div class="field">
                          <%= f.label :dob %><br />
                          <%= f.date_field :dob %><br />

                        </div>
                    <% else %>
                    <% end %>
                    <br>
                    <%= f.submit "Finish Account Setup", class: "btn btn-full rounded-sm text-uppercase font-700 mt-3 bg-green-dark col-md-12" %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <p>How many check boxes do you want when clicked on a radio button?</p>
<input type="radio" name="tab" value="igotnone" onclick="show1();" />
None
<input type="radio" name="tab" value="igottwo" onclick="show2();" />
Two
<div id="div1" class="hide">
  <hr><p>Okay Cool! Here are those two...</p>
<input type="checkbox" value="Yes" name="one">
One &nbsp;
<input type="checkbox" value="Yes" name="two">
Two
</div>
        </div>
    </div>
</div>


<style type="text/css">
  body {
  font-family: arial;
}
.hide {
  display: none;
}
p {
  font-weight: bold;
}
</style>

<script type="text/javascript">
  function show1(){
  document.getElementById('div1').style.display ='none';
}
function show2(){
  document.getElementById('div1').style.display = 'block';
}
</script>