<div class="header-clear-medium">    
    <div class="card card-style">
        <div class="content">
            <% if User.find_by(email: @stripeSession['customer_details']['email']) %>
              <h4 class="p-3 text-center">Your Account Has Been Created.<br>Please <%= link_to "Login", new_user_session_path %></h4>
            <% end %>
            <div class="d-flex">
                <div class="align-self-center m-2">
                   <img src="/assets/Oarlin_free-file.jpg" data-src="/assets/Oarlin_free-file.png" width="90" height="90" class="rounded-circle mt-3 shadow-xl preload-img entered loaded" data-ll-status="loaded">
                </div>
                <div class="align-self-center m-2">
                    <h4><i class="fa fa-check-circle  color-green-dark"></i> Thanks For Becoming A Member</h4>
                    <p class="line-height-s text-justify">Your membership will automatically renew on <strong><%= Time.at(Stripe::Invoice.retrieve(@stripeSession['invoice'])['lines']['data'][0]['period']['end']).to_date.strftime("%B #{Time.at(Stripe::Invoice.retrieve(@stripeSession['invoice'])['lines']['data'][0]['period']['end']).to_date.day.ordinalize}, %Y") %>.</strong> Create a password to complete your sign up.
                    </p>
                </div>
            </div>
            
            <div class="row g-0 justify-content-center">
              <% if !User.find_by(email: @stripeSession['customer_details']['email']) %>
                <%= form_for(:newTrader, url: trading_path) do |f| %>
                      <%= f.label :username %><br />
                      <%= f.text_field :username, class: "form-control form-control-lg form-control-alt py-3", placeholder: '6 characters or more', required: true %>

                      <%= f.label :password %><br />
                      <%= f.password_field :password, class: "form-control form-control-lg form-control-alt py-3", placeholder: '6 characters or more', required: true %>
                      
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, class: "form-control form-control-lg form-control-alt py-3", placeholder: '6 characters or more', required: true %>

                      <%= f.hidden_field :stripeSession, value:  @stripeSession['id'] %>
                      <%= f.hidden_field :referredBy, value:  params['referredBy'] %>
                      <%= f.hidden_field :accessPin, value:  'trader' %>
                    <br>
                    <%= f.submit "Finish Account Setup", class: "btn btn-full rounded-sm text-uppercase font-700 mt-3 bg-green-dark col-md-12" %>
                <% end %>
              <% end %>
              
            </div>
        </div>
    </div>
    <div class="card card-style">
        <div class="content">
            <h3 class="mb-0">Current Plan</h3>
            <p>
                Current subscription information for your Membership.
            </p>
            <div class="row mb-0">
                <div class="col-7">
                    <h5 class="font-600 opacity-80">Cost</h5>
                </div>
                <div class="col-5">
                    <h5 class="font-600 opacity-80"><%= number_to_currency(Stripe::Invoice.retrieve(@stripeSession['invoice'])['amount_paid'] * 0.01, precision: 2)%></h5>
                </div>
                <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
                <div class="col-7">
                    <h5 class="font-600 opacity-80">Interval</h5>
                </div>
                <div class="col-5">
                    <h5>Every <%= Stripe::Invoice.retrieve(@stripeSession['invoice'])['lines']['data'][0]['plan']['interval'].capitalize %></h5>
                </div>
                <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
                <div class="col-7">
                    <h5 class="font-600 opacity-80">Renewal Date</h5>
                </div>
                <div class="col-5">
                    <h5><%= Time.at(Stripe::Invoice.retrieve(@stripeSession['invoice'])['lines']['data'][0]['period']['end']).to_date.strftime("%B #{Time.at(Stripe::Invoice.retrieve(@stripeSession['invoice'])['lines']['data'][0]['period']['end']).to_date.day.ordinalize}, %Y") %></h5>
                </div>
                <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
            </div>
        </div>
    </div>
</div>