<% growth = ((@assetsUM - @initalBalance)/@initalBalance) %>
<div class="page-content header-clear-medium">
	<div data-card-height="230" class="card card-style rounded-m shadow-xl preload-img entered loaded" data-src="/assets/TAFX1.jpg" data-ll-status="loaded" style="height: 230px; background-image: url(/assets/TAFX1.jpg);">
		<div class="card-top mt-4 me-3">
			<a href="/auto-trading?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="mt-1 float-end text-uppercase font-900 font-11 btn btn-s rounded-s shadow-l bg-highlight">JOIN NOW</a>
		</div>
		<div class="card-bottom text-center col-12">
			<h1 class="color-white fa-4x mb-4"><%= number_to_currency(@assetsUM, precision: 2) %></h1>
			<p class="color-white opacity-70 font-22 mb-4">Assets Under Management</p>
		</div>

		<!-- <div class="card-bottom">
			<p class="ms-3 font-8 font-500 opacity-50 color-white">You could be trading</p>
		</div>
		<div class="card-bottom">
			<p class="text-end me-3 font-8 font-500 opacity-50 color-white"><i class="fa fa-wifi font-10 rotate-90"></i></p>
		</div> -->
		<div class="card-overlay bg-black opacity-70"></div>
	</div>
</div>

<div class="card card-style">
	<div class="content mb-4">
		<div class="content">
			<h2 class="font-30 color-highlight text-center mb-4">Asset Growth</h2>
			<h6 class="font-24 font-800 text-uppercase opacity-30 mb-4 text-center">
				<%= number_to_percentage( growth * 100, precision: 2)%>
			</h6>
			<div class="text-center">
				<% if growth > 0%>
					<i class="fa fa-chevron-up color-green-dark font-30"></i>
				<% else %>
					<i class="fa fa-chevron-down color-red-dark font-30"></i>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="card card-style">
	<div class="content mb-4">
		<div class="row m-4 content">
			<div class="col-6 text-center">
				<h6 class="font-20 font-800 text-uppercase opacity-30 text-center mb-4 "><u><em>7 Days</em></u></h6>
				<div class="mx-0 mb-3">
					<h6 class="font-12 font-800 text-uppercase opacity-30 text-center">Targets Hit</h6>
					<h3 class="color-highlight-dark font-30 mb-0 text-center"><%= number_to_percentage((((@exitsTrades24&.size/@entriesTrades24&.size) * 100) > 0 ? ((@exitsTrades24&.size/@entriesTrades24&.size) * 100) : 0 ), precision: 2) %></h3>
				</div>
				<h6 class="font-12 font-800 text-uppercase opacity-30 text-center mb-4 ">Oarlin protected <%= number_to_percentage((((@exitsTrades24&.size/@entriesTrades24&.size) * 100) > 0 ? ((@exitsTrades24&.size/@entriesTrades24&.size) * 100) : 0 ), precision: 2) %> of the <%= @entriesTrades24&.size %> trades in the last 24 hours.</h6>
			</div>
			<div class="col-6 text-center">
				<h6 class="font-20 font-800 text-uppercase opacity-30 text-center mb-4 "><u><em>30 Days</em></u></h6>
				<div class="mx-0 mb-3">
					<h6 class="font-12 font-800 text-uppercase opacity-30 text-center">Targets Hit</h6>
					<h3 class="color-highlight-dark font-30 mb-0 text-center"><%= number_to_percentage((((@exitsTrades&.size/@entriesTrades&.size) * 100) > 0 ? ((@exitsTrades&.size/@entriesTrades&.size) * 100) : 0 ), precision: 2) %></h3>
				</div>
				<h6 class="font-12 font-800 text-uppercase opacity-30 text-center mb-4 ">Oarlin protected <%= number_to_percentage((((@exitsTrades&.size/@entriesTrades&.size) * 100) > 0 ? ((@exitsTrades&.size/@entriesTrades&.size) * 100) : 0 ), precision: 2) %> of the <%= @entriesTrades&.size %> trades in the last 30 days.</h6>
			</div>
		</div>
		<div class="content">
			<h2 class="font-30 color-highlight">Trade Stats</h2>
			<h6 class="font-12 font-800 text-uppercase opacity-30 mb-4">Traders choose their own risk &amp; reward settings. Change your settings anytime.</h6>
		</div>
		<div class="d-flex">
			<div class="w-100 align-self-center ps-3">
				<h6 class="font-20 font-700"><i class="fa fa-check color-highlight-dark me-2"></i>Entries<span class="float-end color-highlight-dark"><%= @entriesTradesall.size %></span></h6>
				<p>This number shows how many times Oarlin executed entry trades (Buy & Sell). Oarlin will make sure that the trades executed match your risk &amp; reward settings.</p>
				<div class="divider mb-2 mt-1"></div>
				<h6 class="font-20 font-700"><i class="fa fa-unlock color-highlight-dark me-2"></i>Open Trades<span class="float-end color-highlight-dark"><%= @currentTradesall&.size %></span></h6>
				<p>This number tells us how many trades are still open &amp; running. This includes trades that have been partially protected, but still need to be fully closed.</p>
				<div class="divider mb-2 mt-1"></div>

				<h6 class="font-20 font-700"><i class="fa fa-bullseye icon icon-xxl color-highlight-dark me-2"></i> Targets<span class="float-end color-highlight-dark"><%= @partialCloseall %></span></h6>
				<p>When a trade has reached your profit target, Oarlin will start to reduce the trade by however much you want. We can fully close the position or partially. This is how we make sure you reach your exact profit targets matching your risk tolerance.</p>
			</div>
		</div>
		
	</div>
</div>