<div class="header-clear-medium">

        <div data-card-height="cover" class="card" style="height: 945px;">
            <div class="card-center">
                <div class="ps-5 pe-5">
                    <h1 class="text-center font-800 font-40 mb-1 text-uppercase">Sign In</h1>
                    <p class="color-highlight text-center font-12 text-uppercase">Let's get you logged in</p>

                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>



                      <div class="actions">
                        
                      </div>

                      <div class="input-style no-borders has-icon validate-field">
                          <i class="fa fa-user"></i>
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control validate-email', required: true, placeholder: 'Email' %>
                          <em>(required)</em>
                      </div>

                      <div class="input-style no-borders has-icon validate-field mt-4">
                          <i class="fa fa-lock"></i>
                          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control validate-password', required: true, placeholder: "Password" %>
                          <label for="form3a" class="color-blue-dark font-10 mt-1">Password</label>
                          <em>(required)</em>
                      </div>

                      <div class="d-flex mt-4 mb-4">
                          <div class="w-50 font-11 pb-2 text-start">
                            <a href="/auto-trading?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>">AUTO TRADING</a><br>
                          </div>
                          <div class="w-50 font-11 pb-2 text-end">FORGOT? - <%= mail_to "team@oarlin.com", "EMAIL US" %></div>
                      </div>

                      <%= f.submit "Sign in", class: 'back-button btn btn-full btn-m shadow-large rounded-sm text-uppercase font-700 bg-highlight form-control' %>
                    <% end %>
                    <div class="divider mt-4"></div>
                    <!-- <a href="#" class="btn btn-icon btn-m btn-full shadow-l rounded-sm bg-facebook text-uppercase font-700 text-start"><i class="fab fa-facebook-f text-center bg-transparent"></i>Sign in with Facebook</a>
                    <a href="#" class="btn btn-icon btn-m btn-full shadow-l rounded-sm bg-twitter text-uppercase font-700 text-start mt-2 "><i class="fab fa-twitter text-center bg-transparent"></i>Sign in with Twitter</a> -->
                </div>
            </div>
        </div>
    </div>