<%= form_with(model: brand, local: true) do |form| %>
  <% if brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
        <% brand.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>
  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags, required: true %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.text_field :images, required: true %>
  </div>

  <label class="form-check-label">Available In These Countries</label>
  <% User::ACCEPTEDcountries.keys.each do |key| %>
    <div class="form-check icon-check">
      <%= form.check_box :countries, {id: User::ACCEPTEDcountries[key][:country], multiple: true}, key, nil %>

      <label class="form-check-label" for="<%=User::ACCEPTEDcountries[key][:country]%>"><%= User::ACCEPTEDcountries[key][:country] %></label>
      <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
      <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
    </div>
  <% end %>

  <label class="form-check-label">Assign To These Categories</label>
  <% Category.all.each do |key| %>
    <div class="form-check icon-check">
      <%= form.check_box :categories, {id: key.title, multiple: true}, key.title, nil %>
      <label class="form-check-label" for="<%=key.title%>"><%= key.title %></label>
      <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
      <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
