
<%= link_to 'New Brand', new_brand_path %>

<div class=" header-clear-medium">
  <div class="card card-style">
      <div class="content mb-0">
          <h1 class="font-700 text-uppercase opacity-30 mb-3 mt-n2">brands</h1>
          <% if current_user&.admin? %>
            <%= link_to 'New brands', new_brand_path %>
          <% end %>
          <div class="row mb-3">
              <div class="col-4"><p class="font-14 mb-0 font-800 color-theme text-start">Title</p></div>
              <div class="col-4"><p class="font-14 mb-0 font-800 color-theme text-center">Tags</p></div>
              <div class="col-4"><p class="font-14 mb-0 font-800 color-theme text-end">Actions</p></div>
              <div class="divider w-100 mb-2 mt-2"></div>
              <% @brands.each do |brand| %>
                <div class="col-4">
                  <p class="font-13 mb-0 font-500 color-theme text-start"><%= brand.title %></p>
                </div>
                <div class="col-4">
                  <%= brand.tags %>
                </div>
                <div class="col-4">
                  <p class="font-13 mb-0 font-800 color-theme text-end"><%= link_to 'Preview', brand %><% if current_user&.admin? %> | <%= link_to 'Edit', edit_brand_path(brand) %><% end %></p></div>
                <div class="divider w-100 mb-2 mt-2"></div>

              <% end %>

          </div>
      </div>    
  </div>
</div>