<div class="header-clear-medium">  
	
	<h1 class="font-700 font-30 opacity-50 mb-4 text-center mt-4"><%= @category.title %></h1>

  <% if @brands.present? %>
    <div class="row mb-0">
        <div class="col-6 pe-0">
          <% if @brands[0].present? %>
            <a href="/brands/<%= @brands[0].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style mb-2" style='background-image: url("<%=  @brands[0].images.split(',').shuffle.first %>");height: 135px;' data-card-height="135">
                <div class="card-top text-center">
                  <% @brands[0]&.tags.present? && @brands[0]&.tags&.split(',').shuffle.take(1).each do |tag| %>
                    <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                  <% end %>
                </div>


                <div class="card-bottom p-3">
                    <h5 class="color-white font-500 font-20">
                      <%= @brands[0].title %>
                    </h5>
                    <small class="color-white"><%= @brands[0].countries.split(',').count %> Countries</small>
                    <% @brands[0].countries.split(',').shuffle.each do |country| %>
                      <span class="flag-icon flag-icon-<%= country %> d-none d-sm-table-cell"></span>
                    <% end %>
                        

                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
          <% end %>
          <% if @brands[1].present? %>
            <a href="/brands/<%= @brands[1].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style mb-2" data-card-height="135" style='background-image: url("<%=  @brands[1].images.split(',').shuffle.first %>");height: 135px;'>
                <div class="card-top text-center">
                  <% @brands[1]&.tags.present? && @brands[1]&.tags&.split(',').shuffle.take(1).each do |tag| %>
                    <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                  <% end %>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500 font-20">
                      <%= @brands[1].title %>
                    </h5>
                    <small class="color-white">Available In <%= @brands[1].countries.split(',').count %> Countries</small>
                    <% @brands[1].countries.split(',').shuffle.each do |country| %>
                      <span class="flag-icon flag-icon-<%= country %> d-none d-sm-table-cell"></span>
                    <% end %>
                    </span>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
          <% end %>
        </div>
        <div class="col-6 ps-0">
          <% if @brands[2].present? %>
            <a href="/brands/<%= @brands[2].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style ms-0" style='background-image: url("<%=  @brands[2].images.split(',').shuffle.first %>")' data-card-height="280" style="height: 280px;">
                <div class="card-top text-center">
                  <% @brands[2]&.tags.present? && @brands[2]&.tags&.split(',').shuffle.take(1).each do |tag| %>
                    <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                  <% end %>
                </div>
                <div class="card-bottom p-3">
                  <h5 class="color-white font-500 font-20">
                    <%= @brands[2].title %>
                  </h5>
                  <small class="color-white">Available In <%= @brands[2].countries.split(',').count %> Countries</small>
                  <% @brands[2].countries.split(',').shuffle.each do |country| %>
                    <span class="flag-icon flag-icon-<%= country %> d-none d-sm-table-cell"></span>
                  <% end %>
                        
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
          <% end %>
        </div>
    </div>

    <div class="row mb-0 mt-n3">
        <div class="col-6 pe-0">
          <% if @brands[3].present? %>
            <a href="/brands/<%= @brands[3].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style" style="background-image: url('<%=  @brands[3].images.split(',').shuffle.first %>');height: 280px;" data-card-height="280" style="">
                <div class="card-top text-center">
                  <% @brands[3]&.tags.present? && @brands[3]&.tags&.split(',').shuffle.take(1).each do |tag| %>
                    <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                  <% end %>
                </div>
                <div class="card-bottom p-3">
                  <h5 class="color-white font-500 font-20">
                    <%= @brands[3].title %>
                  </h5>
                  <small class="color-white">Available In <%= @brands[3].countries.split(',').count %> Countries</small>
                  <% @brands[3].countries.split(',').shuffle.each do |country| %>
                    <span class="flag-icon flag-icon-<%= country %> d-none d-sm-table-cell"></span>
                  <% end %>
                </div>
                <div class="card-overlay bg-black opacity-80"></div>
            </a>
          <% end %>
        </div>
        <div class="col-6 ps-0">
          <% if @brands[4].present? %>
            <a href="/brands/<%= @brands[4].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card ms-0 card-style mb-2" data-card-height="135" style="background-image: url('<%=  @brands[4].images.split(',').shuffle.first %>');height: 135px;">
                <div class="card-top text-center">
                    <% @brands[4]&.tags.present? && @brands[4]&.tags&.split(',').shuffle.take(1).each do |tag| %>
                      <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                    <% end %>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500 font-20">
                      <%= @brands[4].title %>
                    </h5>
                    <small class="color-white">Available In <%= @brands[4].countries.split(',').count %> Countries</small>
                    <% @brands[4].countries.split(',').shuffle.each do |country| %>
                      <span class="flag-icon flag-icon-<%= country %> d-none d-sm-table-cell"></span>
                    <% end %>
                        
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
          <% end %>
          <% if @brands[5].present? %>
            <a href="/brands/<%= @brands[5].title.parameterize(separator: '-')%>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card ms-0 card-style mb-2" data-card-height="135" style="background-image: url('<%=  @brands[5].images.split(',').shuffle.first %>');height: 135px;">
                <div class="card-top text-center">
                    <% @brands[5]&.tags.present? && @brands[5]&.tags&.split(',').shuffle.take(1).each do |tag| %>
                      <span class="badge float-end bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                    <% end %>
                </div>
                <div class="card-bottom p-3">
                    <h5 class="color-white font-500 font-20">
                      <%= @brands[5].title %>
                    </h5>
                    <small class="color-white">Available In <%= @brands[5].countries.split(',').count %> Countries</small>
                    <% @brands[5].countries.split(',').shuffle.each do |country| %>
                      <span class="flag-icon flag-icon-<%= country %> d-none d-sm-table-cell"></span>
                    <% end %>
                        
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </a>
          <% end %>
        </div>
    </div>
  <% end %>
</div>