<div class="header-clear-medium">
	<div class="row">
		<div class="pricing-4 rounded-m shadow-m bg-theme">
		  <h1 class="pricing-title text-center bg-green-dark text-uppercase">Basic</h1>
		  <h3 class="pricing-value text-center bg-green-light color-white">$59.90</h3>
		  <h2 class="pricing-subtitle text-center bg-green-light">Per Month</h2>
		  <ul class="pricing-list text-center">
	      <li>Demo File</li>
        <div class="divider mb-2 mt-1"></div>
	      <li>Free Install</li>
        <div class="divider mb-2 mt-1"></div>
	      <li>Product Guide</li>
        <div class="divider mb-2 mt-1"></div>
	      <li>Lifetime Updates</li>
        <div class="divider mb-2 mt-1"></div>

		  </ul>
		  <% if current_user %>
				<%= @basicPrice %><br>
				<%= @basicProduct %><br>
			  <% if subscriptions.include?(@basicPrice['id']) %>
				  <p class="text-center color-gray-dark small-text font-10 uppercase mt-2 mb-0 pb-0">Your Current Plan</p>
				<% else %>
				  <a href="<%= @authBasicSession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
				<% end %>
		  <% else %>
			  <a href="<%= @basicSession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
		  <% end %>
		</div>
		<div class="pricing-4 rounded-m shadow-m bg-theme">
		  <h1 class="pricing-title text-center bg-green-dark text-uppercase">Executive</h1>
		  <h3 class="pricing-value text-center bg-green-light color-white">$59.90</h3>
		  <h2 class="pricing-subtitle text-center bg-green-light">Per Month</h2>
		  <ul class="pricing-list text-center">
	      <li>Demo File</li>
        <div class="divider mb-2 mt-1"></div>
	      <li>Free Install</li>
        <div class="divider mb-2 mt-1"></div>
	      <li>Product Guide</li>
        <div class="divider mb-2 mt-1"></div>
	      <li>Lifetime Updates</li>
        <div class="divider mb-2 mt-1"></div>

		  </ul>
		  <% if current_user %>
			  <%= @bizPrice %><br>
				<%= @bizProduct %><br>
		  	<% if subscriptions.include?(@bizPrice['id']) %>
				  <p class="text-center color-gray-dark small-text font-10 uppercase mt-2 mb-0 pb-0">Your Current Plan</p>
				<% else %>
				  <a href="<%= @authBizSession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
				<% end %>
		  <% else %>
			  <a href="<%= @bizSession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
		  <% end %>
		</div>
		<div class="pricing-4 rounded-m shadow-m bg-theme">
		  <h1 class="pricing-title text-center bg-green-dark text-uppercase">Equity &amp; Inclusion</h1>
		  <h3 class="pricing-value text-center bg-green-light color-white">$59.90</h3>
		  <h2 class="pricing-subtitle text-center bg-green-light">Per Month</h2>
		  <ul class="pricing-list text-center">
	      <li>Demo File</li>
        <div class="divider mb-2 mt-1"></div>
	      <li>Free Install</li>
        <div class="divider mb-2 mt-1"></div>
	      <li>Product Guide</li>
        <div class="divider mb-2 mt-1"></div>
	      <li>Lifetime Updates</li>
        <div class="divider mb-2 mt-1"></div>

		  </ul>
		  <% if current_user %>
			  <%= @equityPrice %><br>
				<%= @equityProduct %><br>
			  <% if subscriptions.include?(@equityPrice['id']) %>
				  <p class="text-center color-gray-dark small-text font-10 uppercase mt-2 mb-0 pb-0">Your Current Plan</p>
				<% else %>
				  <a href="<%= @authEquitySession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
				<% end %>
		  <% else %>
			  <a href="<%= @equitySession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
		  <% end %>
		</div>
	</div>
</div>
