<% selfTradingAnnualMembership = Stripe::Price.retrieve(ENV['selfTradingAnnualMembership']) %>
<% selfTradingMonthlyMembership = Stripe::Price.retrieve(ENV['selfTradingMonthlyMembership']) %>
<% autoTradingMonthlyMembership = Stripe::Price.retrieve(ENV['autoTradingMonthlyMembership']) %>
<% autoTradingAnnualMembership = Stripe::Price.retrieve(ENV['autoTradingAnnualMembership']) %>
<div class="header-clear-medium">     
  <%= render 'search/dailydiscount', codes: @codes %>
  <% if current_user %>
    <div class="card card-style mt-2">
      <div class="content text-center">
          <h1 class="text-center">Your Membership Was Found</h1>
          <p class="boxed-text-l mb-n1 font-14">Do You Want To Upgrade?</p>
          <div class="font-11 pb-2 text-center"><%= mail_to "team@oarlin.com", "EMAIL US" %></div>
      </div><!-- #sprint2 -->
    </div>
  <% end %>
  <div class="card card-style bg-theme pb-0">
      <div id="tab-group-1">
          <h4 class="font-700 font-22 opacity-50 mb-4 text-center mt-4">Prices Will Increase<br>Starting <%=  Time.now.strftime("%Y").to_i + 1%></h4>
          <h4 class="font-700 font-12 opacity-50 mb-4 text-center mt-4">Autotrading with <%= link_to "TradingView", "https://www.tradingview.com/gopro/?share_your_love=NetwerthTracker" %></h4>

          <div data-bs-parent="#tab-group-1" class="pt-0" id="tab-2">
            <div class="content text-center">
              <!-- <h1 class="font-20 line-height-m pb-2">Explore Amazon Products</h1> -->
              <div class="splide double-slider slider-no-dots slider-arrows splide--loop splide--ltr splide--draggable is-active" id="single-slider-3" style="visibility: visible;">
                <div class="splide__track" id="single-slider-3-track">
                  <div class="splide__list" id="single-slider-3-list" style="transform: translateX(-975px);">
                    <div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1">
                      <div data-card-height="500" class="card mx-1 rounded-m shadow-l">
                        <div class="content">
                          <div class="card-top text-center">
                            <div class="mt-4">
                                <p class=" font-12 color-highlight m-n2">Self Managed Auto Trading</p>
                                <h1 class="m-n2 p-2"><%= number_to_currency(selfTradingMonthlyMembership['unit_amount'] * 0.01, precision: 2) %></h1>
                                <p class=" font-12 color-highlight m-n2">Per Month</p>
                            </div>
                            <div class="list-group list-custom-small">
                              <% selfTradingMonthlyMembership['metadata'].each do |point| %>
                                  
                                  <span href="#" class="text-center ">
                                    <%= button_tag( :class => "") do %>
                                    <%= point[0] %> 
                                    <% end %>
                                  </span>
                                  <div class="divider mb-2 mt-1"></div>
                              <% end %>
                                
                            </div>
                          </div>
                          <div class="content card-bottom text-center">
                            <a href="<%= @selfTradingMonthlyMembership['url'] %>" class="btn btn-full btn-sm rounded-sm font-10 text-uppercase font-700 mt-3 bg-highlight">Choose</a> <!-- upgrade or downgrade #sprint2 -->
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1">
                      <div data-card-height="500" class="card mx-1 rounded-m shadow-l">
                        <div class="content">
                          <div class="card-top text-center">
                            <div class="mt-4">
                                <p class=" font-12 color-highlight m-n2">Done For You Auto Trading</p>
                                <h1 class="m-n2 p-2"><%= number_to_currency(autoTradingMonthlyMembership['unit_amount'] * 0.01, precision: 2) %></h1>
                                <p class=" font-12 color-highlight m-n2">Per Month</p>
                            </div>
                            <div class="list-group list-custom-small">
                              <% autoTradingMonthlyMembership['metadata'].each do |point| %>
                                  
                                  <span href="#" class="text-center font-15">
                                    <%= point[0] %> 

                                  </span>
                                  <div class="divider mb-2 mt-1"></div>
                              <% end %>
                                
                            </div>
                          </div>
                          <div class="content card-bottom text-center">
                            <a href="<%= @autoTradingMonthlyMembership['url'] %>" class="btn btn-full btn-sm rounded-sm font-10 text-uppercase font-700 mt-3 bg-highlight">Choose</a> <!-- upgrade or downgrade #sprint2 -->
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              
              < Slide To View More >
            </div>
          </div>

          <div data-bs-parent="#tab-group-1" id="tab-2">
            <div class="content text-center">
              <!-- <h1 class="font-20 line-height-m pb-2">Explore Amazon Products</h1> -->
              <div class="splide double-slider slider-no-dots slider-arrows splide--loop splide--ltr splide--draggable is-active" id="single-slider-3432" style="visibility: visible;">
                <div class="splide__track" id="single-slider-3432-track">
                  <div class="splide__list" id="single-slider-3432-list" style="transform: translateX(-975px);">
                    <div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1">
                      <div data-card-height="500" class="card mx-1 rounded-m shadow-l">
                        <div class="content">
                          <div class="card-top text-center">
                            <div class="mt-4">
                                <p class=" font-12 color-highlight m-n2">Self Managed Auto Trading</p>
                                <h1 class="m-n2 p-2"><%= number_to_currency(selfTradingAnnualMembership['unit_amount'] * 0.01, precision: 2) %></h1>
                                <p class=" font-12 color-highlight m-n2">Per Month</p>
                            </div>
                            <div class="list-group list-custom-small">
                              <% selfTradingAnnualMembership['metadata'].each do |point| %>
                                  
                                  <span href="#" class="text-center font-15">
                                    <%= point[0] %> 

                                  </span>
                                  <div class="divider mb-2 mt-1"></div>
                              <% end %>
                                
                            </div>
                          </div>
                          <div class="content card-bottom text-center">
                            <a href="<%= @selfTradingAnnualMembership['url'] %>" class="btn btn-full btn-sm rounded-sm font-10 text-uppercase font-700 mt-3 bg-highlight">Choose</a> <!-- upgrade or downgrade #sprint2 -->
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1">
                      <div data-card-height="500" class="card mx-1 rounded-m shadow-l">
                        <div class="content">
                          <div class="card-top text-center">
                            <div class="mt-4">
                                <p class=" font-12 color-highlight m-n2">Done For You Auto Trading</p>
                                <h1 class="m-n2 p-2"><%= number_to_currency(autoTradingAnnualMembership['unit_amount'] * 0.01, precision: 2) %></h1>
                                <p class=" font-12 color-highlight m-n2">Per Month</p>
                            </div>
                            <div class="list-group list-custom-small">
                              <% autoTradingAnnualMembership['metadata'].each do |point| %>
                                  
                                  <span href="#" class="text-center font-15">
                                    <%= point[0] %> 

                                  </span>
                                  <div class="divider mb-2 mt-1"></div>
                              <% end %>
                                
                            </div>
                          </div>
                          <div class="content card-bottom text-center">
                            <a href="<%= @autoTradingAnnualMembership['url'] %>" class="btn btn-full btn-sm rounded-sm font-10 text-uppercase font-700 mt-3 bg-highlight">Choose</a> <!-- upgrade or downgrade #sprint2 -->
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    

                  </div>

                </div>
              </div>
              
              < Slide To View More >
            </div>
          </div>

          
      </div>
  </div>
</div>


<div id="menu-create-account" class="menu menu-box-top menu-box-detached rounded-m" style="display: block;">
  <div class="content">
    <div class="d-flex">
      <div>
        <h1 class="opacity-20">Complete &amp; Submit</h1>
      </div>
      <div class="ms-auto">
        <h1>Custom Account Inqury</h1>
      </div>
    </div>
    <p>
      Oarlin will build your brand for automation &amp; scale from scratch. Migrate your existing brand to Oarlin and increase your conversions to maximize income with the power of customized automation. 
    </p>
    <%= form_for(:newInquiry, url: inquiry_path) do |f| %>
      <div class="col-xl-12 p-3">
        <div class="field">
          <%= f.label "Email" %><br />
          <%= f.email_field :email, class: "form-control form-control-lg form-control-alt py-3", placeholder: 'Email', required: true %>

          <%= f.label "Phone" %><br />
          <%= f.text_field :phone, class: "form-control form-control-lg form-control-alt py-3", placeholder: 'Phone Number', required: true, maxlength: 10 %>
          
        </div>
        <br>
        <%= f.submit "Contact Me", class: "form-control btn btn-full btn-m rounded-m bg-blue-dark font-700 text-uppercase mb-4 mt-4" %>
      </div>
    <% end %>
  </div>
</div>