<div class="header-clear-medium">
	<h5 class="opacity-50 text-center">Expected Commissions</h5>
  <h5 class="opacity-50 text-center">(<%= User.find_by(uuid: params[:id]).amazonCountry.upcase %>) <%= User::ACCEPTEDcountries[User.find_by(uuid: params[:id]).amazonCountry.downcase][:country] %> Affiliate</h5>
	<h1 class="opacity-50 text-center mb-4 font-15 mb-2"><%= current_user.present? ? "#{@pulledAffiliate['metadata']['commissionRate']}% Commission Rate" : nil %></h1>
</div>

<div class="card card-style">
  <div class="content mb-0">
      <h4 class="font-700 text-uppercase font-12 opacity-30 mb-3 mt-n2">Overview</h4>
      <div class="d-flex">
          <div class="pe-4 align-self-center text-center">
              <span class="flag-icon flag-icon-<%= User.find_by(uuid: params[:id]).amazonCountry.downcase %> font-20"></span>
              <p class="font-600 color-highlight mb-n1">Available</p>
              <h1 class="mb-2"><%= Stripe::Balance.retrieve({stripe_account: @pulledAffiliate['metadata']['connectAccount']})['available'].present? ?  number_to_currency(Stripe::Balance.retrieve({stripe_account: @pulledAffiliate['metadata']['connectAccount']})['available'][0]['amount'] * 0.01, precision: 2) : '$0.00' %></h1>
          </div>
          <div class="w-100 align-self-center ps-3">
              <h6 class="font-14 font-700">Annual<span class="float-end color-highlight-dark"><%= number_to_currency(@combinedCommissions * 0.01, precision: 2) %></span></h6>
              <div class="divider mb-2 mt-1"></div>
              <h6 class="font-14 font-700">Monthly<span class="float-end color-highlight-dark"><%= number_to_currency((@combinedCommissions/12) * 0.01, precision: 2) %></span></h6>
              <div class="divider mb-2 mt-1"></div>
              <h6 class="font-14 font-700">Last Deposit<span class="float-end color-highlight-dark"><%= @payouts.present? ? Time.at( @payouts.first['arrival_date']).to_date.strftime("%B #{Time.at( @payouts.first['arrival_date']).to_date.day}") : Time.at(Time.now).to_date.strftime("%B #{Time.at(Time.now).to_date.day}") %></span></h6>
          </div>
      </div>      
      <div class="divider mt-2 mb-3"></div>
      
      <div class="row mb-0">
          <div class="col-6 text-center">
              <div class="mx-0 mb-3">
                  <h6 class="font-12 font-800 text-uppercase opacity-30">Paid</h6>
                  <h3 class="color-grass-dark font-20 mb-0"><%= number_to_currency(@payouts.map(&:amount).sum * 0.01, precision: 2) %></h3>
              </div>
          </div>
          <div class="col-6 text-center">
              <div class="mx-0 mb-3">
                  <h6 class="font-12 font-800 text-uppercase opacity-30">Pending</h6>
                  <h3 class="color-yellow-dark font-20 mb-0"><%= number_to_currency(Stripe::Balance.retrieve({stripe_account: @pulledAffiliate['metadata']['connectAccount']})['pending'][0]['amount'] * 0.01, precision: 2) %></h3>
              </div>
          </div>
          <!-- <div class="col-4 pe-3 text-end">
              <div class="mx-0 mb-3">
                  <h6 class="font-12 font-800 text-uppercase opacity-30">Last Deposit</h6>
                  <h3 class="color-aqua-dark font-20 mb-0">
                  <%= @payouts.present? ? Time.at( @payouts.first['arrival_date']).to_date.strftime("%B #{Time.at( @payouts.first['arrival_date']).to_date.day}") : Time.at(Time.now).to_date.strftime("%B #{Time.at(Time.now).to_date.day}") %></h3>
              </div>
          </div>   -->            
      </div>
      <h5 class="opacity-50 text-center pb-2">For Participating US Affiliates</h5>
  </div>            
</div>
<% if current_user %>
  <!-- affiliate store product wheel excluding current subscriptions -->
<% else %>
  <%= render 'application/getpaidaffiliates', message: 'Oarlin members can get paid to share any posts or product!', title: ['You could earn commission'.titleize, 'explore, share, earn'.titleize].sample %>
<% end %>
<div class="card card-style">
  <div class="content mb-0">
      <h4 class="font-700 text-uppercase font-12 opacity-30 mb-3 mt-n2">Details</h4>
      <div class="row mb-3">
          <div class="col-4"><p class="font-14 mb-0 font-800 color-theme text-start">Type</p></div>
          <div class="col-4"><p class="font-14 mb-0 font-800 color-theme text-center">Renews</p></div>
          <div class="col-4"><p class="font-14 mb-0 font-800 color-theme text-end">Amount</p></div>
          <div class="divider w-100 mb-2 mt-2"></div>

        <% @activeSubs.each do |subscr| %>
          <div class="col-4"><p class="font-12 mb-0 font-800 color-theme text-start"><%= subscr['plan']['interval'] == 'year' ? 'Annual' : 'Monthly' %></p></div>
          <div class="col-4"><p class="font-12 mb-0 font-800 color-theme text-center"> <%= Time.at(subscr['current_period_end']).to_date.strftime("%B #{Time.at(subscr['current_period_end']).to_date.day}, %Y") %></p></div>
          <div class="col-4"><p class="font-12 mb-0 font-800 color-grass-dark text-end"> <%= number_to_currency(((subscr['plan']['amount'].to_i) * (@pulledAffiliate['metadata']['commissionRate'].to_i * 0.01)).to_i * 0.01, precision: 2) %> <%= subscr['plan']['currency'].upcase %></p></div>
          <div class="divider w-100 mb-2 mt-2"></div>
        <% end %>
      </div>
  </div>    
</div>

