<div class="page-content pb-0">
<div class="card" style="background-image: url(../assets/line.jpeg);height:100vh; width:100vw;">
      <div class="card-center ms-5 me-5">
         <h1 class="color-white text-center mb-3 font-40">Oarlin Waitlist</h1>
         <p class="color-white text-center font-35 mt-4 opacity-50">Trading as a Service (TAAS)</p>
         <%= form_for(:newInquiry, url: inquiry_path) do |f| %>
            <div class="col-xl-12 p-3">
              <div class="field">
                <%= f.label "Email" %><br />
                <%= f.email_field :email, class: "form-control form-control-lg form-control-alt py-3", placeholder: 'Email', required: true %>

                <%= f.label "Phone" %><br />
                <%= f.text_field :phone, class: "form-control form-control-lg form-control-alt py-3", placeholder: 'Phone Number', required: true, maxlength: 10 %>


                <%= f.label "Interval" %><br />
                <%= f.text_field :interval, class: "form-control form-control-lg form-control-alt py-3", readonly: true, disabled: true, required: true, maxlength: 10, value: params['interval'] %>
                
                <%= f.label "Member Type" %><br />
                <%= f.text_field :memberType, class: "form-control form-control-lg form-control-alt py-3", readonly: true, disabled: true, required: true, maxlength: 10, value: params['memberType'] %>
                
              </div>
              <br>
              <%= f.submit "JOIN WAITLIST", class: "form-control btn btn-full btn-m rounded-m bg-highlight-dark font-700 text-uppercase mb-4 mt-4" %>
              
            </div>
         <% end %>
          
         <div class="row text-center">
                  
            <p class="color-white text-center opacity-50 mt-n1 mb-0 font-20">Are you ready to elevate your investment goals? Trading as a Service with Oarlin (TAAS) is specifically designed for profitable traders to share their success with the general public. But how will users find trading pros? That's where the purple star comes in! With the exclusive purple star, traders stand out from other non-trading users. Also, non-trading users won't be able to post on Oarlin. Instead, enjoy the benefit of following star traders in two exciting ways: lifestyle and trades. When you follow a trader's lifestyle, immerse yourself in their world through captivating photos, neatly organized. But that's not all! Want to emulate their trading success? Follow their trades too! Every time a trader executes a trade on the Oarlin platform, it will automatically execute for you in your personal (or business) brokerage account. Imagine having your own personal trading expert by your side, guiding your every move, allowing you to replicate their success. Get paid for following the experts!</p>
         </div>
      </div>
      <div class="card-overlay bg-black opacity-90"></div>
   </div>  
   <div class="divider"></div>
  <div class="row me-0 ms-0 mb-0">
     <div class="col-4 ps-0 pe-0">
        <div class="card card-style">
         <img src="/assets/JasperArt_2023-07-15_12.51.48_upscaled.jpg" class="img-fluid">
           <div class="content pb-0">
              <p class="mb-0 font-30 mb-2"><strong>Traders</strong></p>
              <p class="mb-0 font-22">Leverage More Capital Trading With Oarlin</p>
              <a href="/traders?&referredBy=#{current_user&.present? ? current_user&.uuid : params['referredBy']}" data-back-button="" class="btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dar">Learn More</a>
           </div>
        </div>
     </div>
     <div class="col-4 pe-0 ps-0">
        <div class="card card-style">
         <img src="/assets/JasperArt_2023-07-13_22.46.30_upscaled.jpg" class="img-fluid">
           <div class="content pb-0">
              <p class="mb-0 font-30 mb-2"><strong>Captains</strong></p>
              <p class="mb-0 font-22">Share Oarlin For Unlimited Income Potential</p>
              <a href="/captains?&referredBy=#{current_user&.present? ? current_user&.uuid : params['referredBy']}" data-back-button="" class="btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dar">Learn More</a>
           </div>
        </div>
     </div>
     <div class="col-4 pe-0 ps-0">
        <div class="card card-style">
         <img src="/assets/JasperArt_2023-07-13_21.54.58_upscaled.jpg" class="img-fluid">
           <div class="content pb-0">
              <p class="mb-0 font-30 mb-2"><strong>Users</strong></p>
              <p class="mb-0 font-22">Follow Experts That Make You Money</p>
              <a href="/users?&referredBy=#{current_user&.present? ? current_user&.uuid : params['referredBy']}" data-back-button="" class="btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dar">Learn More</a>
           </div>
        </div>
     </div>
  </div>