
   <div class="divider"></div>
    <%= form_for(:newInquiry, url: inquiry_path) do |f| %>
      <div class="col-xl-12 p-3">
        <div class="field">
          <%= f.label "Email" %><br />
          <%= f.email_field :email, class: "form-control form-control-lg form-control-alt py-3", placeholder: 'Email', required: true %>

          <%= f.label "Phone" %><br />
          <%= f.text_field :phone, class: "form-control form-control-lg form-control-alt py-3", placeholder: 'Phone Number', required: true, maxlength: 10 %>


          <%= f.label "Interval" %><br />
          <%= f.text_field :interval, class: "form-control form-control-lg form-control-alt py-3", readonly: true, disabled: true, required: true, maxlength: 10, value: params['interval'] %>
          
          <%= f.label "Member Type" %><br />
          <%= f.text_field :memberType, class: "form-control form-control-lg form-control-alt py-3", readonly: true, disabled: true, required: true, maxlength: 10, value: params['memberType'] %>
          
        </div>
        <br>
        <%= f.submit "JOIN WAITLIST", class: "form-control btn btn-full btn-m rounded-m bg-highlight-dark font-700 text-uppercase mb-4 mt-4" %>
        
      </div>
   <% end %>
  <div class="row me-0 ms-0 mb-0">
   <% if request.user_agent.include?('Mobile') %>
         <div class="col-12">
            <div class="card card-style">
               <img src="/assets/JasperArt_2023-07-15_12.51.48_upscaled.jpg" class="img-fluid">
               <div class="content pb-0">
                  <p class="mb-0 font-30 mb-2"><strong>Traders</strong></p>
                  <p class="mb-0 font-22">Leverage More Capital Trading With Oarlin</p>
                  <a href="/traders?&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>}" data-back-button="" class="btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dar">Learn More</a>
               </div>
            </div>
         </div>
         <div class="col-12">
            <div class="card card-style">
               <img src="/assets/JasperArt_2023-07-13_22.46.30_upscaled.jpg" class="img-fluid">
               <div class="content pb-0">
                  <p class="mb-0 font-30 mb-2"><strong>Captains</strong></p>
                  <p class="mb-0 font-22">Share Oarlin For Unlimited Income</p>
                  <a href="/captains?&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>}" data-back-button="" class="btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dar">Learn More</a>
               </div>
            </div>
         </div>
         <div class="col-12">
            <div class="card card-style">
               <img src="/assets/JasperArt_2023-07-13_21.54.58_upscaled.jpg" class="img-fluid">
               <div class="content pb-0">
                  <p class="mb-0 font-30 mb-2"><strong>Users</strong></p>
                  <p class="mb-0 font-22">Follow Experts That Make You Money</p>
                  <a href="/users?&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>}" data-back-button="" class="btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dar">Learn More</a>
               </div>
            </div>
         </div>
   <% else %>
         <div class="col-4 ps-0 pe-0">
            <div class="card card-style">
               <img src="/assets/JasperArt_2023-07-15_12.51.48_upscaled.jpg" class="img-fluid">
               <div class="content pb-0">
                  <p class="mb-0 font-30 mb-2"><strong>Traders</strong></p>
                  <p class="mb-0 font-22">Leverage More Capital Trading With Oarlin</p>
                  <a href="/traders?&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>}" data-back-button="" class="btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dar">Learn More</a>
               </div>
            </div>
         </div>
         <div class="col-4 pe-0 ps-0">
            <div class="card card-style">
               <img src="/assets/JasperArt_2023-07-13_22.46.30_upscaled.jpg" class="img-fluid">
               <div class="content pb-0">
                  <p class="mb-0 font-30 mb-2"><strong>Captains</strong></p>
                  <p class="mb-0 font-22">Share Oarlin For Unlimited Income</p>
                  <a href="/captains?&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>}" data-back-button="" class="btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dar">Learn More</a>
               </div>
            </div>
         </div>
         <div class="col-4 pe-0 ps-0">
            <div class="card card-style">
               <img src="/assets/JasperArt_2023-07-13_21.54.58_upscaled.jpg" class="img-fluid">
               <div class="content pb-0">
                  <p class="mb-0 font-30 mb-2"><strong>Users</strong></p>
                  <p class="mb-0 font-22">Follow Experts That Make You Money</p>
                  <a href="/users?&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>}" data-back-button="" class="btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dar">Learn More</a>
               </div>
            </div>
         </div>
      <% end %>
  </div>