<div class="header-clear-medium">
	<% if current_user %>
			<h1 class="opacity-50 text-center mb-4">Products You're Promoting</h1>
			<h4 class="opacity-50 text-center mb-4">Click Images To Remove</h4>
				<div class="gallery-views gallery-view-1">
			<% @tracking.uniq.each do |item| %>
						<a data-gallery="gallery-1"href="<%= list_path(remove: true, id: item.split('~')[0].downcase, country: item.split('~')[1], images: item.split('~')[2])  %>&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="p-5">
							<img src="<%= item.split('~')[2].split(',').sample(1)[0] %>" data-src="<%= item.split('~')[2].split(',').sample(1)[0] %>" class="rounded-m preload-img img-fluid entered loaded" alt="img" data-ll-status="loaded">

						</a>
						<%=  %>
						<%=  %>
						<%=  %>
			<% end %>
				</div>
	<% else %>
		<div class="row">
			<h4 class="opacity-50 text-center mb-4">Promote Unlimited Products Free</h4>
			<h1 class="opacity-50 text-center mb-4">Products You're Promoting</h1>
		</div>
	<% end %>
</div>