<div class="header-clear-medium">

	<% if current_user == @userFound %>
		<% currentMembersip = @userFound.checkMembership %>
		<% if @membershipDetails.present? %>
			<div class="card card-style">
		    <h1 class="p-3">Membership</h1>
				<div class="content row">
					<div class="col-7">
		          <h5 class="font-600 opacity-80">Level</h5>
		      </div>
		      <div class="col-5">
		          <h5><%= currentMembersip[:membershipType].titleize %></h5>
		      </div>
		      <% unless currentMembersip[:membershipType] == 'free' %>
			      <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
			      <% if @profile['metadata'].present? && @profile['metadata']['shortLink'].present? %>
				      <div class="col-7">
				          <h5 class="font-600 opacity-80">Short Link</h5>
				      </div>
				      <div class="col-5">
				          <h5><%= @profile['metadata']['shortLink'] %></h5>
				      </div>
				      <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
				    <% end %>
			      <div class="col-7">
			          <h5 class="font-600 opacity-80">Cost</h5>
			      </div>
			      <div class="col-5">
			          <h5 class="font-600 opacity-80"><%= number_to_currency(currentMembersip[:membershipDetails][0][:items][:data][0][:price][:unit_amount].to_i * 0.01, precision: 2)%></h5>
			      </div>
			      <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
			      <div class="col-7">
			          <h5 class="font-600 opacity-80">Interval</h5>
			      </div>
			      <div class="col-5">
			          <h5>Every <%= currentMembersip[:membershipDetails][0][:items][:data][0][:price][:recurring][:interval].titleize %></h5>
			      </div>
			      <% if currentMembersip[:membershipDetails][0]['discount'].present? %>
				      <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
				      <div class="col-7">
				          <h5 class="font-600 opacity-80">Discount</h5>
				      </div>
				      <div class="col-5">
				          <h5><%= currentMembersip[:membershipDetails][0]['discount']['coupon']['percent_off'].to_i %>% Off Next Month</h5>
				      </div>
				      <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
				    <% end %>
			      <% if currentMembersip[:membershipType] != 'free' %>
				      <a href="<%= cancel_path %>" class='p-2'>
				        <%= button_tag( :class => "btn btn-full btn-m font-900 text-uppercase rounded-sm bg-yellow-dark form-control") do %>
				          <i class="fa fa-minus-circle font-20 color-white"></i> Cancel Membership
				        <% end %>
				      </a>
			      <% end %>
		      <% end %>
		      
			  </div>
				<small class="text-center">SELLER ID: <%= Stripe::Customer.retrieve(current_user&.stripeCustomerID)['metadata']['connectAccount'][5..Stripe::Customer.retrieve(current_user&.stripeCustomerID)['metadata']['connectAccount'].size] %></small>
			</div>
			
	  <% else %>
		  Upgrade Your Free Membership
		<% end %>

		<% if @accountItemsDue.count > 0 %>
			<div class="content row">
			  <a href="<%= @stripeAccountUpdate['url'] %>" class='p-2'>
	        <%= button_tag( :class => 'btn btn-full btn-m font-900 text-uppercase rounded-sm bg-green-dark form-control') do %>
	          <i class="fa fa-check-circle font-20 color-white"></i> COMPLETE SELLER ACCOUNT
	        <% end %>
	      </a>
	    </div>
		<% end %>
	  


	<% end %>

		<div class="card card-style">

      <div class="d-flex content mb-1">
          <!-- left side of profile -->
          <div class="flex-grow-1">
              <h1 class="font-700"><%=@profile['name'].titleize%></h1>
              <p class="mb-2"><%= (@profile['metadata'].present? && @profile['metadata']['bio'].present?) ? @profile['metadata']['bio'] : nil %></p>
              <p class="font-10">
                  <strong class="color-theme pe-1"><i class="fa fa-location-arrow"></i></strong><%= User::ACCEPTEDcountries[@userFound.amazonCountry.downcase][:country] %>&nbsp;
                  <!-- <strong class="color-theme pe-1">1k</strong>Followers -->
              </p>
          </div>
          <!-- right side of profile. increase image width to increase column size-->
          <% if @profile['metadata'].present? && @profile['metadata']['profileImage'].present? %>
	          <img src="<%= @profile['metadata']['profileImage'] %>" data-src="<%= @profile['metadata']['profileImage'] %>" width="115" height="115" class="rounded-circle mt-3 shadow-xl preload-img entered loaded" data-ll-status="loaded">
	        <% end %>
      </div>
      <!-- follow buttons-->
      <% unless current_user == @userFound %>
	      <div class="content mb-0">
		      <div class="row">
	              <div class="col-12">
	                <a href="#">
						        <%= button_tag( :class => "btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dark form-control", 'data-menu'=>"flag-country-explained") do %>
						          <i class="fa fa-amazon color-highlight"></i>
						        <% end %>
						      </a>
	              </div>
	              <!-- <div class="col-6">
	                  <a href="#" class="btn btn-full btn-m rounded-s text-uppercase font-700 bg-highlight-dark border-highlight-dark" data-menu="follow-profile-and-cache">Follow</a>
	              </div>
	              <div class="col-6">
	                <a href="#">
						        <%= button_tag( :class => "btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dark form-control", 'data-menu'=>"flag-country-explained") do %>
						          <i class="fa fa-amazon color-highlight"></i>
						        <% end %>
						      </a>
	              </div> -->
		      </div>
	      </div>
	    <% end %>


      <!-- <div class="content" id="tab-group-3">
          <div class="tab-controls tabs-small tabs-rounded" data-highlight="bg-highlight-dark">
              <a href="#" class="no-effect bg-highlight-dark no-click" data-active="" data-bs-toggle="collapse" data-bs-target="#tab-8" aria-expanded="true"><i class="fa fa-amazon"></i></a>
              <a href="#" class="no-effect collapsed" data-bs-toggle="collapse" data-bs-target="#tab-9" aria-expanded="false"><i class="fa fa-comments"></i></a>
              <% if @accountItemsDue.count == 0 %>
              	<% if current_user == @userFound %>
		              <a href="#" class="no-effect collapsed" data-bs-toggle="collapse" data-bs-target="#tab-9" aria-expanded="false"><i class="fa fa-money"></i></a>
		            <% end %>
	            <% end %>
              <% if current_user == @userFound %>
                <a href="#" class="no-effect collapsed" data-bs-toggle="collapse" data-bs-target="#tab-91" aria-expanded="false"><i class="fa fa-cogs"></i></a>
              <% else %>
                <a href="#" class="no-effect collapsed" data-bs-toggle="collapse" data-bs-target="#tab-91" aria-expanded="false"><i class="fa fa-film"></i></a>
              <% end %>
          </div>
          <div class="clearfix mb-3"></div>
          <div data-bs-parent="#tab-group-3" class="collapse show" id="tab-8" style="">
            <div class="content mb-0 mt-n1">  

              <div class="gallery-views gallery-view-1">
	              <% if @profile['metadata'].present?  %>
						    	<% if @profile['metadata']['tracking'].present? && @profile['metadata']['tracking'].split('*').size > 0  %>
						    		<% @profile['metadata']['tracking'].split('*').reject(&:blank?).each do |itm| %>
								      <% if itm.split('-')[1].present? %>  
								      	<a data-gallery="gallery-1" href="<%= amazon_path(country: itm.split('~')[1],asin: itm.split('~')[0]) %>/?&referredBy=<%= @userFound&.uuid  %>" target='_blank'>
								      			<span class="flag-icon flag-icon-<%= itm.split('~')[1].downcase %> font-20"></span>
			                      <img src="<%= itm.split('~')[2].split(',').sample(1)[0] %>" data-src="<%= itm.split('~')[2].split(',').sample(1)[0] %>" class="rounded-m preload-img img-fluid entered loaded" alt="img" data-ll-status="loaded">
			                  </a>
								      <% end %>
							      <% end %>
						      <% end %>
					      <% end %>
                  
                  
              </div>
            </div>
          </div>
          <div data-bs-parent="#tab-group-3" class="collapse" id="tab-9" style="">
              <div class="accordion" id="accordion-3">
                  <div class="mb-0">
                      <% if current_user == @userFound %>
	                      <% if @accountItemsDue.count == 0 && @loginLink.present? && @loginLink['url'].present? %>
	                      	
		                      <a href="<%= @loginLink['url'] %>" target='_blank' class="btn btn-m font-900 text-uppercase rounded-sm bg-blue-dark form-control">
						                Stripe Payments Dashboard
						              </a>
	                      <% else %>
	                      	<h1 class="font-700 font-30 opacity-50 mb-4 text-center mt-4">Complete Your Seller Account</h1>
	                      <% end %>
                      <% else %>
                      	<% if @accountItemsDue.count == 0 %>
	                      	display liked posts
	                      <% end %>
                      <% end %>
                  </div>
              </div>
          </div>

          <div data-bs-parent="#tab-group-3" class="collapse" id="tab-91" style="">
              <div class="accordion" id="accordion-3">
                  <div class="mb-0">
                      display videos
                  </div>
              </div>
          </div>
      </div> -->
      <div class="content mb-0 mt-n1">  

              <div class="gallery-views gallery-view-1">
	              <% if @profile['metadata'].present?  %>
						    	<% if @profile['metadata']['tracking'].present? && @profile['metadata']['tracking'].split('*').size > 0  %>
						    		<% @profile['metadata']['tracking'].split('*').reject(&:blank?).each do |itm| %>
								      <% if itm.split('-')[1].present? %>  
								      	<a data-gallery="gallery-1" href="<%= amazon_path(country: itm.split('~')[1],asin: itm.split('~')[0]) %>/?&referredBy=<%= @userFound&.uuid  %>" target='_blank'>
								      			<span class="flag-icon flag-icon-<%= itm.split('~')[1].downcase %> font-20"></span>
			                      <img src="<%= itm.split('~')[2].split(',').sample(1)[0] %>" data-src="<%= itm.split('~')[2].split(',').sample(1)[0] %>" class="rounded-m preload-img img-fluid entered loaded" alt="img" data-ll-status="loaded">
			                  </a>
								      <% end %>
							      <% end %>
						      <% end %>
					      <% end %>
                  
                  
              </div>
            </div>
	  </div>



	
</div>






<div id="flag-country-explained" class="menu menu-box-modal rounded-m" data-menu-width="330" style="display: block; width: 330px;">
  <div class="content">
    <div class="text-center">
      <span class="font-40 icon icon-xxl fa fa-amazon"></span>
    </div>
    <h5 class="text-center">This Icon Means There Are Amazon Affiliate Links Present</a>
    </h5>
    <small class="pb-4">This Page Contains Amazon Affiliate Links That Will Earn That Affiliate Commission If Purchased. We Automate This Process For All Amazon Associates &amp; Pay Commission On Oarlin Memberships As Well (Available In USA)</small>
  </div>
</div>

<div id="follow-profile-and-cache" class="menu menu-box-modal rounded-m" data-menu-width="330" style="display: block; width: 330px;">
  <div class="content">
    <div class="text-center">
      <span class="font-40 icon icon-xxl fa fa-comments"></span>
    </div>
    <h5 class="text-center">Get Notified when <%= @profile['name'] %> updates their list</a>
    </h5>
    <small class="pb-4">This Page Contains Amazon Affiliate Links That Will Earn That Affiliate Commission If Purchased. We Automate This Process For All Amazon Associates &amp; Pay Commission On Oarlin Memberships As Well (Available In USA)</small>
  </div>
</div>