<div class="header-clear-medium">
	<% if current_user %>
		<% currentMembersip = @current_user.checkMembership %>

		<div class="card card-style" data-card-height="300" style="height: 300px;">
			<!-- 		<%= @profileMetadata %> -->
			<div class="card-center p-3">
		    <h1 class="color-white"><%= @profile['name'].titleize %>#<%= current_user&.uuid %></h1>
		    
		    <span class="flag-icon flag-icon-<%= current_user&.amazonCountry.downcase %> font-40"></span>
			</div>
			<div class="card-top p-3">
			    <span class="badge bg-highlight color-white p-2 float-end m-2 rounded-s"><%= currentMembersip[:membershipType].titleize %></span>
			    <span class="badge bg-aqua-dark color-white p-2 float-end m-2 rounded-s">Member</span>
			    <% if @accountItemsDue.count == 0 %>
				    <span class="badge bg-blue-dark color-white p-2 float-end m-2 rounded-s"></span>
				<% end %>
			</div>
			<div class="card-bottom m-3">
		    <h5 class="color-white float-start">Seller Progress</h5>
				<% if @accountItemsDue.size > 0 %>
					<h5 class="color-white float-end">65% Complete</h5>
			    <div class="clearfix"></div>
			    <div class="progress mt-2" style="height:2px;">
			        <div class="progress-bar border-0 bg-green-dark text-start ps-2" role="progressbar" style="width: 65%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
			        </div>
			    </div>
				<% end %>
				<% if @accountItemsDue.size == 0 %>
					<h5 class="color-white float-end">100% Complete</h5>
				    <div class="clearfix"></div>
				    <div class="progress mt-2" style="height:2px;">
				        <div class="progress-bar border-0 bg-green-dark text-start ps-2" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
				        </div>
				    </div>
				<% end %>
			    
			</div>
			<div class="card-overlay bg-black opacity-70"></div>
		</div>
		<% if @accountItemsDue.count > 0 %>
			<div class="content row">
			  <a href="<%= @stripeAccountUpdate['url'] %>" class='p-2'>
	        <%= button_tag( :class => 'btn btn-full btn-m font-900 text-uppercase rounded-sm bg-green-dark form-control') do %>
	          <i class="fa fa-check-circle font-20 color-white"></i> COMPLETE SELLER ACCOUNT
	        <% end %>
	      </a>
	    </div>
		<% end %>
	  <% if @membershipDetails.present? %>
		  
			<div class="card card-style">
		    <h1 class="p-3">Membership</h1>
				<div class="content row">
					<div class="col-7">
		          <h5 class="font-600 opacity-80">Level</h5>
		      </div>
		      <div class="col-5">
		          <h5><%= currentMembersip[:membershipType].titleize %></h5>
		      </div>
		      <% unless currentMembersip[:membershipType] == 'free' %>
			      <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
			      <div class="col-7">
			          <h5 class="font-600 opacity-80">Cost</h5>
			      </div>
			      <div class="col-5">
			          <h5 class="font-600 opacity-80"><%= number_to_currency(currentMembersip[:membershipDetails][0][:items][:data][0][:price][:unit_amount].to_i * 0.01, precision: 2)%></h5>
			      </div>
			      <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
			      <div class="col-7">
			          <h5 class="font-600 opacity-80">Interval</h5>
			      </div>
			      <div class="col-5">
			          <h5>Every <%= currentMembersip[:membershipDetails][0][:items][:data][0][:price][:recurring][:interval].titleize %></h5>
			      </div>
			      <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
			      <% if currentMembersip[:membershipDetails][0]['discount'].present? %>
				      <div class="col-7">
				          <h5 class="font-600 opacity-80">Discount</h5>
				      </div>
				      <div class="col-5">
				          <h5><%= currentMembersip[:membershipDetails][0]['discount']['coupon']['percent_off'].to_i %>% Off <%= pluralize(currentMembersip[:membershipDetails][0]['discount']['coupon']['duration_in_months'], "Month") %></h5>
				      </div>
				      <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
				    <% end %>
			      <% if currentMembersip[:membershipType] != 'free' %>
				      <a href="<%= cancel_path %>" class='p-2'>
				        <%= button_tag( :class => "btn btn-full btn-m font-900 text-uppercase rounded-sm bg-yellow-dark form-control") do %>
				          <i class="fa fa-minus-circle font-20 color-white"></i> Cancel Membership
				        <% end %>
				      </a>
			      <% end %>
		      <% end %>
		      
			  </div>
				<small class="text-center">SELLER ID: <%= Stripe::Customer.retrieve(current_user&.stripeCustomerID)['metadata']['connectAccount'][5..Stripe::Customer.retrieve(current_user&.stripeCustomerID)['metadata']['connectAccount'].size] %></small>
			</div>
	  <% else %>
		  Upgrade Your Free Membership
		<% end %>


	<% else%>

		<div class="d-flex pt-2">
	      <div class="align-self-center me-auto">
	          <strong class="text-uppercase opacity-60 font-12">Oarlin Welcomes You</strong>
	          <h1 class=" font-27"><%=@profile['name'].titleize%></h1>
	          <span class="flag-icon flag-icon-<%= @userFound.amazonCountry.downcase %> font-40"></span>
	      </div>
	  </div>
		<div class="content mt-2 mb-n3">
	    <div class="row">
	    	<% if @profile['metadata'].present?  %>
		    	<% if @profile['metadata']['tracking'].present? && @profile['metadata']['tracking'].split(',').size > 0  %>
		    		<% @profile['metadata']['tracking'].split(',').reject(&:blank?).each do |itm| %>
			        <div class="col-6 pe-2">

		                <div class="d-flex">
		                </div>
		            <a href="#" class="card card-style mx-0 mb-3" data-menu="menu-product">
		                <img src="images/grocery/isolated/11.png" alt="img" width="100" class="mx-auto">
		                <div class="p-2">
		                    <h4 class="mb-0"><%= itm %></h4>
		                    <p class="mb-0 font-12 mt-n1"><%= User::ACCEPTEDcountries[itm.split('-')[1]].present? ? "From #{User::ACCEPTEDcountries[itm.split('-')[1]][:country]}" : nil %></p>
		                </div>
		            </a>
		            <div class="col-12">
		              <a href="<%= amazon_path(id: itm, country: itm.split('-')[1],asin: itm.split('-')[0]) %>/?&referredBy=<%= @userFound&.uuid  %>">
		                <%= button_tag( :class => "btn btn-m font-900 text-uppercase rounded-sm bg-yellow-dark form-control") do %>
		                  <i class="fa fa-amazon font-20 color-white"></i>
		                <% end %>
		              </a>
		            </div>
		            <div class="col-12">
		              <a href="<%= product_path(id: itm) %>">
		                <%= button_tag( :class => "btn btn-m font-900 text-uppercase rounded-sm bg-highlight form-control") do %>
		                  <i class="fa fa-info-circle font-20 color-white"></i>
		                <% end %>
		              </a>
		            </div>
	              <div class="divider mb-4"></div>
			        </div>
			      <% end %>
		      <% end %>
	      <% end %>
	    </div>
		</div>
	<% end %>
</div>