<div id="page" data-swup="0">
   <div class="page-content header-clear-medium">
      <div class="card card-style">
         <div class="d-flex content mb-1">
            <i class="fa fa-star color-highlight-dark float-end font-13 mt-2 me-3"></i>
            <div class="flex-grow-1">
               <h1 class="font-700"><%= @userFound.username %></h1>
               <p class="mb-2 font-16">I'm in love software &amp; finance... I founded Oarlin.</p>
               <p class="font-10">
                  <strong class="color-theme pe-1 font-14">1k</strong>Followers
                  <strong class="color-theme ps-3 pe-1 font-14">342</strong>Traders
               </p>
            </div>
            <img src="/assets/Oarlin_free-file.jpg" data-src="/assets/Oarlin_free-file.png" width="90" height="90" class="rounded-circle mt-3 shadow-xl preload-img entered loaded" data-ll-status="loaded">
         
            
         
         </div>
         <div class="content mb-4">
            <div class="row mb-0">
               <div class="col-6">
                  <a href="#" class="btn btn-full btn-m rounded-s text-uppercase font-700 bg-highlight-dark">TRADES
                     <p class="text-center color-white font-8">FOLLOW</p>
                  </a>
               </div>
               <div class="col-6">
                  <a href="#" class="btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dark">LIFESTYLE
                     <p class="text-center color-highlight font-8">FOLLOWING</p>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <a href="#" data-menu="ad-timed-2" data-timed-ad="5" class="btn btn-l btn-full rounded-s shadow-xl text-uppercase font-900 bg-highlight me-3 ms-3 mb-4">GET INVITED</a>


      <a href="#" data-menu="ad-timed-3" data-timed-ad="5" data-auto-show-ad="1" class="btn btn-l btn-full rounded-s shadow-xl text-uppercase font-900 bg-highlight me-3 ms-3 mb-4" style="visibility: hidden">Shows Automatically in 1 Seconds</a>
      

      <div class="divider mt-4 mb-0"></div>
      <div class="content mb-0 mt-n1">
         <div class="gallery-views gallery-view-3">
            <div class="card card-style">
               <div class="content">
                  
                  <p><i class="fa fa-star color-highlight-dark font-13"></i> <%= @userFound.username %> <span class="color-highlight float-end"><%= rand(0..4) %> Days Ago</span></p>
                  
               </div>
               <a data-gallery="gallery-1" title="Vynil and Typerwritter">
               <img src="/assets/Oarlin_free-file.png" data-src="/assets/Oarlin_free-file.png" class="rounded-m preload-img shadow-xl img-fluid entered loaded" alt="img" data-ll-status="loaded">
               <div class="caption content">
                  <h4 class="bottom-0 color-theme">Messy Desk?<span class="float-end"><i class="fa fa-bullhorn color-highlight"></i></span></h4>
                  <p>Some may consider this to be a very messy desk.</p>
                  
               </div>
               </a>
            </div>
            <div class="card card-style">
               <div class="content">
                  
                  <p><i class="fa fa-star color-highlight-dark font-13"></i> <%= @userFound.username %> <span class="color-highlight float-end"><%= rand(0..4) %> Days Ago</span></p>
                  
               </div>
               <a data-gallery="gallery-1" title="Fruit Cookie Pie">
               <img src="/assets/Oarlin_free-file.png" data-src="/assets/Oarlin_free-file.png" class="rounded-m preload-img shadow-xl img-fluid entered loaded" alt="img" data-ll-status="loaded">
               <div class="caption content">
                  <h4 class="bottom-0 color-theme">Designers Desk<span class="float-end"><i class="fa fa-bullhorn color-highlight"></i></span></h4>
                  <p>With all the gadgets you'd ever wish for.</p>
                  
               </div>
               </a>
            </div>
            <div class="card card-style">
               <div class="content">
                  
                  <p><i class="fa fa-star color-highlight-dark font-13"></i> <%= @userFound.username %> <span class="color-highlight float-end"><%= rand(0..4) %> Days Ago</span></p>
                  
               </div>
               <a data-gallery="gallery-1" title="Plain Cookies and Flour">
               <img src="/assets/Oarlin_free-file.png" data-src="/assets/Oarlin_free-file.png" class="rounded-m preload-img shadow-xl img-fluid entered loaded" alt="img" data-ll-status="loaded">
               <div class="caption content">
                  <h4 class="bottom-0 color-theme">Apple Watch<span class="float-end"><i class="fa fa-bullhorn color-highlight"></i></span></h4>
                  <p>The perfect and small notification device.</p>
                  
               </div>
               </a>
            </div>
            <div class="card card-style">
               <div class="content">
                  
                  <p><i class="fa fa-star color-highlight-dark font-13"></i> <%= @userFound.username %> <span class="color-highlight float-end"><%= rand(0..4) %> Days Ago</span></p>
                  
               </div>
               <a data-gallery="gallery-1" title="Pots and Stuff">
               <img src="/assets/Oarlin_free-file.png" data-src="/assets/Oarlin_free-file.png" class="rounded-m preload-img shadow-xl img-fluid entered loaded" alt="img" data-ll-status="loaded">
               <div class="caption content">
                  <h4 class="bottom-0 color-theme">City Landscape<span class="float-end"><i class="fa fa-bullhorn color-highlight"></i></span></h4>
                  <p>It's absolutely gorgeous, we'd love to see it live.</p>
                  
               </div>
               </a>
            </div>
            <div class="card card-style">
               <div class="content">
                  <p></p>
                  <p><i class="fa fa-star color-highlight-dark font-13"></i> <%= @userFound.username %> <span class="color-highlight float-end"><%= rand(0..4) %> Days Ago</span></p>
                  
               </div>
               <a data-gallery="gallery-1" title="Delicious Strawberries">
               <img src="/assets/Oarlin_free-file.png" data-src="/assets/Oarlin_free-file.png" class="rounded-m preload-img shadow-xl img-fluid entered loaded" alt="img" data-ll-status="loaded">
               <div class="caption content">
                  <h4 class="bottom-0 color-theme">Typography and iP5</h4>
                  <p>A beautifully captured snap with great contrast.</p>
                  
               </div>
               </a>
            </div>
            <div class="card card-style">
               <div class="content">
                  
                  <p><i class="fa fa-star color-highlight-dark font-13"></i> <%= @userFound.username %> <span class="color-highlight float-end"><%= rand(0..4) %> Days Ago</span></p>
                  
               </div>
               <a data-gallery="gallery-1" title="A Beautiful Camera">
               <img src="/assets/Oarlin_free-file.png" data-src="/assets/Oarlin_free-file.png" class="rounded-m preload-img shadow-xl img-fluid entered loaded" alt="img" data-ll-status="loaded">
               <div class="caption content">
                  <h4 class="bottom-0 color-theme">Feather and P</h4>
                  <p>Going back to days when things were simplere.</p>
               </div>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- ad spaces -->

<div id="ad-timed-3" class="menu menu-box-modal menu-box-modal-full" style="display: block;">
   <div class="card bg-17" style="height:100vh; width:100vw;">
      <div class="card-top">
         <a href="#" class="close-menu ad-time-close color-highlight"><i class="fa fa-times"></i><span style="display: none;">0</span></a>
      </div>
      <div class="card-top no-click">
         <span class="color-white bg-black font-10 opacity-70 pb-1 pt-1 ps-2 pe-2 ms-1">Sponsored Content</span>
      </div>
      <div class="card-center ms-5 me-5">
         <h1 class="color-white text-center mb-3 font-40">Automatic Show</h1>
         <%= form_for(:newInquiry, url: inquiry_path) do |f| %>
            <div class="col-xl-12 p-3">
              <div class="field">
                <%= f.label "Email" %><br />
                <%= f.email_field :email, class: "form-control form-control-lg form-control-alt py-3", placeholder: 'Email', required: true %>

                <%= f.label "Phone" %><br />
                <%= f.text_field :phone, class: "form-control form-control-lg form-control-alt py-3", placeholder: 'Phone Number', required: true, maxlength: 10 %>
                
              </div>
              <br>
              <%= f.submit "Contact Me", class: "form-control btn btn-full btn-m rounded-m bg-blue-dark font-700 text-uppercase mb-4 mt-4" %>
            </div>
         <% end %>
         <p class="color-white text-center opacity-50 mt-n1 mb-0">This ad apears on it's own, and can only be closed after 5 seconds. In the demo, you can use the red close button, in real life, you can remove that button.</p>
         <a href="#" class="close-menu me-3 ms-3 mt-5 btn btn-m btn-full rounded-s shadow-xl text-uppercase font-900 bg-red-dark">Demo Close Button</a>
      </div>
      <div class="card-overlay bg-black opacity-90"></div>
   </div>
</div>
<div id="ad-timed-2" class="menu menu-box-modal menu-box-modal-full" style="display: block;">
   <div class="card m-0 bg-17" style="height:100vh; width:100vw;">
      <div class="card-top">
         <a href="#" class="close-menu ad-time-close color-highlight"><i class="fa fa-times"></i><span style="display: none;">0</span></a>
      </div>
      <div class="card-top no-click">
         <span class="color-white bg-black font-10 opacity-70 pb-1 pt-1 ps-2 pe-2 ms-1">Sponsored Content</span>
      </div>
      <div class="card-center ms-5 me-5">
         <h1 class="color-white text-center mb-3 font-40">Full Ad</h1>
         <p class="color-white text-center opacity-50 mt-n1 mb-0">Timed ads show for the amount of time you want. During this time, users cannot click the close button. After the time has elapsed, the ad can be closed.</p>
         <a href="#" class="close-menu me-3 ms-3 mt-5 btn btn-m btn-full rounded-s shadow-xl text-uppercase font-900 bg-red-dark">Demo Close Button</a>
      </div>
      <div class="card-overlay bg-black opacity-90"></div>
   </div>
</div>