
<div class="header-clear-medium">
  <div data-card-height="240" class="card card-style rounded-m shadow-xl preload-img entered loaded" data-src="images/pictures/18w.jpg" data-ll-status="loaded" style="height: 240px; background-image: url(&quot;images/pictures/18w.jpg&quot;);">
      <div class="card-top mt-4 ms-3">
          <h1 class="color-white mb-0 mb-n2 font-22">
            <% if Stripe::Issuing::Card.retrieve(@profile['metadata']['issuedCard'] )['cardholder']['type'] == 'individual' %>
              <%= Stripe::Issuing::Card.retrieve(@profile['metadata']['issuedCard'] )['cardholder']['individual']['first_name'] %> <%= Stripe::Issuing::Card.retrieve(@profile['metadata']['issuedCard'] )['cardholder']['individual']['last_name'] %>
            <% else %>

            <% end %>
          </h1>
          <p class="bottom-0 color-white opacity-50 under-heading font-11 font-700">**** **** **** <%= Stripe::Issuing::Card.retrieve(@profile['metadata']['issuedCard'] )['last4'] %></p>
      </div>
      <div class="card-top mt-4 me-3">
          <a href="<%= new_deposit_path %>" data-menu="menu-add-funds" class="mt-1 float-end text-uppercase font-900 font-11 btn btn-s rounded-s shadow-l bg-highlight">New Deposit</a>
      </div>
      <div class="card-center text-center">
          <h1 class="color-white fa-4x"><%= number_to_currency(@balance, precision: 2) %></h1>
          <p class="color-white opacity-70 font-11 mb-n5">Balance</p>
      </div>
      <div class="card-bottom">
          <p class="ms-3 font-10 font-500 opacity-50 color-white mb-2">Exp: <%= Stripe::Issuing::Card.retrieve(@profile['metadata']['issuedCard'] )['exp_month'] %>/<%= Stripe::Issuing::Card.retrieve(@profile['metadata']['issuedCard'] )['exp_year'] %></p>
      </div>
      <div class="card-bottom">
          <p class="text-end me-3 font-10 font-500 opacity-50 color-white mb-2"><i class="fa fa-cc-visa font-20 rotate-90"></i></p>
      </div>
      <div class="card-overlay bg-black opacity-70"></div>
  </div>
  <div class="d-flex content mb-1">
    <div class="flex-grow-1">
      <h1 class="font-700">Transaction History</h1>
      <!--  <%= Stripe::Issuing::Card.retrieve(@profile['metadata']['issuedCard'] )['exp_month'] %> -->
      
    </div>
  </div>
  <div class="card card-style">
      <div class="content mb-0">
          <!-- <h4 class="font-700 text-uppercase font-12 opacity-30 mb-3 mt-n2">Account History</h4> -->
          <div class="row mb-3">
              <div class="col-4"><p class="font-14 mb-0 font-800 color-theme text-start">Date</p></div>
              <div class="col-4"><p class="font-14 mb-0 font-800 color-theme text-center">Item</p></div>
              <div class="col-4"><p class="font-14 mb-0 font-800 color-theme text-end">Amount</p></div>
              <div class="divider w-100 mb-2 mt-2"></div>
              <% if @builtPayload.present? %>
                <% @builtPayload.flatten.sort_by{|e| e[:created]}.reverse.each do |transa| %> 
                  <div class="col-4"><p class="font-13 mb-0 font-500 color-theme text-start">
                    <%= DateTime.strptime((transa[:created].to_i.to_s),'%s').to_date.strftime('%b, %d %Y') %></p></div>
                  <div class="col-4"><p class="font-13 mb-0 font-800 color-theme text-center"><%= transa[:item] %></p></div>
                  <div class="col-4"><p class="font-13 mb-0 font-800 color-theme text-end"><%= number_to_currency(transa[:amount] * 0.01, precision: 2) %></p></div>
                <% end %>
              <% else %>
                <p class="bottom-0 opacity-50 under-heading font-20 text-center font-700">NO TRANSACTIONS</p>
              <% end %>
          </div>
      </div>    
  </div>
</div>



<div id="flag-country-explained" class="menu menu-box-modal rounded-m" data-menu-width="330" style="display: block; width: 330px;">
  <div class="content">
    <div class="text-center">
      <span class="font-40 icon icon-xxl fa fa-amazon"></span>
    </div>
    <h5 class="text-center">This Icon Means There Are Amazon Affiliate Links Present</a>
    </h5>
    <small class="pb-4">This Page Contains Amazon Affiliate Links That Will Earn That Affiliate Commission If Purchased. We Automate This Process For All Amazon Associates &amp; Pay Commission On Oarlin Memberships As Well (Available In USA)</small>
  </div>
</div>

<div id="follow-profile-and-cache" class="menu menu-box-modal rounded-m" data-menu-width="330" style="display: block; width: 330px;">
  <div class="content">
    <div class="text-center">
      <span class="font-40 icon icon-xxl fa fa-comments"></span>
    </div>
    <h5 class="text-center">Get Notified when <%= @profile['name'] %> updates their list</a>
    </h5>
    <small class="pb-4">This Page Contains Amazon Affiliate Links That Will Earn That Affiliate Commission If Purchased. We Automate This Process For All Amazon Associates &amp; Pay Commission On Oarlin Memberships As Well (Available In USA)</small>
  </div>
</div>
<div id="flag-country-explained" class="menu menu-box-modal rounded-m" data-menu-width="330" style="display: block; width: 330px;">
  <div class="content">
    <div class="text-center">
      <span class="font-40 icon icon-xxl fa fa-amazon"></span>
    </div>
    <h5 class="text-center">This Icon Means There Are Amazon Affiliate Links Present</a>
    </h5>
    <small class="pb-4">This Page Contains Amazon Affiliate Links That Will Earn That Affiliate Commission If Purchased. We Automate This Process For All Amazon Associates &amp; Pay Commission On Oarlin Memberships As Well (Available In USA)</small>
  </div>
</div>
<div id="follow-profile-and-cache" class="menu menu-box-modal rounded-m" data-menu-width="330" style="display: block; width: 330px;">
  <div class="content">
    <div class="text-center">
      <span class="font-40 icon icon-xxl fa fa-comments"></span>
    </div>
    <h5 class="text-center">Get Notified when <%= @profile['name'] %> updates their list</a>
    </h5>
    <small class="pb-4">This Page Contains Amazon Affiliate Links That Will Earn That Affiliate Commission If Purchased. We Automate This Process For All Amazon Associates &amp; Pay Commission On Oarlin Memberships As Well (Available In USA)</small>
  </div>
</div>

<!-- ad spaces -->
<div id="ad-timed-3" class="menu menu-box-modal menu-box-modal-full" style="display: block;">
  <div class="card bg-17" style="height:100vh; width:100vw;">
    <div class="card-top">
      <a href="#" class="close-menu ad-time-close color-highlight"><i class="fa fa-times"></i><span style="display: none;">0</span></a>
    </div>
    <div class="card-top no-click">
      <span class="color-white bg-black font-10 opacity-70 pb-1 pt-1 ps-2 pe-2 ms-1">Sponsored Content</span>
    </div>
    <div class="card-center ms-5 me-5">
      <h1 class="color-white text-center mb-3 font-40">Automatic Show</h1>
      <%= form_for(:newInquiry, url: inquiry_path) do |f| %>
      <div class="col-xl-12 p-3">
        <div class="field">
          <%= f.label "Email" %><br />
          <%= f.email_field :email, class: "form-control form-control-lg form-control-alt py-3", placeholder: 'Email', required: true %>
          <%= f.label "Phone" %><br />
          <%= f.text_field :phone, class: "form-control form-control-lg form-control-alt py-3", placeholder: 'Phone Number', required: true, maxlength: 10 %>
        </div>
        <br>
        <%= f.submit "Contact Me", class: "form-control btn btn-full btn-m rounded-m bg-blue-dark font-700 text-uppercase mb-4 mt-4" %>
      </div>
      <% end %>
      <p class="color-white text-center opacity-50 mt-n1 mb-0">This ad apears on it's own, and can only be closed after 5 seconds. In the demo, you can use the red close button, in real life, you can remove that button.</p>
      <a href="#" class="close-menu me-3 ms-3 mt-5 btn btn-m btn-full rounded-s shadow-xl text-uppercase font-900 bg-red-dark">Demo Close Button</a>
    </div>
    <div class="card-overlay bg-black opacity-90"></div>
  </div>
</div>
<div id="ad-timed-2" class="menu menu-box-modal menu-box-modal-full" style="display: block;">
  <div class="card m-0 bg-17" style="height:100vh; width:100vw;">
    <div class="card-top">
      <a href="#" class="close-menu ad-time-close color-highlight"><i class="fa fa-times"></i><span style="display: none;">0</span></a>
    </div>
    <div class="card-top no-click">
      <span class="color-white bg-black font-10 opacity-70 pb-1 pt-1 ps-2 pe-2 ms-1">Sponsored Content</span>
    </div>
    <div class="card-center ms-5 me-5">
      <h1 class="color-white text-center mb-3 font-40">Full Ad</h1>
      <p class="color-white text-center opacity-50 mt-n1 mb-0">Timed ads show for the amount of time you want. During this time, users cannot click the close button. After the time has elapsed, the ad can be closed.</p>
      <a href="#" class="close-menu me-3 ms-3 mt-5 btn btn-m btn-full rounded-s shadow-xl text-uppercase font-900 bg-red-dark">Demo Close Button</a>
    </div>
    <div class="card-overlay bg-black opacity-90"></div>
  </div>
</div>

