<div class="header-clear-medium">

	<% if current_user == @userFound %>
		<% currentMembersip = @userFound.checkMembership %>
		<% if @membershipDetails.present? %>
			<div class="card card-style">
		    <h1 class="p-3">Membership</h1>
				<div class="content row">
					<div class="col-7">
		          <h5 class="font-600 opacity-80">Level</h5>
		      </div>
		      <div class="col-5">
		          <h5><%= currentMembersip[:membershipType].titleize %></h5>
		      </div>
		      <% unless currentMembersip[:membershipType] == 'free' %>
			      <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
			      <% if @profile['metadata'].present? && @profile['metadata']['shortLink'].present? %>
				      <div class="col-7">
				          <h5 class="font-600 opacity-80">Short Link</h5>
				      </div>
				      <div class="col-5">
				          <h5><%= @profile['metadata']['shortLink'] %></h5>
				      </div>
				      <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
				    <% end %>
			      <div class="col-7">
			          <h5 class="font-600 opacity-80">Cost</h5>
			      </div>
			      <div class="col-5">
			          <h5 class="font-600 opacity-80"><%= number_to_currency(currentMembersip[:membershipDetails][0][:items][:data][0][:price][:unit_amount].to_i * 0.01, precision: 2)%></h5>
			      </div>
			      <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
			      <div class="col-7">
			          <h5 class="font-600 opacity-80">Interval</h5>
			      </div>
			      <div class="col-5">
			          <h5>Every <%= currentMembersip[:membershipDetails][0][:items][:data][0][:price][:recurring][:interval].titleize %></h5>
			      </div>
			      <% if currentMembersip[:membershipDetails][0]['discount'].present? %>
				      <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
				      <div class="col-7">
				          <h5 class="font-600 opacity-80">Discount</h5>
				      </div>
				      <div class="col-5">
				          <h5><%= currentMembersip[:membershipDetails][0]['discount']['coupon']['percent_off'].to_i %>% Off Next Month</h5>
				      </div>
				      <div class="divider w-100 mt-2 mb-2 divider-margins"></div>
				    <% end %>
			      <% if currentMembersip[:membershipType] != 'free' %>
				      <a href="<%= cancel_path %>" class='p-2'>
				        <%= button_tag( :class => "btn btn-full btn-m font-900 text-uppercase rounded-sm bg-yellow-dark form-control") do %>
				          <i class="fa fa-minus-circle font-20 color-white"></i> Cancel Membership
				        <% end %>
				      </a>
			      <% end %>
		      <% end %>
		      
			  </div>
				<small class="text-center">SELLER ID: <%= Stripe::Customer.retrieve(current_user&.stripeCustomerID)['metadata']['connectAccount'][5..Stripe::Customer.retrieve(current_user&.stripeCustomerID)['metadata']['connectAccount'].size] %></small>
			</div>
			
	  <% else %>
		  Upgrade Your Free Membership
		<% end %>

		<% if @accountItemsDue.count > 0 %>
			<div class="content row">
			  <a href="<%= @stripeAccountUpdate['url'] %>" class='p-2'>
	        <%= button_tag( :class => 'btn btn-full btn-m font-900 text-uppercase rounded-sm bg-green-dark form-control') do %>
	          <i class="fa fa-check-circle font-20 color-white"></i> COMPLETE SELLER ACCOUNT
	        <% end %>
	      </a>
	    </div>
		<% end %>
	<% end %>
  <div class="d-flex content mb-1">
    <!-- left side of profile -->
    <div class="flex-grow-1">
        <h1 class="font-700"><%=@profile['name'].titleize%></h1>
        <p class="mb-2"><%= (@profile['metadata'].present? && @profile['metadata']['bio'].present?) ? @profile['metadata']['bio'] : nil %></p>
        <p class="font-10">
            <strong class="color-theme pe-1"><i class="fa fa-location-arrow"></i></strong><%= User::ACCEPTEDcountries[@userFound.amazonCountry.downcase][:country] %>&nbsp;
            <!-- <strong class="color-theme pe-1">1k</strong>Followers -->
        </p>
    </div>
    <!-- right side of profile. increase image width to increase column size-->
    <% if @profile['metadata'].present? && @profile['metadata']['profileImage'].present? %>
      <img data-card-height="272" src="<%= @profile['metadata']['profileImage'] %>" data-src="<%= @profile['metadata']['profileImage'] %>" width="115" height="115" class="rounded-circle mt-3 shadow-xl preload-img entered loaded" data-ll-status="loaded">
    <% end %>
  </div>
	<div class="card card-style">
    <!-- follow buttons-->
    <% unless current_user == @userFound %>
      <div class="content mb-0">
	      <div class="row">
              <div class="col-12">
                <a href="#">
					        <%= button_tag( :class => "btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dark form-control", 'data-menu'=>"flag-country-explained") do %>
					          <i class="fa fa-amazon color-highlight"></i>
					        <% end %>
					      </a>
              </div>

	      </div>
      </div>
    <% end %>
    <div class="content mb-0 mt-n1">  
      <% if @profile['metadata'].present?  %>
	    	<% if @profile['metadata']['tracking'].present? && @profile['metadata']['tracking'].split('*').size > 0  %>
	    	<div class="row">
	    		
	    		<% @profile['metadata']['tracking'].split('*').reject(&:blank?).each do |itm| %>
			      <% if itm.split('-')[1].present? %>  
			      	<a class="col-4 pe-0" href="#">
			      		<div class="card rounded-m shadow-l mx-1" data-card-height="250" style="height:96vh; background-image:url(<%= itm.split('~')[2].split(',').sample(1)[0] %>)">
                </div>
              </a>
			      <% end %>
		      <% end %>
	    	</div>
	      <% end %>
      <% end %>
    </div>
  </div>
</div>






<div id="flag-country-explained" class="menu menu-box-modal rounded-m" data-menu-width="330" style="display: block; width: 330px;">
  <div class="content">
    <div class="text-center">
      <span class="font-40 icon icon-xxl fa fa-amazon"></span>
    </div>
    <h5 class="text-center">This Icon Means There Are Amazon Affiliate Links Present</a>
    </h5>
    <small class="pb-4">This Page Contains Amazon Affiliate Links That Will Earn That Affiliate Commission If Purchased. We Automate This Process For All Amazon Associates &amp; Pay Commission On Oarlin Memberships As Well (Available In USA)</small>
  </div>
</div>

<div id="follow-profile-and-cache" class="menu menu-box-modal rounded-m" data-menu-width="330" style="display: block; width: 330px;">
  <div class="content">
    <div class="text-center">
      <span class="font-40 icon icon-xxl fa fa-comments"></span>
    </div>
    <h5 class="text-center">Get Notified when <%= @profile['name'] %> updates their list</a>
    </h5>
    <small class="pb-4">This Page Contains Amazon Affiliate Links That Will Earn That Affiliate Commission If Purchased. We Automate This Process For All Amazon Associates &amp; Pay Commission On Oarlin Memberships As Well (Available In USA)</small>
  </div>
</div>