<div class="card card-style" style="background-image: url(); height: 350px;" data-card-height="350">
   <div class="card-bottom p-3">
      <h1 class="color-white font-24 opacity-50">Help Us Grow</h1>
      <h1 class="color-white font-40">Skip Waitlist - <%= params['memberType'].titleize %></h1>
      <p class="color-white opacity-70 pt-3 mb-2"><%= params['interval'].titleize %> Plan</p>
   </div>
   <div class="card-overlay bg-gradient"></div>
</div>


<div class="row text-center mb-0">
   <% if request.user_agent.include?('Mobile') %>
      <a href="<%= @session['url'] %>" class="col-12">
         <div class="card card-style me-2 mb-2">
            <h1 class="pt-4">Join Oarlin</h1>
            <p class="mb-0 pb-0 font-20 text-uppercase opacity-40">Click To Start</p>
            
            <i class="fa fa-users color-highlight-dark fa-3x mt-5"></i>
            <h1 class="pt-4"><%= params['memberType'] == 'user' ? 'User' : params['memberType'] == 'captain' ? 'Captain' : 'Trader' %> Expectations</h1>
            <% if params['memberType'] == 'captain' %>
               <p class="font-11 opacity-50 mt-n1">To skip the waitlist you agree to uphold all Oarlin standards and recieve continued education related to trading financial markets successfully</p>
               <p><i class="fa fa-check color-green-dark"></i> Learn How Oarlin Works</p>
               <p><i class="fa fa-check color-green-dark"></i> Explain The "Oarlin Plan"</p>
               <p><i class="fa fa-check color-green-dark"></i> Share The "Oarlin Plan" Ethically</p>
               <p><i class="fa fa-check color-green-dark"></i> Expand Your "Downline"</p>
               <p><i class="fa fa-check color-green-dark mb-4"></i> 3% Profit Fee</p>
            <% elsif params['memberType'] == 'user' %>
               <p class="font-11 opacity-50 mt-n1">To skip the waitlist you agree to uphold all Oarlin standards and not harass anyone. You agree that investing comes with the risk of loosing all your money.</p>
               <p><i class="fa fa-check color-green-dark"></i> Manage Your Assets</p>
               <p><i class="fa fa-check color-green-dark"></i> Adjust Risk &amp; Reward Anytime</p>
               <p><i class="fa fa-check color-green-dark"></i> Pause Your Plan Anytime</p>
               <p><i class="fa fa-check color-green-dark mb-4"></i> 3% Profit Fee</p>
            <% else %>
               <p class="font-11 opacity-50 mt-n1">To skip the waitlist you agree to uphold all Oarlin standards and be transparent about trades taken. You agree that investing comes with the risk of loosing all your money.</p>
               <p><i class="fa fa-check color-green-dark"></i> Manage Automated Strategies</p>
               <p><i class="fa fa-check color-green-dark"></i> Adjust Risk &amp; Reward Anytime</p>
               <p><i class="fa fa-check color-green-dark"></i> Communicate Performaance with Followers</p>
               <p><i class="fa fa-check color-green-dark"></i> Remain Profitable</p>
               <p><i class="fa fa-check color-green-dark"></i> Pause Your Plan Anytime</p>
               <p><i class="fa fa-check color-green-dark mb-4"></i> 3% Profit Fee</p>
            <% end %>
         </div>
      </a>
      <a href="<%= @session['url'] %>" class="col-12">
         <div class="card card-style">
            <div class="list-group list-custom-small">
                <div class="splide single-slider slider-no-arrows slider-no-dots splide--loop splide--ltr splide--draggable is-active" id="single-slider-1" style="visibility: visible;">
                 <div class="splide__arrows">
                   <button class="splide__arrow splide__arrow--prev" type="button" aria-controls="single-slider-1-track" aria-label="Go to last slide">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                       <path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path>
                     </svg>
                   </button>
                   <button class="splide__arrow splide__arrow--next" type="button" aria-controls="single-slider-1-track" aria-label="Next slide">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                       <path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path>
                     </svg>
                   </button>
                 </div>
               </div>
           </div>
         </div>
      </a>
   <% else %>
      <a href="<%= @session['url'] %>" class="col-12">
         <div class="card card-style me-2 mb-2">
            <h1 class="pt-4">Join Oarlin</h1>
            <p class="mb-0 pb-0 font-20 text-uppercase opacity-40">Click To Start</p>
            <i class="fa fa-<%= params['memberType'] == 'user' ? 'user' : params['memberType'] == 'captain' ? 'users' : 'star' %> color-highlight-dark fa-3x mt-5"></i>
            <h1 class="pt-4"><%= params['memberType'] == 'user' ? 'User' : params['memberType'] == 'captain' ? 'Captain' : 'Trader' %> Expectations</h1>
            <% if params['memberType'] == 'captain' %>
               <p class="font-11 opacity-50 mt-n1">To skip the waitlist you agree to uphold all Oarlin standards and recieve continued education related to trading financial markets successfully. You agree that investing comes with the risk of loosing all your money.</p>
               <p><i class="fa fa-check color-green-dark"></i> Learn How Oarlin Works</p>
               <p><i class="fa fa-check color-green-dark"></i> Explain The "Oarlin Plan"</p>
               <p><i class="fa fa-check color-green-dark"></i> Share The "Oarlin Plan" Ethically</p>
               <p><i class="fa fa-check color-green-dark"></i> Expand Your "Downline"</p>
               <p><i class="fa fa-check color-green-dark mb-4"></i> 3% Profit Fee</p>
            <% elsif params['memberType'] == 'user' %>
               <p class="font-11 opacity-50 mt-n1">To skip the waitlist you agree to uphold all Oarlin standards and not harass anyone. You agree that investing comes with the risk of loosing all your money.</p>
               <p><i class="fa fa-check color-green-dark"></i> Manage Your Assets</p>
               <p><i class="fa fa-check color-green-dark"></i> Adjust Risk &amp; Reward Anytime</p>
               <p><i class="fa fa-check color-green-dark"></i> Pause Your Plan Anytime</p>
               <p><i class="fa fa-check color-green-dark mb-4"></i> 3% Profit Fee</p>
            <% else %>
               <p class="font-11 opacity-50 mt-n1">To skip the waitlist you agree to uphold all Oarlin standards and be transparent about trades taken. You agree that investing comes with the risk of loosing all your money.</p>
               <p><i class="fa fa-check color-green-dark"></i> Manage Automated Strategies</p>
               <p><i class="fa fa-check color-green-dark"></i> Adjust Risk &amp; Reward Anytime</p>
               <p><i class="fa fa-check color-green-dark"></i> Communicate Performaance with Followers</p>
               <p><i class="fa fa-check color-green-dark"></i> Remain Profitable</p>
               <p><i class="fa fa-check color-green-dark"></i> Pause Your Plan Anytime</p>
               <p><i class="fa fa-check color-green-dark mb-4"></i> 3% Profit Fee</p>
            <% end %>
         </div>
      </a>
      <a href="<%= @session['url'] %>" class="col-12">
         <div class="card card-style ms-2 mb-3">
            <div class="list-group list-custom-small">
                <div class="splide single-slider slider-no-arrows slider-no-dots splide--loop splide--ltr splide--draggable is-active" id="single-slider-1" style="visibility: visible;">
                 <div class="splide__arrows">
                   <button class="splide__arrow splide__arrow--prev" type="button" aria-controls="single-slider-1-track" aria-label="Go to last slide">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                       <path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path>
                     </svg>
                   </button>
                   <button class="splide__arrow splide__arrow--next" type="button" aria-controls="single-slider-1-track" aria-label="Next slide">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                       <path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path>
                     </svg>
                   </button>
                 </div>
               </div>
           </div>
         </div>
      </a>
   <% end %>
</div>

