
<div class="header-clear-medium">
  <div data-card-height="240" class="card card-style rounded-m shadow-xl preload-img entered loaded" data-src="images/pictures/18w.jpg" data-ll-status="loaded" style="height: 240px; background-image: url(&quot;images/pictures/18w.jpg&quot;);">
      <div class="card-top mt-4 ms-3">
          <h1 class="color-white mb-0 mb-n2 font-22">
            <% if Stripe::Issuing::Card.retrieve(@profile['metadata']['issuedCard'] )['cardholder']['type'] == 'individual' %>
              <%= Stripe::Issuing::Card.retrieve(@profile['metadata']['issuedCard'] )['cardholder']['individual']['first_name'] %> <%= Stripe::Issuing::Card.retrieve(@profile['metadata']['issuedCard'] )['cardholder']['individual']['last_name'] %>
            <% else %>

            <% end %>
          </h1>
          <p class="bottom-0 color-white opacity-50 under-heading font-11 font-700">**** **** **** <%= Stripe::Issuing::Card.retrieve(@profile['metadata']['issuedCard'] )['last4'] %></p>
      </div>
      <div class="card-top mt-4 me-3">
          <a href="<%= new_deposit_path %>" data-menu="menu-add-funds" class="mt-1 float-end text-uppercase font-900 font-11 btn btn-s rounded-s shadow-l bg-highlight">New Deposit</a>
      </div>
      <div class="card-center text-center">
          <h1 class="color-white fa-4x"><%= number_to_currency(@balance, precision: 2) %></h1>
          <p class="color-white opacity-70 font-11 mb-n5">Balance</p>
      </div>
      <div class="card-bottom">
          <p class="ms-3 font-10 font-500 opacity-50 color-white mb-2">Exp: <%= Stripe::Issuing::Card.retrieve(@profile['metadata']['issuedCard'] )['exp_month'] %>/<%= Stripe::Issuing::Card.retrieve(@profile['metadata']['issuedCard'] )['exp_year'] %></p>
      </div>
      <div class="card-bottom">
          <p class="text-end me-3 font-10 font-500 opacity-50 color-white mb-2"><i class="fa fa-cc-visa font-20 rotate-90"></i></p>
      </div>
      <div class="card-overlay bg-black opacity-70"></div>
  </div>
  <div class="d-flex content mb-1">
    <div class="flex-grow-1">
      <h1 class="font-700">Transaction History</h1>
      <!--  <%= Stripe::Issuing::Card.retrieve(@profile['metadata']['issuedCard'] )['exp_month'] %> -->
      
    </div>
  </div>
  <div class="card card-style">
      <div class="content mb-0">
          <!-- <h4 class="font-700 text-uppercase font-12 opacity-30 mb-3 mt-n2">Account History</h4> -->
          <div class="row mb-3">
              <div class="col-4"><p class="font-14 mb-0 font-800 color-theme text-start">Date</p></div>
              <div class="col-4"><p class="font-14 mb-0 font-800 color-theme text-center">Item</p></div>
              <div class="col-4"><p class="font-14 mb-0 font-800 color-theme text-end">Amount</p></div>
              <div class="divider w-100 mb-2 mt-2"></div>
              <% if @builtPayload.present? %>
                <% @builtPayload.flatten.sort_by{|e| e[:created]}.reverse.each do |transa| %> 
                  <div class="col-4"><p class="font-13 mb-0 font-500 color-theme text-start">
                    <%= DateTime.strptime((transa[:created].to_i.to_s),'%s').to_date.strftime('%b, %d %Y') %></p></div>
                  <div class="col-4"><p class="font-13 mb-0 font-800 color-theme text-center"><%= transa[:item] %></p></div>
                  <div class="col-4"><p class="font-13 mb-0 font-800 color-theme text-end"><%= number_to_currency(transa[:amount] * 0.01, precision: 2) %></p></div>
                <% end %>
              <% else %>
                <p class="bottom-0 opacity-50 under-heading font-20 text-center font-700">NO TRANSACTIONS</p>
              <% end %>
          </div>
      </div>    
  </div>
</div>

