<% autoTradingMonthlyMembership = Stripe::Price.retrieve(ENV['autoTradingMonthlyMembership']) %>
<% autoTradingAnnualMembership = Stripe::Price.retrieve(ENV['autoTradingAnnualMembership']) %>
<div class="header-clear-medium">   
  <% if current_user %>
    <div class="card card-style mt-2">
      <div class="content text-center">
          <h1 class="text-center">Your Membership Was Found</h1>
          <p class="boxed-text-l mb-n1 font-14">Do You Want To Upgrade?</p>
          <div class="font-11 pb-2 text-center"><%= mail_to "team@oarlin.com", "EMAIL US" %></div>
      </div><!-- #sprint2 -->
    </div>
  <% end %>
<!-- 
  <div class="card card-style bg-theme pb-0">
    <div class="content text-center">
        After 'Step 3' your Trading as a Service (TAAS) profile is complete. <br><%= mail_to "team@oarlin.com", "EMAIL US" %> to check if your broker has been integrated. 
        <h1>
          1. Sign Up
        </h1>
        Broker account required.
        <h1>
          2. Authorize Oarlin
        </h1>
        Paste your Broker API keys.
        <h1>
          3. List Your Assets
        </h1>
          What will you trade?<br>

    </div>
  </div>  --> 

  

<!--  <div class="card card-style">
     <div class="content">
        <h1>Why You Love Oarlin<i class="fa fa-trophy float-end font-16 pt-1 color-yellow-dark"></i></h1>
        <p class="font-20">Trader Benefits</p>
        <div class="row text-center mb-0">
           <div class="col-6">
              <i class="fa fa-trophy color-yellow-dark fa-4x mb-3"></i>
              <h6 class="text-uppercase font-700">Best <br> Photographer</h6>
              <p>
                 Best Photographer on Envato Awards
              </p>
           </div>
           <div class="col-6">
              <i class="fa fa-certificate fa-4x color-blue-dark mb-3"></i>
              <h6 class="text-uppercase font-700">Best<br>Gallery</h6>
              <p>
                 Best Photo Gallery on Envato Awards
              </p>
           </div>
           <div class="col-12 pb-5"></div>
           <div class="col-6">
              <i class="fa fa-award color-red-dark fa-4x mb-3"></i>
              <h6 class="text-uppercase font-700">Best<br>Support</h6>
              <p>
                 Best Customer Support on Envato Awards
              </p>
           </div>
           <div class="col-6">
              <i class="fa fa-medal fa-4x color-brown-dark mb-3"></i>
              <h6 class="text-uppercase font-700">Best<br>Updates</h6>
              <p>
                 Best Product Updates on Envato Awards
              </p>
           </div>
        </div>
     </div>
  </div> -->
  <%= render 'search/dailydiscount', codes: @codes %>
  <div class="card card-style bg-highlight-dark">
     <div class="content pb-0">
        <p class="mb-2 font-34 color-white text-center">Join Free</p>
        <p class="mb-2 font-22 color-white text-center">Trading as a Service (TAAS)</p>
        <a href="<%= new_user_registration_path %>?&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>" class="btn btn-full btn-m rounded-s bg-pink-dark text-uppercase font-700 color-white border-green">Join Free</a> <!-- upgrade or downgrade #sprint2 -->
     </div>
  </div>
<!--     <div class="card card-style">
       <div class="content">
          <h1>How To Sign Up - Traders<i class="fa fa-trophy float-end font-16 pt-1 color-yellow-dark"></i></h1>
          <p class="font-20">Completing Your SetupTakes 3 Minutes</p>
          <div class="row text-center mb-0">
             <div class="col-6">
                <i class="fa fa-trophy color-yellow-dark fa-4x mb-3"></i>
                <h6 class="text-uppercase font-700">Best <br> Photographer</h6>
                <p>
                   Best Photographer on Envato Awards
                </p>
             </div>
             <div class="col-6">
                <i class="fa fa-certificate fa-4x color-blue-dark mb-3"></i>
                <h6 class="text-uppercase font-700">Best<br>Gallery</h6>
                <p>
                   Best Photo Gallery on Envato Awards
                </p>
             </div>
             <div class="col-12 pb-5"></div>
             <div class="col-6">
                <i class="fa fa-award color-red-dark fa-4x mb-3"></i>
                <h6 class="text-uppercase font-700">Best<br>Support</h6>
                <p>
                   Best Customer Support on Envato Awards
                </p>
             </div>
             <div class="col-6">
                <i class="fa fa-medal fa-4x color-brown-dark mb-3"></i>
                <h6 class="text-uppercase font-700">Best<br>Updates</h6>
                <p>
                   Best Product Updates on Envato Awards
                </p>
             </div>
          </div>
       </div>
    </div> -->
  <div class="row text-center mb-0">
    <% if request.user_agent.include?('Mobile') %>
       <a href="index.html" class="col-12 mt-2" style='pointer-events: none;'>
          <div class="card card-style me-2 mb-2">
             <div class="ps-2 align-self-center">
                <img src="/assets/Oarlin_free-file.jpg" data-src="/assets/Oarlin_free-file.png" width="90" height="90" class="rounded-circle mt-3 shadow-xl preload-img entered loaded" data-ll-status="loaded">
             </div>
             <h1 class="pt-4">Monthly</h1>
             <div class="list-group list-custom-small">
                <% autoTradingMonthlyMembership['metadata'].each do |point| %>
                 <p><i class="fa fa-check color-green-dark"></i> <%= point[0] %> </p>
                    <div class="divider mb-2 mt-1"></div>
                <% end %>
                <p><i class="fa fa-check color-green-dark"></i>  3% Profit Fee </p>
                  
              </div>
          </div>
       </a>
       <div class="text-center col-12 mt-2">
          <a href="/invite?interval=month&memberType=user&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>" class="btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dark">Join Monthly Waitlist</a> <!-- upgrade or downgrade #sprint2 -->
          <a href="/skip-waitlist?&interval=month&memberType=user&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>" class="btn btn-full btn-sm rounded-sm font-10 text-uppercase font-700 mt-3 bg-highlight">Skip Monthly Waitlist</a> <!-- upgrade or downgrade #sprint2 -->
          
        </div>
       <a href="index-components.html" class="col-12 mt-2" style='pointer-events: none;'>
          <div class="card card-style ms-2 mb-3">
              <div class="ps-2 align-self-center">
                <img src="/assets/Oarlin_free-file.jpg" data-src="/assets/Oarlin_free-file.png" width="90" height="90" class="rounded-circle mt-3 shadow-xl preload-img entered loaded" data-ll-status="loaded">
             </div>
             <h1 class="pt-4">Annual</h1>
             <div class="list-group list-custom-small">
                <% autoTradingMonthlyMembership['metadata'].each do |point| %>
                    
                    <p><i class="fa fa-check color-green-dark"></i> <%= point[0] %> </p>
                    <div class="divider mb-2 mt-1"></div>
                <% end %>
                <p><i class="fa fa-check color-green-dark"></i>  3% Profit Fee </p>
                  
                
            </div>
          </div>
       </a>
        <div class="text-center col-12 mt-2">
            <a href="/invite?interval=annual&memberType=user&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>" class="btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dark">Join Annual Waitlist</a> <!-- upgrade or downgrade #sprint2 -->
            <a href="/skip-waitlist?&interval=annual&memberType=user&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>" class="btn btn-full btn-sm rounded-sm font-10 text-uppercase font-700 mt-3 bg-highlight">Skip Annual Waitlist</a> <!-- upgrade or downgrade #sprint2 -->
            
        </div>
    <% else %>
       <a href="index.html" class="col-6" style='pointer-events: none;'>
          <div class="card card-style me-2 mb-2">
             <div class="ps-2 align-self-center">
                <img src="/assets/Oarlin_free-file.jpg" data-src="/assets/Oarlin_free-file.png" width="90" height="90" class="rounded-circle mt-3 shadow-xl preload-img entered loaded" data-ll-status="loaded">
             </div>
             <h1 class="pt-4">Monthly</h1>
             <div class="list-group list-custom-small">
                <% autoTradingMonthlyMembership['metadata'].each do |point| %>
                 <p><i class="fa fa-check color-green-dark"></i> <%= point[0] %> </p>
                    <div class="divider mb-2 mt-1"></div>
                <% end %>
                <p><i class="fa fa-check color-green-dark"></i>  3% Profit Fee </p>
                  
              </div>
          </div>
       </a>
       <a href="index-components.html" class="col-6" style='pointer-events: none;'>
          <div class="card card-style ms-2 mb-3">
              <div class="ps-2 align-self-center">
                <img src="/assets/Oarlin_free-file.jpg" data-src="/assets/Oarlin_free-file.png" width="90" height="90" class="rounded-circle mt-3 shadow-xl preload-img entered loaded" data-ll-status="loaded">
             </div>
             <h1 class="pt-4">Annual</h1>
             <div class="list-group list-custom-small">
                <% autoTradingMonthlyMembership['metadata'].each do |point| %>
                    
                    <p><i class="fa fa-check color-green-dark"></i> <%= point[0] %> </p>
                    <div class="divider mb-2 mt-1"></div>
                <% end %>
                <p><i class="fa fa-check color-green-dark"></i>  3% Profit Fee </p>
                  
                
            </div>
          </div>
       </a>
    <% end %>
     <% if request.user_agent.include?('Mobile') %>
       
     <% else %>
        <div class="text-center col-6">
          <a href="/invite?interval=month&memberType=user&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>" class="btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dark">Join Monthly Waitlist</a> <!-- upgrade or downgrade #sprint2 -->
          <a href="/skip-waitlist?&interval=month&memberType=user&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>" class="btn btn-full btn-sm rounded-sm font-10 text-uppercase font-700 mt-3 bg-highlight">Skip Monthly Waitlist</a> <!-- upgrade or downgrade #sprint2 -->
          
        </div>
        <div class="text-center col-6">
            <a href="/invite?interval=annual&memberType=user&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>" class="btn btn-full btn-m rounded-s text-uppercase font-700 color-highlight-dark border-highlight-dark">Join Annual Waitlist</a> <!-- upgrade or downgrade #sprint2 -->
            <a href="/skip-waitlist?&interval=annual&memberType=user&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>" class="btn btn-full btn-sm rounded-sm font-10 text-uppercase font-700 mt-3 bg-highlight">Skip Annual Waitlist</a> <!-- upgrade or downgrade #sprint2 -->
            
        </div>
      <% end %>
  </div>

</div>


