<% catcher =  @prob1.sample %>
<div class="page-content pb-4">
  <div class="card" style="background-image: url(/assets/img_9942_original_720.jpg); height: 668px;">
    <div class="card-top mx-3 mt-6">
      <div class="content mb-0 text-center">
      </div>
    </div>
    <div class="card-bottom mb-5 mx-3">
      <div class="content mb-0 text-center">
         <div class="align-self-center">
            <img src="/assets/kyneticlogo.png" data-src="/assets/kyneticlogo.png" width="120" height="120" class="rounded-circle mt-3 shadow-xl preload-img entered loaded" data-ll-status="loaded">
         </div>
        <% if request.user_agent.include?('Mobile') %>
           <h1 class="mb-0 font-22 color-white text-center mt-2"><%= @headlines.sample %></h1>
           <h1 class="mt-2 mb-0 font-16 color-white text-center"><%= @subline.sample %></h1>
        <% else %>
           <h1 class="mb-0 font-30 color-white text-center mt-2"><%= @headlines.sample %></h1>
           <h1 class="mt-2 mb-0 font-20 color-white text-center"><%= @subline.sample %></h1>
        <% end %> 
        <div class="col-12">
          <!-- <a href="/traders?&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>}" data-back-button="" class="btn btn-full btn-m mt-3 rounded-sm shadow-xl border-purple-dark bg-theme font-800 text-uppercase">Start Trial Trading</a> -->
          <!-- <a href="/auto-trading?&referredBy=<%= params[:splitSession] %>" data-back-button="" class="btn btn-full btn-m mt-3 rounded-sm shadow-xl bg-highlight font-800 text-uppercase">Start Unlimited Trading</a> -->
        </div>
      </div>
    </div>
    <div class="card-overlay bg-black opacity-80"></div>
  </div>
</div>
<div class="card card-style pt-4">
  <div class="content">
     <h1 class="text-uppercase font-900 font-20 ">Start Training Today</h1>
      <p class='font-20'>Get in shape with Kynetic Fitness! Led by Kyndal McKnight, a former LSU Track & Field athlete, our personalized training programs will deliver results fast. From tailored workout plans to in-person and virtual sessions, we have you covered. Plus, our nutritional coaching will optimize your fitness journey. Don't wait, start with a free consultation now!</p>
  </div>
</div>
<div class="content">
  
  <div class="divider"></div>
   <h1 class="color-highlight text-uppercase font-700 mb-1">Workout Plans</h1>
  <!-- <%= render 'search/dailydiscount', codes: @codes %> -->
  <% if request.user_agent.include?('Mobile') %> 
          <a href="#" class="btn btn-full btn-sm rounded-sm font-10 text-uppercase font-700 mt-3 bg-highlight">1X Week</a>
          <a href="#" class="btn btn-full btn-sm rounded-sm font-10 text-uppercase font-700 mt-3 bg-highlight">2X Week</a>
          <a href="#" class="btn btn-full btn-sm rounded-sm font-10 text-uppercase font-700 mt-3 bg-highlight">3X Week</a>
          <a href="#" class="btn btn-full btn-sm rounded-sm font-10 text-uppercase font-700 mt-3 bg-highlight">4X Week</a>
  <% else %>  

    <div class="row">
       <div class="col-3">
          <a href="#" class="btn btn-full btn-sm rounded-sm font-10 text-uppercase font-700 mt-3 bg-highlight">1X Week</a>
       </div>
       <div class="col-3">
          <a href="#" class="btn btn-full btn-sm rounded-sm font-10 text-uppercase font-700 mt-3 bg-highlight">2X Week</a>
       </div>
       <div class="col-3">
          <a href="#" class="btn btn-full btn-sm rounded-sm font-10 text-uppercase font-700 mt-3 bg-highlight">3X Week</a>
       </div>
       <div class="col-3">
          <a href="#" class="btn btn-full btn-sm rounded-sm font-10 text-uppercase font-700 mt-3 bg-highlight">4X Week</a>
       </div>
    </div>
  <% end %>
</div>
