<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :country %>
    <%= form.select :country, [['Australia', 'AU'], ['Belgium', 'BE'], ['Brazil', 'BR'], ['Canada', 'CA'], ['China', 'CN'], ['France', 'FR'], ['Germany', 'DE'], ['India', 'IN'], ['Italy', 'IT'], ['Japan', 'JP'], ['Mexico', 'MX'], ['Netherlands', 'NL'], ['Poland', 'PL'], ['Saudi Arabia', 'SA'], ['Singapore', 'SG'], ['Spain', 'ES'], ['Sweden', 'SE'], ['United Arab Emirates', 'AE'], ['United Kingdom', 'GB'], ['United States', 'US']], required: true, class: 'lp-pom-form-field', style: 'background-color: #1b6a62;' %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags %>
  </div>

  <div class="field">
    <%= form.label :asin %>
    <%= form.text_field :asin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
