<div class="header-clear-medium">
    <div class="card card-style">
      <div class="content text-center">
        <h1 class="font-700 font-20 opacity-50 text-center mt-4">Recommended Products</h1>
        <h1 class="font-700 font-15 opacity-50 text-center"><%= User::ACCEPTEDcountries[params[:country]][:country] %> Amazon</h1>
        <span class="flag-icon flag-icon-<%= params[:country].downcase %> display-1"></span>
       
      </div>
    </div>
    <div class="row mb-0">
      <div class="col-6 pe-0">
        <% if @callToRain[0].present? %>

          <a href="/product/<%= @callToRain[0]['asin'].parameterize(separator: '-') %>?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="card card-style mb-2" style="background-image: url('<%= @callToRain[0]['images'].split(',').sample %>');height: 135px;" data-card-height="135">
              <div class="card-top text-center">
                <% @callToRain[0]['tags'].split(',').shuffle.take(1).each do |tag| %>
                  <span class="badge float-end bg-green-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                <% end %>
              </div>
              <div class="card-bottom p-3">
                  <h5 class="color-white font-500 font-14 mb-n1">
                      <%= @callToRain[0]['brand'] %>
                  </h5>
                  <span class="color-white opacity-50 font-10">
                    Added <%= "Added #{time_ago_in_words(@callToRain[0]['created_at'])}" %> ago</span>
              </div>
              <div class="card-overlay bg-black opacity-70"></div>
          </a>
        <% end %>
        <% if @callToRain[1].present? %>
          <a href="/product/<%= @callToRain[1]['asin'].parameterize(separator: '-') %>" class="card card-style mb-2" data-card-height="135" style="background-image: url('<%= @callToRain[0]['images'].split(',').sample %>');height: 135px;">
              <div class="card-top text-center">
                <% @callToRain[1]['tags'].split(',').shuffle.take(1).each do |tag| %>
                  <span class="badge float-end bg-yellow-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                <% end %>
              </div>
              <div class="card-bottom p-3">
                  <h5 class="color-white font-500 font-14 mb-n1"><%= @callToRain[1]['brand'] %></h5>
                  <span class="color-white opacity-50 font-10"><%= "Added #{time_ago_in_words(@callToRain[1]['created_at'])}" %> ago</span>
              </div>
              <div class="card-overlay bg-black opacity-70"></div>
          </a>
        <% end %>
      </div>
      <div class="col-6 ps-0">
        <% if @callToRain[2].present? %>
          <a href="/product/<%= @callToRain[2]['asin'].parameterize(separator: '-') %>" class="card card-style ms-0" style="background-image: url('<%= @callToRain[0]['images'].split(',').sample %>')" data-card-height="280" style="height: 280px;">
              <div class="card-top text-center">
                <% @callToRain[2]['tags'].split(',').shuffle.take(1).each do |tag| %>
                  <span class="badge float-end bg-orange-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                <% end %>
              </div>
              <div class="card-bottom p-3">
                  <h5 class="color-white font-500"><%= @callToRain[2]['brand'] %></h5>
                  <span class="color-white opacity-50 font-10"><%= "Added #{time_ago_in_words(@callToRain[2]['created_at'])}" %> ago</span>
              </div>
              <div class="card-overlay bg-black opacity-70"></div>
          </a>
        <% end %>
      </div>
    </div>

    <div class="row mb-0 mt-n3">
      <div class="col-6 pe-0">
        <% if @callToRain[3].present? %>
          <a href="/product/<%= @callToRain[3]['asin'].parameterize(separator: '-') %>" class="card card-style" style="background-image: url('<%= @callToRain[0]['images'].split(',').sample %>');height: 280px;" data-card-height="280" style="">
              <div class="card-top text-center">
                <% @callToRain[3]['tags'].split(',').shuffle.take(1).each do |tag| %>
                  <span class="badge float-end bg-red-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                <% end %>
              </div>
              <div class="card-bottom p-3">
                  <h5 class="color-white font-500"><%= @callToRain[3]['brand'] %></h5>
                  <span class="color-white opacity-50 font-10"><%= "Added #{time_ago_in_words(@callToRain[3]['created_at'])}" %> ago</span>
              </div>
              <div class="card-overlay bg-black opacity-80"></div>
          </a>
        <% end %>
      </div>
      <div class="col-6 ps-0">
        <% if @callToRain[4].present? %>
          <a href="/product/<%= @callToRain[4]['asin'].parameterize(separator: '-') %>" class="card ms-0 card-style mb-2" data-card-height="135" style="background-image: url('<%= @callToRain[0]['images'].split(',').sample %>');height: 135px;">
              <div class="card-top text-center">
                  <% @callToRain[4]['tags'].split(',').shuffle.take(1).each do |tag| %>
                    <span class="badge float-end bg-brown-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                  <% end %>
              </div>
              <div class="card-bottom p-3">
                  <h5 class="color-white font-500 font-14 mb-n1"><%= @callToRain[4]['brand'] %></h5>
                  <span class="color-white opacity-50 font-10"><%= "Added #{time_ago_in_words(@callToRain[4]['created_at'])}" %> ago</span>
              </div>
              <div class="card-overlay bg-black opacity-70"></div>
          </a>
        <% end %>
        <% if @callToRain[5].present? %>
          <a href="/product/<%= @callToRain[5]['asin'].parameterize(separator: '-') %>" class="card ms-0 card-style mb-2" data-card-height="135" style="background-image: url('<%= @callToRain[0]['images'].split(',').sample %>');height: 135px;">
              <div class="card-top text-center">
                  <% @callToRain[5]['tags'].split(',').shuffle.take(1).each do |tag| %>
                    <span class="badge float-end bg-blue-dark p-2 text-uppercase rounded-s m-2"><%= tag %></span>
                  <% end %>
              </div>
              <div class="card-bottom p-3">
                  <h5 class="color-white font-500 font-14 mb-n1"><%= @callToRain[5]['brand'] %></h5>
                  <span class="color-white opacity-50 font-10"><%= "Added #{time_ago_in_words(@callToRain[5]['created_at'])}" %> ago</span>
              </div>
              <div class="card-overlay bg-black opacity-70"></div>
          </a>
        <% end %>
      </div>
    </div>
</div>

<% if @products.total_pages > 1 %>
  <nav aria-label="pagination-demo">
      <ul class="pagination justify-content-center">
          <% if params['page'].to_i > 1 %>
            <li class="page-item">
                <a class="page-link rounded-xs bg-highlight color-white py-2 border-0" href="/product?page=<%= params['page'].to_i - 1 %>&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left"></i></a>
            </li>
          <% end %>
          <% @products.total_pages.times do |pageNum|%>

            <li class="page-item"><a class="page-link rounded-xs py-2 bg-highlight color-white border-0" disabled='true' href="/product?page=<%= pageNum + 1 %>&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>"><%= pageNum + 1 %></a></li>
          <% end %>
          <% if params['page'].to_i < @products.total_pages %>
            <li class="page-item">
                <a class="page-link rounded-xs bg-highlight color-white py-2 border-0" href="/product?page=<%= params['page'].present? ? params['page'].to_i + 1 : 2 %>&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>"><i class="fa fa-angle-right"></i></a>
            </li>
          <% end %>
      </ul>
  </nav>
<% end %>