<div class="header-clear-medium">
  <h1 class="font-700 font-30 opacity-50 mb-4 text-center mt-4">Explore Amazon Globally</h1>
  <% if current_user&.admin? %>
    <%= link_to 'New Product', "/product/new", class: 'btn btn-m btn-full mb-3 rounded-sm text-uppercase font-900 color-highlight bg-theme' %>
  <% end %>
    <div class="content">
      <!-- <h1 class="font-20 line-height-m pb-2">Explore Amazon Products</h1> -->
      <div class="splide single-slider slider-no-dots slider-arrows splide--loop splide--ltr splide--draggable is-active" id="single-slider-3" style="visibility: visible;">
          <div class="splide__track" id="single-slider-3-track">
              <div class="splide__list" id="single-slider-3-list" style="transform: translateX(-975px);">
                <% User::ACCEPTEDcountries.keys.each do |country| %>
                  <% if Product.all.map(&:country).uniq.include?(country) %>
                    <div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1">
                        <div data-card-height="350" class="card mx-1 rounded-m shadow-l" style="height: 350px;">
                            <div class="card-top text-center mt-4">
                              <span class="flag-icon flag-icon-<%= country.downcase %>" style="font-size: 250px;"></span><br>
                              <h1 class="font-700 font-40 opacity-50 text-center mt-4"><%= User::ACCEPTEDcountries[country][:country] %></h1>
                            </div>
                        </div>
                        <div class="content text-center mb-4">
                          <a href="/explore/<%= country %>?&referredBy=<%=current_user&.present? ? current_user&.uuid : params['referredBy']%>" class='btn btn-full form-control text-uppercase font-900 bg-highlight rounded-s mb-4'>
                            <%= button_tag( :class => "") do %>
                              <i class="fa fa-amazon font-20 color-white"></i><p class="font-20 color-white"> EXPLORE</p>
                            <% end %>
                          </a>
                        </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
          </div>
          <ul class="splide__pagination"><li><button class="splide__pagination__page" type="button" aria-controls="single-slider-3-slide01 single-slider-3-slide02" aria-label="Go to page 1"></button></li><li><button class="splide__pagination__page is-active" type="button" aria-controls="single-slider-3-slide02 single-slider-3-slide03" aria-label="Go to page 2" aria-current="true"></button></li></ul>
      </div>
    </div>
</div>