<div class="header-clear-medium"> 
 <!-- <%= @callToRain %>  -->
  <% if request.user_agent.include?('Mobile') %>
      <div class="splide single-slider slider-no-arrows slider-no-dots" id="single-slider-12">
        <div class="splide__track">
            <div class="splide__list">
              <% @callToRain['images'].split(',').reject(&:blank?).each do |img| %>
                <div class="splide__slide">
                    <div class="card rounded-m shadow-l mx-1" data-card-height="300" style="height:96vh; background-image:url(<%= img %>)">
                    </div>
                </div>
              <% end %>
            </div>
        </div>
      </div>
  <% else %>
      <div class="splide tripple-slider slider-no-arrows slider-no-dots" id="tripple-slider-12423">
        <div class="splide__track">
            <div class="splide__list">
              <% @callToRain['images'].split(',').reject(&:blank?).each do |img| %>
                <div class="splide__slide">
                    <div class="card rounded-m shadow-l mx-1" data-card-height="300" style="height:96vh; background-image:url(<%= img %>)">
                    </div>
                </div>
              <% end %>
            </div>
        </div>
      </div>
  <% end %>

  <div class="d-flex mt-4 mb-4">
      <div class="flex-grow-1">
        <div class="font-20 text-center">
          Share With The World <%= social_share_button_tag("Title", :url => "https://#{request.env['HTTP_HOST']}&referredBy=#{current_user&.present? ? current_user&.uuid : params['referredBy']}", :image =>  "https://images.mktw.net/im-720056?width=700&height=466", desc: truncate("Body", length: 50)) %>
        </div>
      </div>
  </div>
          
  

  <% if @callToRain['reviews'].present? %>
    <div class="content row">
      <a href="#" data-menu="flag-country-explained" class="btn btn-s text-uppercase font-900 bg-highlight mb-4 rounded-sm"><i class="font-20 color-white px-1 fa fa-amazon"></i><span class="flag-icon flag-icon-<%= @country %> font-20"></span></a>
      <div class="me-auto"> 
        <% @callToRain['tags'].split(',').each do |tag| %> 
            <% if tag.present? %>
              <span class="badge no-click bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark p-2 text-uppercase rounded-s mb-3"><%= tag %></span>
            <% end %>
        <% end %>
      </div>
        
      </div>
    <div class="card card-style">

      <div class="content">
          <h2>Verified Reviews</h2>
          <p>
              Awesome feedback from customers that we wanted to share with you!
          </p>
      </div>
      <% @callToRain['reviews'].shuffle.reject{|review| review['verified_purchase'] == false}.reject{|review| review['rating'] <= 3}.sample(3).each do |review| %>

        <div class="content mt-4">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <h1 class="float-start fa-4x font-900 me-3"><%= review['rating'] %>/5</h1>
                    <h5 class="font-11 font-500 mb-n2">From <%= User::ACCEPTEDcountries[review['review_country']][:country] %></h5>
                    <span>
                      <% review['rating'].times do  %>
                        <i class="fa fa-star color-yellow-dark"></i>
                      <% end %>
                      <% (5-review['rating']).times do  %>
                        <i class="fa fa-star color-grey-dark"></i>
                      <% end %>
                    </span>
                </div>
                <div>
                    <h6 class="text-end"><%= review['profile']['name'] %></h6>
                </div>
            </div>
            <p class="mt-3"><%= review['body'].split('Read more')[0] %></p>
        </div>
      <% end %>
      <div class="splide single-slider slider-no-dots slider-no-arrows splide--loop splide--ltr splide--draggable is-active" id="single-slider-3" style="visibility: visible;">
        <div class="splide__track" id="single-slider-3-track">
            <div class="splide__list" id="single-slider-3-list" style="transform: translateX(-975px);">
              <% User::ACCEPTEDcountries.keys.each do |country| %>
                <div class="splide__slide splide__slide--clone" aria-hidden="true" tabindex="-1">
                    <div class="content text-center mb-4">
                      <a href="<%= amazon_path(asin: params['asin'].downcase, country: country) %>/?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" target='_blank' class='btn btn-full btn-m font-900 text-uppercase rounded-sm bg-yellow-dark form-control'>
                        <%= button_tag( :class => "") do %>
                          <i class="fa fa-amazon font-20 color-white"></i><i class="flag-icon flag-icon-<%= country %> font-20"></i><p class="font-15 color-white"> CHECK AMAZON <%= country.upcase %></p>
                        <% end %>
                      </a>
                    </div>
                </div>
              <% end %>
            </div>
        </div>
        
         <p class="text-center">SLIDE BUTTON TO VIEW MORE OPTIONS</p>
      </div>


          
      <div class="divider divider-margins mb-3"></div>
          
    </div>
  <% end %>


  <%= render 'application/getpaidaffiliates', message: ['Get paid to share products like this one!'.titleize, 'Share this page for a chance to earn commission!'.titleize].sample, title: ['You could earn commission'.titleize, 'explore, share, earn'.titleize].sample %>   
  
  
  <% if current_user %>
      <div class="card card-overflow card-style">
        <div class="content">
                      <div class="row">
                        <h1 class="opacity-50 text-center mb-4"><i class="fa fa-list"></i> Start Promoting</h1>
                        <h1 class="opacity-50 text-center mb-4"><i class="fa fa-heart"></i> Save For You</h1>
                        <% if @profileMetadata.present? && @profileMetadata['tracking'].present? && @profileMetadata['tracking'].split(',').include?("#{params['asin'].downcase}-#{@callToRain['country']}") %>
                          <a href="<%= list_path(id: params['asin'].downcase, remove: true)  %>&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="icon icon-xs rounded-pill color-white"><i class="fa fa-list color-highlight"></i></a>
                        <% else %>
                          <a href="<%= list_path(id: params['asin'].downcase, country: @callToRain['country'])  %>&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="icon icon-xs rounded-pill bg-highlight"><i class="fa fa-list"></i></a>
                        <% end %>
                      </div>
                      <div class="row">

                        <% if @profileMetadata.present? && @profileMetadata['wishlist'].present? && @profileMetadata['wishlist'].split(',').include?("#{params['asin'].downcase}-#{@callToRain['country']}") %>
                          <a href="<%= loved_path(id: params['asin'].downcase, remove: true)  %>&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="icon icon-xs rounded-pill color-white"><i class="fa fa-heart color-highlight"></i></a>
                        <% else %>
                          <a href="<%= loved_path(id: params['asin'].downcase, country: @callToRain['country'])  %>&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="icon icon-xs rounded-pill bg-highlight"><i class="fa fa-heart"></i></a>

                        <% end %>
                      </div>
            <!-- add renderforest Keywords via response 'keywords_list' -->

            <div class="divider mt-4"></div>

            

        </div>
      </div>
  <% end %>

  <% if @posts.present? %>
    <div class="card card-style">
      <div class="content mb-4">
          <h2>Read about this product!</h2>
      </div>
      <div class="splide single-slider slider-no-arrows slider-no-dots" id="single-slider-1">
          <div class="splide__track">
              <div class="splide__list">
                <% @posts.each do |post| %>
                  <div class="splide__slide">
                      <div data-card-height="230" class="card mx-3 rounded-m shadow-l bg-13">
                          <div class="card-bottom text-center">
                              <h2 class="color-white font-900 mb-4"><%= post.title %></h2>
                              <a href="<%= blog_path(id: post) %>&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class='btn btn-m font-900 text-uppercase rounded-sm bg-highlight btn-full me-2 ms-2 mb-2'>
                                <%= button_tag( :class => "") do %>
                                  <i class="fa fa-book font-20 color-white text-center"></i> Read
                                <% end %>
                              </a>
                          </div>
                          <div class="card-overlay bg-gradient"></div>
                      </div>
                  </div>
                <% end %>
              </div>
          </div>
      </div>
    </div>
  <% end %>
  


  <div id="flag-country-explained" class="menu menu-box-modal rounded-m" data-menu-width="330" style="display: block; width: 330px;">
    <div class="content">
      <div class="text-center">
        <span class="font-40 icon icon-xxl fa fa-amazon"></span>
      </div>
      <h5 class="text-center">This Icon Means There Are Amazon Affiliate Links Present</a>
      </h5>
      <small>This Page Contains Amazon Affiliate Links That Will Earn That Affiliate Commission If Purchased. We Automate This Process For All Amazon Associates &amp; Pay Commission On Our Memberships As Well. Oarlin Commissions Only Available In USA</small>
      <a data-menu="modal-wizard-step-2">
        <%= button_tag( :class => "btn btn-full btn-m font-900 text-uppercase rounded-sm bg-highlight form-control mt-4 mb-4") do %>
          <span class="flag-icon flag-icon-<%= @country %> font-20"></span> What Does This Icon Mean?
        <% end %>
      </a>  
    </div>
  </div>

  <div id="modal-wizard-step-2" class="menu menu-box-modal rounded-m" data-menu-width="330" style="display: block; width: 330px;">
    <div class="content mb-2">
      <div class="text-center">
        <span class="flag-icon flag-icon-<%= @country %> font-40"></span>
      </div>
      <h5 class="text-center">This Icon Means The Amazon Affiliate Links Originate From <%= User::ACCEPTEDcountries[@country][:country] %>. </a>
      </h5>
      <small>Affiliates From Other Countries May Be Eligible. Check With Amazon Or Contact Us To Help. These Products May Not Be Available For Purchase In All Countries.</small>
   
    </div>
  </div>
</div>